schema/Common_20100831.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	******************************************************************
	Yhteiset tyypit joita käytetään useissa eri skeemoissa.
	Skeema on JHS-170 -suosituksen mukainen.
	*******************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/common/2010/08/31"
	xmlns="http://standardit.tapio.fi/schemas/forestData/common/2010/08/31"
	xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common/basicDataTypes/2010/08/31"
	elementFormDefault="unqualified"
	version="1.4">
	
    <!-- VERSIOKOMMENTIT 1.0 >>> 1.1 -->
    <!-- Uusi määrittely aikaleimalle "TimeStampType". -->
    <!-- Uusi määrittely valuutoille "CurrencyType". -->
    <!-- Lisätty puulajeja puukaupan puutavaralajien tiedonsiirtotarpeisiin -->
    <!-- Runkolajimäärittelyt siirretty tänne puukaupan puutavaralajien tiedonsiirtotarpeisiin liittyen -->
    <!-- Lisätty puutavaran määrän yksikkömäärittelyt puukaupan tiedonsiirtotarpeisiin. -->
    <!-- VERSIOKOMMENTIT 1.1 >>> 1.2 -->
    <!-- Lisätty tyypin "ExtraStemTypeType" määrittelyihin enumeratiivi 105 "Latvusmassa". -->
	<!-- Tyypin "StoreyType" koodiston arvon 5 selite vaihdettu ja lisätty arvo 6. -->
	<!-- Tyypin "ChangeState" koodistoon lisätty arvo 10. -->
	<!-- Lisätty tyyppi "IdentifierTypeType". -->	
	<!-- Tyypin "IdentifierTypeType" koodistoa täydennetty arvoilla 101 - 110. -->
    <!-- VERSIOKOMMENTIT 1.2 >>> 1.3 -->
	<!-- Korjattu IdentifierType tyypiksi IdentifierTypeType. -->
    <!-- VERSIOKOMMENTIT 1.3 >>> 1.4 -->
	<!-- Lisätty tyyppi "TreeClassType" -->	
	
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/basicDataTypes/2010/08/31"
			    schemaLocation="Common_BasicDataType_20100831.xsd"/>

	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="ChangeState" type="ChangeStateType"/>
	<xs:element name="ChangeTime" type="ChangeTimeType"/>
	<xs:element name="TimeStamp" type="TimeStampType"/>
	<xs:element name="DataSource" type="DataSourceType"/>
	<xs:element name="TreeSpecies" type="TreeSpeciesType"/>
	<xs:element name="StemType" type="StemTypeType"/>
	<xs:element name="Storey" type="StoreyType"/>
	<xs:element name="Age" type="AgeType"/>
	<xs:element name="BasalArea" type="BasalAreaType"/>
	<xs:element name="StemCount" type="StemCountType"/>
	<xs:element name="Diameter" type="DiameterType"/>
	<xs:element name="Height" type="HeightType"/>
	<xs:element name="Volume" type="VolumeType"/>
	<xs:element name="SawLogPercent" type="SawLogPercentType"/>
	<xs:element name="SawLogVolume" type="SawLogVolumeType"/>
	<xs:element name="PulpWoodVolume" type="PulpWoodVolumeType"/>
	<xs:element name="VolumeGrowth" type="VolumeGrowthType"/>
	<xs:element name="LeafBiomass" type="LeafBiomassType"/>
	<xs:element name="BranchBiomass" type="BranchBiomassType"/>
	<xs:element name="StemBiomass" type="StemBiomassType"/>
	<xs:element name="StumpBiomass" type="StumpBiomassType"/>
	<xs:element name="Biomass" type="BiomassType"/>
	<xs:element name="Identifiers" type="IdentifiersType"/>
	<xs:element name="Identifier" type="IdentifierType"/>
	<xs:element name="IdentifierType" type="IdentifierTypeType"/>
	<xs:element name="IdentifierValue" type="IdentifierValueType"/>
	
	<!-- Tyyppimäärittelyt -->
	<!-- Type definitions -->
	<xs:simpleType name="ChangeStateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tiedon muutostila. Muutostilalla voidaan esittää tiedon muutos suhteessa alkuperäiseen tietolähteeseen.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Modified state of data. Change from original value</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ei muutoksia</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Value not changed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Poistettu</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Deleted</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lisätty</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Inserted</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Päivitetty</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Updated</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ei saa muokata</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Not allowed to modify</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ChangeTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tiedon muutosaika. Muutosajalla voidaan verrata tiedon muutosta suhteessa alkuperäiseen tietolähteeseen (onko tieto muuttunut alkuperäisessä tietolähteessä).</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Last modified time of data</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bdt:TimeStampType"/>
	</xs:simpleType>
	
	<xs:simpleType name="TimeStampType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tiedon tuottavan järjestelmän tuottama tiedon luonti-/päivityshetki.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Implemented by system. Insertion/update time for record produced by data sender.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bdt:TimeStampType"/>
	</xs:simpleType>
	
	<xs:simpleType name="DataSourceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksilöi tiedon tuottajan esim. organisaatio. Merkityksen määrittää aina viime kädessä tiedon tuottaja (yhdessä vastaanottajan kanssa). Standardissa ei määritetä yhteisesti sovittuja koodeja, koska tämä koodisto on sisällöltään vakiintumaton ja uusia tarpeita voi ilmetä tulevaisuudessa.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Datasource code. Meaning is defined by the one who produced the information (in cooperation with the one who receives the information). No common codes are defined because this coding is relatively unstable and needs for modification may occur in the future.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{0,4}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TreeSpeciesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puulajikoodi</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Tree species</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mänty</xs:documentation>
					<xs:documentation xml:lang="sv">Tall</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuusi</xs:documentation>
					<xs:documentation xml:lang="sv">Gran</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Rauduskoivu</xs:documentation>
					<xs:documentation xml:lang="sv">Vårtbjörk</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hieskoivu</xs:documentation>
					<xs:documentation xml:lang="sv">Glasbjörk</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Haapa</xs:documentation>
					<xs:documentation xml:lang="sv">Asp</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Harmaaleppä</xs:documentation>
					<xs:documentation xml:lang="sv">Gråal</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tervaleppä</xs:documentation>
					<xs:documentation xml:lang="sv">Klibbal</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muu havupuu</xs:documentation>
					<xs:documentation xml:lang="sv">Annat barrträdslag</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muu lehtipuu</xs:documentation>
					<xs:documentation xml:lang="sv">Annat lövträdslag</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Douglaskuusi</xs:documentation>
					<xs:documentation xml:lang="sv">Douglasgran</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kataja</xs:documentation>
					<xs:documentation xml:lang="sv">En</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kontortamänty</xs:documentation>
					<xs:documentation xml:lang="sv">Contortatall</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kynäjalava</xs:documentation>
					<xs:documentation xml:lang="sv">Vresalm</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lehtikuusi</xs:documentation>
					<xs:documentation xml:lang="sv">Lärkträd</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="15">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsälehmus</xs:documentation>
					<xs:documentation xml:lang="sv">Skogslind</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="16">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mustakuusi</xs:documentation>
					<xs:documentation xml:lang="sv">Svartgran</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="17">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Paju</xs:documentation>
					<xs:documentation xml:lang="sv">Vide</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="18">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pihlaja</xs:documentation>
					<xs:documentation xml:lang="sv">Rönn</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="19">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pihta</xs:documentation>
					<xs:documentation xml:lang="sv">Pichtagran</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="20">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Raita</xs:documentation>
					<xs:documentation xml:lang="sv">Sälg</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="21">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Saarni</xs:documentation>
					<xs:documentation xml:lang="sv">Ask</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="22">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Sembramänty</xs:documentation>
					<xs:documentation xml:lang="sv">Cembratall</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="23">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Serbiankuusi</xs:documentation>
					<xs:documentation xml:lang="sv">Omorikagran</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="24">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tammi</xs:documentation>
					<xs:documentation xml:lang="sv">Ek</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="25">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tuomi</xs:documentation>
					<xs:documentation xml:lang="sv">Hägg</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="26">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vaahtera</xs:documentation>
					<xs:documentation xml:lang="sv">Lönn</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="27">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Visakoivu</xs:documentation>
					<xs:documentation xml:lang="sv">Masurbjörk</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="28">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vuorijalava</xs:documentation>
					<xs:documentation xml:lang="sv">Skogsalm</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="29">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lehtipuu</xs:documentation>
					<xs:documentation xml:lang="sv">Lövträd</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="30">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Havupuu</xs:documentation>
					<xs:documentation xml:lang="sv">Barrträd</xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ExtraTreeSpeciesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Esim. puutavaralajien yhteydessä käytetyt lisäpuulajikoodit.</xs:documentation>
			<xs:documentation xml:lang="en">Extra tree species for e.g. assortments.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="103">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koivu</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="106">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Leppä</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="StemTypeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Puutavaralajin runkolaji, esim. tukki, kuitu, runko, kanto, energiapuu, pikkutukki, parru</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stem type of assortment.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value = "1">
                <xs:annotation>
                    <xs:documentation xml:lang = "fi">Tukki</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value = "2">
                <xs:annotation>
                    <xs:documentation xml:lang = "fi">Pikkutukki</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value = "3">
                <xs:annotation>
                    <xs:documentation xml:lang = "fi">Parru</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value = "4">
                <xs:annotation>
                    <xs:documentation xml:lang = "fi">Pylväs</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value = "5">
                <xs:annotation>
                    <xs:documentation xml:lang = "fi">Kuitu</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value = "6">
                <xs:annotation>
                    <xs:documentation xml:lang = "fi">Vaneri</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value = "7">
                <xs:annotation>
                    <xs:documentation xml:lang = "fi">Sellu</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value = "8">
                <xs:annotation>
                    <xs:documentation xml:lang = "fi">Energiapuu</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value = "9">
                <xs:annotation>
                    <xs:documentation xml:lang = "fi">Kannot</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value = "10">
                <xs:annotation>
                    <xs:documentation xml:lang = "fi">Hakkuutähde</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value = "11">
                <xs:annotation>
                    <xs:documentation xml:lang = "fi">Runko</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value = "12">
                <xs:annotation>
                    <xs:documentation xml:lang = "fi">Rungon osa</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value = "13">
                <xs:annotation>
                    <xs:documentation xml:lang = "fi">Erikoistyvi</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="ExtraStemTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puutavaralajin lisärunkolajikoodit.</xs:documentation>
			<xs:documentation xml:lang="en">Extra stem types for assortment.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="101">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kokopuu (oksa- ja neulasmassa mukana)</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="102">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ranka (karsittua, ei oksa ja neulasmassaa mukana)</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="103">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hake (haketettua materiaalia)</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="104">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Murske (murskattua materiaalia)</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="105">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Latvusmassa</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="StoreyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen jakso.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Storey of stratum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vallitseva jakso</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Alempi jakso</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ylempi jakso</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Säästöpuusto</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kaukokartoitus</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Poistettava puusto</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="AgeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ikä, v.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Age, years</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BasalAreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Pohjapinta-ala, m2/ha</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Basal area, m2/ha</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="bdt:Decimal4TotalDigitsType 
							   bdt:Decimal2FractionDigitsType"/>
	</xs:simpleType>
	
	<xs:simpleType name="StemCountType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Runkoluku, kpl/ha</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Number of stems / ha</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{0,5}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DiameterType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Läpimitta, cm.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Diameter, cm</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="bdt:Decimal4TotalDigitsType 
							   bdt:Decimal2FractionDigitsType"/>
	</xs:simpleType>
	
	<xs:simpleType name="HeightType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Pituus, m</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Height, m</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="bdt:Decimal4TotalDigitsType 
							   bdt:Decimal2FractionDigitsType"/>
	</xs:simpleType>
	
	<xs:simpleType name="VolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tilavuus, m3/ha</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Volume, m3/ha</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="bdt:Decimal5TotalDigitsType 
							   bdt:Decimal2FractionDigitsType"/>
	</xs:simpleType>
	
	<xs:simpleType name="SawLogPercentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tukkiosuus %.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Percent of saw log, %.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="bdt:PercentType 
							   bdt:Decimal1FractionDigitType"/>
	</xs:simpleType>
	
	<xs:simpleType name="SawLogVolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tukkitilavuus, m3/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Volume of saw log, m3/ha.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="bdt:Decimal5TotalDigitsType
							   bdt:Decimal2FractionDigitsType"/>
	</xs:simpleType>
	
	<xs:simpleType name="PulpWoodVolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuitutilavuus, m3/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Volume of pulp wood, m3/ha.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="bdt:Decimal5TotalDigitsType
							   bdt:Decimal2FractionDigitsType"/>
	</xs:simpleType>
	
	<xs:simpleType name="VolumeGrowthType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tilavuuskasvu, m3/ha/v.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Growth of volume, m3/ha/year.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="bdt:Decimal5TotalDigitsType
							   bdt:Decimal2FractionDigitsType"/>
	</xs:simpleType>
	
	<xs:simpleType name="LeafBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen lehtien biomassa, t/ha</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Leaf biomass of stratum, ton/ha</xs:documentation>
		</xs:annotation>
		<xs:restriction base="BiomassType"/>
	</xs:simpleType>
	
	<xs:simpleType name="BranchBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen oksien biomassa, t/ha</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Branch biomass of stratum, ton/ha</xs:documentation>
		</xs:annotation>
		<xs:restriction base="BiomassType"/>
	</xs:simpleType>
	
	<xs:simpleType name="StemBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen runkojen biomassa, t/ha</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stem biomass of stratum, ton/ha</xs:documentation>
		</xs:annotation>
		<xs:restriction base="BiomassType"/>
	</xs:simpleType>
	
	<xs:simpleType name="StumpBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen kantojen biomassa, t/ha</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stump biomass of stratum, ton/ha</xs:documentation>
		</xs:annotation>
		<xs:restriction base="BiomassType"/>
	</xs:simpleType>
	
	<xs:simpleType name="BiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Biomassa, t/ha</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Biomass, ton/ha</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="bdt:Decimal5TotalDigitsType
							   bdt:Decimal2FractionDigitsType"/>
	</xs:simpleType>

	<xs:complexType name="IdentifiersType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tietueen tunnisteet.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Identifiers of data row</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Identifier" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IdentifierType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksittäinen tietueen tunniste.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Single identifier of data row</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="IdentifierType"/>
			<xs:element ref="IdentifierValue"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="IdentifierBaseType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tunnisteen laji.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Type of identifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<xs:simpleType name="IdentifierValueType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tunnisteen arvo.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Value of identifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<xs:simpleType name="QuantityUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puutavaralajin määrän yksiköt.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Quantity units for assortments (cubic meters etc).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kiintokuutiometri (m3), kuorellinen tilavuus</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kiintokuutiometri (m3), kuoreton tilavuus</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Megawattitunti (MWh)</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Irtokuutiometri (m3)</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tonni (t = 1000 kg)</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CurrencyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Valuutat.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Supported currencies.</xs:documentation>		
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="EUR">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Euro (esim. sata euroa 100.00).</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EURc">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Eurosentit (esim. sata euroa 10000).</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="IdentifierTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tunnisteen laji. Tiedonsiirron osapuolet määrittelevät tyyppien 101 - 110 merkitykset tapauskohtaisesti.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Type of identifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Alue. Aluetunniste.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohko. Lohkotunniste.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsäsuunnitelma. Metsäsuunnitelman tunniste.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Inventointialue. Inventointialuetunniste. Inventointialueen tai muun vastaavan tiedon tuottajaosapuolen aluejaon tunniste.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tiedon tuottaja. Tallentajatunniste. Tiedon tallentajaan, inventoijaan tai suunnittelijaan viittaava tunniste.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion / tunnuspisteen kuvaustapa / laji.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion tilaa kuvaava tunnus.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="101">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tyyppi 1.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="102">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tyyppi 2.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="103">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tyyppi 3.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="104">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tyyppi 4.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="105">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tyyppi 5.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="106">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tyyppi 6.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="107">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tyyppi 7.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="108">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tyyppi 8.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="109">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tyyppi 9.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="110">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tyyppi 10.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TreeClassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puuluokka.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Tree class.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kehityskelvoton</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>		
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Normaali</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Juurivaurioitunut</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkovaurioitunut</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Viljelytaimi</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Luonnontaimi</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Täydentävä taimi</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuollut/kelvoton viljelytaimi</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kanto</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Siemenpuu</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MeanHeightType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Keskipituus, m.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Mean height, m.</xs:documentation>
		</xs:annotation>
	    <xs:union memberTypes="HeightType bdt:EmptyStringType"/>
	</xs:simpleType>
</xs:schema>