schema/Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	******************************************************************
	Yhteiset tyypit joita käytetään useissa eri skeemoissa.
	Skeema on JHS-170 -suosituksen mukainen.
     VERSIOKOMMENTIT 1.0 >>> 1.1 
     Uusi määrittely aikaleimalle "TimeStampType". 
     Uusi määrittely valuutoille "CurrencyType". 
     Lisätty puulajeja puukaupan puutavaralajien tiedonsiirtotarpeisiin 
     Runkolajimäärittelyt siirretty tänne puukaupan puutavaralajien tiedonsiirtotarpeisiin liittyen 
     Lisätty puutavaran määrän yksikkömäärittelyt puukaupan tiedonsiirtotarpeisiin. 
     VERSIOKOMMENTIT 1.1 >>> 1.2 
     Lisätty tyypin "ExtraStemTypeType" määrittelyihin enumeratiivi 105 "Latvusmassa". 
	 Tyypin "StoreyType" koodiston arvon 5 selite vaihdettu ja lisätty arvo 6. 
	 Tyypin "ChangeState" koodistoon lisätty arvo 10. 
	 Lisätty tyyppi "IdentifierTypeType". 	
	 Tyypin "IdentifierTypeType" koodistoa täydennetty arvoilla 101 - 110. 
     VERSIOKOMMENTIT 1.2 >>> 1.3 
	 Korjattu IdentifierType tyypiksi IdentifierTypeType. 
     VERSIOKOMMENTIT 1.3 >>> 1.4 
	 Lisätty tyyppi "TreeClassType" 	
	 VERSIOKOMMENTIT 1.4 >>> 1.5 
	 Lisätty skeema ForestEnumeratives_20130620.xsd 
	 Lisätty skeema ForestEnumeratives_20130620.xsd 
	 VERSIOKOMMENTIT 1.5 >>> 1.6
	 Lisätty tyypit: 
		ReferenceType
		AdditionalInfo
		DocumentType
		DocumentClassType
		DocumentDescriptionType
		MessageType
	 15.8.2014  Yhdistetty skeemat Common.xsd,Common_BasicDataType.xsd,ForestEnumeratives.xsd
	 yhdeksi namespaceksi: xmlns="http://standardit.tapio.fi/schemas/forestData/common" 
	 
	 VERSIOKOMMENTIT 1.6 >>> 1.7
	 8.4.2015 
	 -NotDefinedType lisätty
	 -AgeType määritystä muutettu hyväksymään -1 arvoksi, kun ikää ei ole annettu 
	 
	VERSIOKOMMENTIT 1.7 >>> 1.8
	10.4.2015 Otettu käyttön lokaali xmlmime skeema
	
	VERSIOKOMMENTIT 1.8 >>> 1.9
	24.4.2015 Vanha AgeType määritys otettu takaisin käyttön. 'Ei määritelty' tieto pakollisessa kentässä olisi loogisesti ristiriitaista,
	ja päätettiin  (Metsätietojen standardoinnin valmisteluryhmän kokouksessa 13.4.2015 )
	että tieto on aina pakollinen ja ei mahdollisestat 'Ei määritelty' vaihtoehdon antamista.
	
	VERSIOKOMMENTIT 1.9 >>> 2.0
	MessageType: Päivitetty viestien lyhenteet nykyistä vastaaviksi
	*******************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="unqualified" version="1.9">

	<!-- Imports / Includes -->
	<xs:include schemaLocation="Common_BasicDataType.xsd"/>
	<xs:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="../w3c/2005/xmlmime.xsd"/>

	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="ChangeState" type="ChangeStateType"/>
	<xs:element name="ChangeTime" type="ChangeTimeType"/>
	<xs:element name="TimeStamp" type="TimeStampType"/>
	<xs:element name="DataSource" type="DataSourceType"/>
	<xs:element name="StratumNumber" type="StratumNumberType"/>
	<xs:element name="StemType" type="StemTypeType"/>
	<xs:element name="Storey" type="StoreyType"/>
	<xs:element name="Age" type="AgeType"/>
	<xs:element name="BasalArea" type="BasalAreaType"/>
	<xs:element name="StemCount" type="StemCountType"/>
	<xs:element name="Diameter" type="DiameterType"/>
	<xs:element name="Height" type="HeightType"/>
	<xs:element name="Volume" type="VolumeType"/>
	<xs:element name="SawLogPercent" type="SawLogPercentType"/>
	<xs:element name="SawLogVolume" type="SawLogVolumeType"/>
	<xs:element name="PulpWoodVolume" type="PulpWoodVolumeType"/>
	<xs:element name="VolumeGrowth" type="VolumeGrowthType"/>
	<xs:element name="LeafBiomass" type="LeafBiomassType"/>
	<xs:element name="BranchBiomass" type="BranchBiomassType"/>
	<xs:element name="StemBiomass" type="StemBiomassType"/>
	<xs:element name="StumpBiomass" type="StumpBiomassType"/>
	<xs:element name="Biomass" type="BiomassType"/>
	<xs:element name="Area" type="AreaType"/>
	<xs:element name="Identifiers" type="IdentifiersType"/>
	<xs:element name="Identifier" type="IdentifierType"/>
	<xs:element name="IdentifierType" type="IdentifierTypeType"/>
	<xs:element name="IdentifierValue" type="IdentifierValueType"/>
	<xs:element name="Reference" type="ReferenceType"/>
	<xs:element name="Document" type="DocumentType"/>
	<xs:element name="DocumentClass" type="DocumentClassType"/>
	<xs:element name="DocumentDescription" type="DocumentDescriptionType"/>
	<xs:element name="FileBinary" type="xmime:base64Binary"/>
	<xs:element name="DocumentFileName" type="DocumentFileNameType"/>
	<xs:element name="FileType" type="FileTypeType"/>

	<!-- Tyyppimäärittelyt -->
	<!-- Type definitions -->
	<xs:simpleType name="ChangeTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tiedon muutosaika. Muutosajalla voidaan verrata tiedon muutosta suhteessa alkuperäiseen tietolähteeseen (onko tieto muuttunut alkuperäisessä tietolähteessä).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Last modified time of data</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TimeStampType"/>
	</xs:simpleType>
	
	<xs:simpleType name="CompleteStateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tiedon valmiustilalla esitetään tietojen sisällön valmiusaste, onko tiedot valmiit/keskeneräiset.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Is it data completed collect or some way incomplete.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="YesNoType"/>
	</xs:simpleType>
	
	<xs:simpleType name="DataSourceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksilöi tiedon tuottajan esim. organisaatio. Merkityksen määrittää aina viime kädessä tiedon tuottaja (yhdessä vastaanottajan kanssa). Standardissa ei määritetä yhteisesti sovittuja koodeja, koska tämä koodisto on sisällöltään vakiintumaton ja uusia tarpeita voi ilmetä tulevaisuudessa.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Datasource code. Meaning is defined by the one who produced the information (in cooperation with the one who receives the information). No common codes are defined because this coding is relatively unstable and needs for modification may occur in the future.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{0,4}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="StratumNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen numero.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Number of tree stratum.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AgeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ikä, v.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Age, years</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BasalAreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Pohjapinta-ala, m2/ha</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Basal area, m2/ha</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Decimal3And2PositiveType"/>
	</xs:simpleType>

	<xs:simpleType name="StemCountType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Runkoluku, kpl/ha</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Number of stems / ha</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{0,5}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DiameterType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Läpimitta, cm.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Diameter, cm</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Decimal2And2PositiveType"/>
	</xs:simpleType>

	<xs:simpleType name="HeightType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Pituus, m</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Height, m</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Decimal2And2PositiveType"/>
	</xs:simpleType>

	<xs:simpleType name="VolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tilavuus, m3/ha</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Volume, m3/ha</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Decimal3And2PositiveType"/>
	</xs:simpleType>

	<xs:simpleType name="SawLogPercentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tukkiosuus %.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Percent of saw log, %.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="PercentWithFraction1Type"/>
	</xs:simpleType>

	<xs:simpleType name="SawLogVolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tukkitilavuus, m3/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Volume of saw log, m3/ha.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Decimal3And2PositiveType"/>
	</xs:simpleType>

	<xs:simpleType name="PulpWoodVolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuitutilavuus, m3/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Volume of pulp wood, m3/ha.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Decimal3And2PositiveType"/>
	</xs:simpleType>

	<xs:simpleType name="VolumeGrowthType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tilavuuskasvu, m3/ha/v.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Growth of volume, m3/ha/year.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Decimal3And2PositiveType"/>
	</xs:simpleType>

	<xs:simpleType name="LeafBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen lehtien biomassa, t/ha</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Leaf biomass of stratum, ton/ha</xs:documentation>
		</xs:annotation>
		<xs:restriction base="BiomassType"/>
	</xs:simpleType>

	<xs:simpleType name="BranchBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen oksien biomassa, t/ha</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Branch biomass of stratum, ton/ha</xs:documentation>
		</xs:annotation>
		<xs:restriction base="BiomassType"/>
	</xs:simpleType>

	<xs:simpleType name="StemBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen runkojen biomassa, t/ha</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Stem biomass of stratum, ton/ha</xs:documentation>
		</xs:annotation>
		<xs:restriction base="BiomassType"/>
	</xs:simpleType>

	<xs:simpleType name="StumpBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen kantojen biomassa, t/ha</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Stump biomass of stratum, ton/ha</xs:documentation>
		</xs:annotation>
		<xs:restriction base="BiomassType"/>
	</xs:simpleType>

	<xs:simpleType name="BiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Biomassa, t/ha</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Biomass, ton/ha</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Decimal3And2PositiveType"/>
	</xs:simpleType>
		
	<xs:simpleType name="AreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Pinta-ala hehtaareina.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Area, ha.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Decimal4FractionDigitsType"/>
	</xs:simpleType>
	
	<xs:complexType name="IdentifiersType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tietueen tunnisteet.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Identifiers of data row</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Identifier" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IdentifierType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksittäinen tietueen tunniste.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Single identifier of data row</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="IdentifierType"/>
			<xs:element ref="IdentifierValue"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="IdentifierBaseType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tunnisteen laji.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Type of identifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="IdentifierValueType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tunnisteen arvo.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Value of identifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="MeanHeightType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Keskipituus, m.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Mean height, m.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="HeightType EmptyStringType"/>
	</xs:simpleType>

	<xs:simpleType name="ReferenceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viite.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Reference.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Reference14Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viite, 14 merkkiä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Reference, 14 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="DocumentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Dokumentin tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Document data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="DocumentClass" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="DocumentDescription" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="DocumentFileName" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="FileType" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="FileBinary" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Dokumentti yksilöidään tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Document can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="DocumentDescriptionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Dokumentin sisällön kuvaus.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Document description.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentFileNameType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Dokumenttitiedoston nimi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Document file name.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FileTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Dokumenttitiedoston tyyppi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Document file type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	

</xs:schema>
