schema/CommonObjectData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Toimenpiteen toteumatiedot.
	Skeema on JHS-170 -suosituksen mukainen.
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V10.08:
	-Elementin Object lapsielementti SelfMonitoringBasicData otettu käyttöön poistamalla se kommenttitageista
	-Elementin Object lapsielementti RealEstates otettu käyttöön poistamalla se kommenttitageista
	-Elementin Object lapsielementti Actors otettu käyttöön poistamalla se kommenttitageista
	
	Muutokset skeemapakettiin V10.12:
	-Elementin Object lapsielementti WorkingSiteFinalAuditDraining poistettu käytöstä sijoittamalla se kommenttitageihin
	-Elementin Object lapsielementti WorkingSiteFinalAuditRoadMaking poistettu käytöstä sijoittamalla se kommenttitageihin
	
	Muutokset skeemapakettiin V10.13:
	-Elementti WorkingSiteFinalAuditHarvesting muutettu käyttämään viittausta (ref). Elementti tyypiltään SelfMonitoringFinalAuditHarvestingType. Vastaava elementtimäärittely lisätty skeematiedostoon.
	-Elementti WorkingSiteQualityControlCutting muutettu käyttämään viittausta (ref). Elementti tyypiltään SelfMonitoringWorkingSiteQualityControlCuttingType. Vastaava elementtimäärittely lisätty skeematiedostoon.
	-Elementti WorkingSiteFinalAuditPlantManagement muutettu käyttämään viittausta (ref). Elementti tyypiltään SelfMonitoringWorkingSiteFinalAuditPlantManagementType. Vastaava elementtimäärittely lisätty skeematiedostoon.
	-Elementti WorkingSiteQualityControlPlantManagement muutettu käyttämään viittausta (ref). Elementti tyypiltään SelfMonitoringWorkingSiteQualityControlPlantManagementType. Vastaava elementtimäärittely lisätty skeematiedostoon.
	-Elementti WorkingSiteFinalAuditSilviculture muutettu käyttämään viittausta (ref). Elementti tyypiltään SelfMonitoringWorkingSiteFinalAuditSilvicultureType. Vastaava elementtimäärittely lisätty skeematiedostoon.
	-Elementti WorkingSiteQualityControlSilviculture muutettu käyttämään viittausta (ref). Elementti tyypiltään SelfMonitoringWorkingSiteQualityControlSilvicultureType. Vastaava elementtimäärittely lisätty skeematiedostoon.
	-Elementti WorkingSiteFinalAuditSoilConditioning muutettu käyttämään viittausta (ref). Elementti tyypiltään SelfMonitoringWorkingSiteFinalAuditSoilCoditioningType. Vastaava elementtimäärittely lisätty skeematiedostoon.
	-Elementti WorkingSiteQualityControlSoilConditioning muutettu käyttämään viittausta (ref). Elementti tyypiltään SelfMonitoringWorkingSiteQualityControlSoilCoditioningType. Vastaava elementtimäärittely lisätty skeematiedostoon.
	
	Muutokset skeemapakettiin V10.14:
	-Täydennetty omavalvontarakenteen elementtien dokumentaatioita
	-Aiemmin piilotettuna ollut elementti StandBasicData on otettu uudelleen käyttöön poistamalla kommenttitagit elementin ympäriltä
	-Aiemmin piilotettuna ollut elementti Operations on otettu uudelleen käyttöön poistamalla kommenttitagit elementin ympäriltä
	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/commonObjectData"
	xmlns="http://standardit.tapio.fi/schemas/forestData/commonObjectData"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:ci="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	xmlns:re="http://standardit.tapio.fi/schemas/forestData/realEstate"
	xmlns:stb="http://standardit.tapio.fi/schemas/forestData/standbase"
	xmlns:st="http://standardit.tapio.fi/schemas/forestData/Stand"
	xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
	xmlns:ts="http://standardit.tapio.fi/schemas/forestData/treeStand"
	xmlns:op="http://standardit.tapio.fi/schemas/forestData/operation"
	xmlns:fac="http://standardit.tapio.fi/schemas/forestData/FinancingActCommon"
	xmlns:workingSiteFinalAuditDraining="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditDraining"
	xmlns:workingSiteFinalAuditHarvesting="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditHarvesting"
	xmlns:workingSiteQualityControlCutting="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlCutting"
	xmlns:workingSiteFinalAuditPlantManagement="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditPlantManagement"
	xmlns:workingSiteQualityControlPlantManagement="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlPlantManagement"
	xmlns:workingSiteFinalAuditRoadMaking="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditRoadMaking"
	xmlns:workingSiteFinalAuditSilviculture="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditSilviculture"
	xmlns:workingSiteQualityControlSilviculture="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSilviculture"
	xmlns:workingSiteFinalAuditSoilConditioning="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditSoilConditioning"
	xmlns:workingSiteQualityControlSoilConditioning="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSoilConditioning"
	xmlns:MapSymbol="http://standardit.tapio.fi/schemas/forestData/MapSymbol"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="V10.14">

	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/standbase"
		schemaLocation="StandBase.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/contactInformation"
		schemaLocation="ContactInformation.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/realEstate"
		schemaLocation="RealEstate.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/Stand"
		schemaLocation="Stand.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
		schemaLocation="Common_GeometricDataType.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/treeStand"
		schemaLocation="TreeStand.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/operation"
		schemaLocation="Operation.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/FinancingActCommon"
		schemaLocation="FinancingActCommon.xsd"/>
	<xs:import
		namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditDraining"
		schemaLocation="WorkingSiteFinalAuditDraining.xsd"/>
	<xs:import
		namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditHarvesting"
		schemaLocation="WorkingSiteFinalAuditHarvesting.xsd"/>
	<xs:import
		namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlCutting"
		schemaLocation="WorkingSiteQualityControlCutting.xsd"/>
	<xs:import
		namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditPlantManagement"
		schemaLocation="WorkingSiteFinalAuditPlantManagement.xsd"/>
	<xs:import
		namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlPlantManagement"
		schemaLocation="WorkingSiteQualityControlPlantManagement.xsd"/>
	<xs:import
		namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditRoadMaking"
		schemaLocation="WorkingSiteFinalAuditRoadMaking.xsd"/>
	<xs:import
		namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditSilviculture"
		schemaLocation="WorkingSiteFinalAuditSilviculture.xsd"/>
	<xs:import
		namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSilviculture"
		schemaLocation="WorkingSiteQualityControlSilviculture.xsd"/>
	<xs:import
		namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditSoilConditioning"
		schemaLocation="WorkingSiteFinalAuditSoilConditioning.xsd"/>
	<xs:import
		namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSoilConditioning"
		schemaLocation="WorkingSiteQualityControlSoilConditioning.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/MapSymbol"
		schemaLocation="MapSymbol.xsd"/>

	<!-- Element definitions -->
	<xs:element name="CommonObjectData" type="CommonObjectDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="AdditionalDetails" type="co:String2000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Sender" type="ci:ContactInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="UseCase" type="xs:string">
		<!-- MÄÄRITÄ KOODISTO -->
		<xs:annotation>
			<xs:documentation xml:lang="fi">KOODISTO</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Objects" type="ObjectsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Object" type="ObjectType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ObjectGeometry" type="ObjectGeometryType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Area" type="co:AreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Alueen geometrian kokonaispinta-ala hehtaareina</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="AreaDecrease" type="co:AreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Alueen vähennysala hehtaareina. Vähennysalalla tarkoitetaan muuhun kuin alueen pääasialliseen tarkoitukseen liittyvää pinta-alaa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ParentObjects" type="ParentObjectsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viittaukset muihin kohteisiin</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ParentObject" type="ParentObjectType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viittaus muuhun kohteeseen</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ParentObjectType" type="ObjectTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viitatun kohteen tyyppi</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ParentObjectTypeSpecifier" type="ObjectTypeSpecifierType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viitatun kohteen tyypin tarkenne, kun kyse muusta kohteesta.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ParentObjectId" type="co:IdStringNotEmptyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viitatun kohteen id</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Actors" type="ActorsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Actor" type="ActorType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="RealEstate" type="RealEstateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="StandBasicData" type="st:CompactStandBasicDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="SoilData" type="st:SoilDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="TreeStandBasedData" type="st:TreeStandBasedDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="RestrictionData" type="st:RestrictionDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="SpecialFeaturesControl" type="ControlDataSpecialFeatureType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkingSiteFinalAuditHarvesting"
		type="workingSiteFinalAuditHarvesting:SelfMonitoringFinalAuditHarvestingType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkingSiteQualityControlCutting"
		type="workingSiteQualityControlCutting:SelfMonitoringWorkingSiteQualityControlCuttingType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkingSiteFinalAuditPlantManagement"
		type="workingSiteFinalAuditPlantManagement:SelfMonitoringWorkingSiteFinalAuditPlantManagementType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkingSiteQualityControlPlantManagement"
		type="workingSiteQualityControlPlantManagement:SelfMonitoringWorkingSiteQualityControlPlantManagementType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkingSiteFinalAuditSilviculture"
		type="workingSiteFinalAuditSilviculture:SelfMonitoringWorkingSiteFinalAuditSilvicultureType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkingSiteQualityControlSilviculture"
		type="workingSiteQualityControlSilviculture:SelfMonitoringWorkingSiteQualityControlSilvicultureType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkingSiteFinalAuditSoilConditioning"
		type="workingSiteFinalAuditSoilConditioning:SelfMonitoringWorkingSiteFinalAuditSoilConditioningType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkingSiteQualityControlSoilConditioning"
		type="workingSiteQualityControlSoilConditioning:SelfMonitoringWorkingSiteQualityControlSoilConditioningType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>

	<!-- Tyyppimääritykset / Type definitions -->
	<xs:complexType name="CommonObjectDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsävaratietojen päivitystietojen (toteuma- ja muut tiedot) määrittely.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="AdditionalDetails" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Sender" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="UseCase" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Objects" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi"/>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en"/>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="ObjectsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Paikannetut kohteet -määrittely</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Geometry objects definition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Object" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ObjectType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Paikannetun kohteen määrittely.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Geometry object definition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ObjectGeometry" minOccurs="0" maxOccurs="1"/>
			<xs:group ref="ObjectDataGroup" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="co:IdStringNotEmptyType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Kohde voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Object can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="objectType" type="ObjectTypeType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Kohteen tyyppi</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en"/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="objectTypeSpecifier" type="ObjectTypeSpecifierType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Kohteen tyypin tarkenne</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en"/>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="ObjectDataGroup">
		<xs:sequence>
			<xs:element ref="ParentObjects" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Actors" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RealEstates" type="RealEstatesType" minOccurs="0"/>
			<!-- <xs:element ref="SoilData" minOccurs="0" maxOccurs="1"/> -->
			<!-- <xs:element ref="TreeStandBasedData" minOccurs="0" maxOccurs="1"/> -->
			<!-- <xs:element ref="RestrictionData" minOccurs="0" maxOccurs="1"/> -->
			<xs:element ref="StandBasicData" minOccurs="0" maxOccurs="1"/>
			<!-- <xs:element ref="ts:TreeStandData" minOccurs="0" maxOccurs="1"/> -->
			<xs:element ref="op:Operations" minOccurs="0" maxOccurs="1"/>
			<!-- <xs:element ref="st:SpecialFeatures" minOccurs="0" maxOccurs="1"/> -->
			<!-- <xs:element name="DamageData" type="DamageDataType" minOccurs="0"/> -->
			<!-- <xs:element name="ControlBasicData" type="ControlBasicDataType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tarkastuksen perustiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element> -->
			<!-- <xs:element name="ControlObjectBasicData" type="ControlObjectBasicDataType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tarkastettavan kohteen perustiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element> -->
			<!-- <xs:element name="ControlOverallEvaluationData" type="ControlOverallEvaluationDataType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kokonaisarvostelu</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element> -->
			<!-- <xs:element name="ControlStandBasicData" type="ControlStandBasicDataType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tarkastuskuvion perustieto</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element> -->
			<!-- <xs:element name="ControlDataRegeneration" type="RegenerationDataType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Uudistaminen</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element> -->
			<!-- <xs:element name="HarvestingSignData" type="HarvestingSignDataType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Korjuujälki</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element> -->
			<!-- <xs:element name="ControlDataMooseDamageData" type="MooseDamageDataType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hirvivahinko</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element> -->
			<!-- <xs:element name="SamplePlotBasicData" type="SamplePlotBasicDataType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan perustiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element> -->
			<!-- <xs:element name="ControlDataWaterSystemProtection" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vesiensuojelun tiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element> -->
			<!-- <xs:element name="ControlDataSpecialFeatures" type="ControlDataSpecialFeaturesType" minOccurs="0"/> -->
			<!-- <xs:element name="ControlEvaluations" type="ControlEvaluationsType" minOccurs="0"/> -->
			<!-- <xs:element name="ControlDataForestRoadConstruction" type="ControlDataForestRoadConstructionType" minOccurs="0"/> -->
			<!-- <xs:element name="ControlDataSwampForestManagement" type="ControlDataSwampForestManagementType" minOccurs="0"/> -->
			<xs:element minOccurs="0" name="SelfMonitoringBasicData"
				type="SelfMonitoringBasicDataType"/>
			<!-- <xs:element minOccurs="0" name="SelfMonitoringObjectData" type="SelfMonitoringObjectDataType"/> -->
			<!-- <xs:element minOccurs="0" name="SelfMonitoringObjectProtectionOperationsData" type="SelfMonitoringObjectProtectionOperationsDataType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Omavalvontakohteen ympäristön ja vesiensuojelun toimenpidetiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element> -->
			<!-- <xs:element minOccurs="0" name="SelfMonitoringEvaluations" type="SelfMonitoringEvaluationsType"/> -->
			<!-- <xs:element minOccurs="0" name="Documents" type="fac:DocumentsType"/> -->
			<!-- <xs:element ref="workingSiteFinalAuditDraining:WorkingSiteFinalAuditDraining"
				minOccurs="0"/> -->
			<xs:element ref="WorkingSiteFinalAuditHarvesting" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Korjuun omavalvonnan loppuarviointi/laadunseuranta</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingSiteQualityControlCutting" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Korjuun omavalvonnan koealatiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingSiteFinalAuditPlantManagement" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimikonhoidon omavalvonnan loppuarviointi/laadunseuranta</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingSiteQualityControlPlantManagement" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimikonhoidon omavalvonnan koealatiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<!-- <xs:element ref="workingSiteFinalAuditRoadMaking:WorkingSiteFinalAuditRoadMaking"
				minOccurs="0"/> -->
			<xs:element ref="WorkingSiteFinalAuditSilviculture" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Istutuksen omavalvonnan loppuarviointi/laadunseuranta</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingSiteQualityControlSilviculture" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Istutuksen omavalvonnan koealatiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingSiteFinalAuditSoilConditioning" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maanmuokkauksen omavalvonnan loppuarviointi/laadunseuranta</xs:documentation>
					<xs:documentation/>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingSiteQualityControlSoilConditioning" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Maanmuokkauksen omavalvonnan koealatiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="MapSymbol:MapSymbol" minOccurs="0"/>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="ObjectGeometryType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:ChangeState" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="co:ChangeTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Paikkatiedon muutosajankohta</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Area" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="AreaDecrease" minOccurs="0" maxOccurs="1"/>
			<xs:element minOccurs="0" name="Length" type="co:Decimal1FractionDigitType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Viivan pituus (alueen rajan tapauksessa rajan kokonaispituus), m</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Line length (borderline's total length), metres</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="gdt:AlternativeGeometriesGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="collectingMethod" type="co:CollectingMethodType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Sisältää tiedon geometrian keruumenetelmästä</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Includes information about acquisition method of geometry</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="ParentObjectsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viittaukset muihin kohteisiin</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Reference to other objects</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ParentObject" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ParentObjectType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ParentObjectType" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="ParentObjectTypeSpecifier" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ParentObjectId" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ObjectTypeType">
		<!-- ONKO TÄMÄ KOODISTO? -->
		<xs:annotation>
			<xs:documentation xml:lang="fi">KOODISTO</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="ObjectTypeSpecifierType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarkentaa ObjectType:ä, kun kyse muusta kohteesta. Vapaata tekstiä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:complexType name="ActorsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kohteeseen liittyvien toimijoiden -määrittely</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition for actors linked to object</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Actor" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ActorType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kohteeseen liittyvän toimijan -määrittely</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition for actor linked to object</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ci:ContactInformationType">
				<!--
				<xs:sequence>
					<xs:element ref="BankAccount" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				-->
				<xs:attribute name="actorType" type="ActorTypeType">
					<xs:annotation>
						<xs:documentation xml:lang="fi">Kohteen tyyppi</xs:documentation>
						<xs:documentation xml:lang="sv"/>
						<xs:documentation xml:lang="en"/>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="actorTypeSpecifier" type="ActorTypeSpecifierType">
					<xs:annotation>
						<xs:documentation xml:lang="fi">Kohteen tyypin tarkenne</xs:documentation>
						<xs:documentation xml:lang="sv"/>
						<xs:documentation xml:lang="en"/>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="ActorTypeType">
		<!-- ONKO TÄMÄ KOODISTO? -->
		<xs:annotation>
			<xs:documentation xml:lang="fi">KOODISTO</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hakkuoikeuden haltija</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsänkäyttöilmoituksen lähettäjä</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimenpiteen toteuttaja</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ActorTypeSpecifierType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarkentaa ActorType:ä, kun kyse muusta toimijasta. Vapaata tekstiä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:complexType name="RealEstateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kohteeseen liittyvän kiinteistön -määrittely</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition for real estate linked to object</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="re:BaseRealEstateType"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ControlDataSpecialFeatureType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Erityispiirteiden valvonnan -määrittely</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="HabitatCode" type="TwoDigitPositiveIntegerType">
				<xs:annotation>
					<xs:documentation>Kuviokohtainen lisätieto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HabitatType" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Elinympäristön tyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HabitatSurviving" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Elinympäristön säilyneisyys</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExceptionalPermitForHandling" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Poikkeuslupa elinympäristön käsittelylle</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HabitatLocation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ControlBasicDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TargetSelection" type="TargetSelectionType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kohdevalinta: 0=ei tarkastusta 1=otanta, 2=riskianalyysi 3=harkinta 4=manuaalinen otanta 9=poistettu tarkastuksesta. 10 = satunnaisotanta, 11 = suunnattu otanta (koodit 10 ja 11 MKI + LULA). Kohdevalinta on pakollinen tieto. Maastotallentimella voi päivittää vain kohdevalinnan 0 kohdevalinnaksi 2, 3, tai 4. Virran antamaa kohdevalintaa 1 ei voi muuttaa tai kopioida toiselle tietueelle maastotallentimella. Virrassa olevaa kohdevalintaa 1 ei päivitetä maastotallentimelta tulevalla tiedolla.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppliedArea" type="Decimal6_2Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ilmoitettu pinta-ala pohjatietona Mastovirrassa ja saadaan Virrasta maastotallentimelle. Kemeravirrassa tallennetaan. Kenttää ei käytetä työlajeilla 60, 70 ja 71. LT  Ilm. pala on oltava yhtä suuri kuin tietueen kuvioiden kipala -kenttien summa. </xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspectionDate" type="co:DateType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tarkastuksen pvm LT:pakollinen tieto.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtraInfo" type="co:String500Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tekstikenttä tarkastuksen lisätiedoille</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="TargetSelectionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kokonaisluku</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>

	<xs:simpleType name="Decimal6_2Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Max. 6-numeroinen luku, kahden desimaalin tarkkuudella</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="6"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ControlObjectBasicDataType">
		<xs:sequence>
			<xs:element name="ObjectReference" type="co:ReferenceType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">MKI-kuvion viite tai Kemera-kohteen viite</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetNumber" type="stb:StandNumberType">
				<xs:annotation>
					<xs:documentation>MKI-kuvion, Kemeran toteutusilmoituskuvion tai rahoitushakemuskuvion numero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetAnnouncedAmount" type="Decimal5_1Type">
				<xs:annotation>
					<xs:documentation>MKI-kuvion, Kemeran toteutusilmoituskuvion tai rahoitushakemuskuvion pinta-ala</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HabitatAdvertisement" type="TargetSelectionType">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="Decimal5_1Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Max. 5-numeroinen luku, yhden desimaalin tarkkuudella</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="HarvestingSignDataType">
		<xs:sequence>
			<xs:element name="RootDamagePercentage" type="xs:integer">
				<xs:annotation>
					<xs:documentation xml:lang="fi"/>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemDamagePercentage" type="xs:integer">
				<xs:annotation>
					<xs:documentation xml:lang="fi"/>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehiclePathMeanDistance" type="xs:integer">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ajourien väli, metriä. Laskentasääntö:koealatietojen uravälien keskiarvo pyöristettynä kokonaisluvuksi</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehiclePathMeanWidth" type="Decimal5_1Type">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ajourien leveys, metriä. Laskentasääntö: koealatietojen uraleveyksien keskiarvo</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehiclePathSubsidencePercentage" type="Decimal3_1Type">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urapainaumat, %. Laskentasääntö: 100*urapainumamittausten summa/urapainumamittausten lkm*30</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="CuttingByMachine" type="co:VirtaCuttingByMachineType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">1=kone, 2=metsuri</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="HarvestingSeason" type="co:VirtaHarvestingSeasonType">
				<xs:annotation>
					<xs:documentation>1=maa sulana, 2=maa jäässä</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- <xs:simpleType name="VehiclePathDistanceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Koealatietojen uravälien keskiarvo pyöristettynä kokonaisluvuksi (metriä).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType> -->

	<!-- <xs:simpleType name="VehiclePathWidthType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Koealatietojen uraleveyksien keskiarvo (metriä), yhden desimaalin tarkkuudella.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="4"/>
			<xs:fractionDigits value="1"/>
		</xs:restriction>
	</xs:simpleType> -->

	<!-- <xs:simpleType name="VehiclePathSubsidencePercentageType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Urapainaumat, %. Laskentasääntö: 100*urapainumamittausten summa/urapainumamittausten lkm*30</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="120"/>
		</xs:restriction>
	</xs:simpleType> -->

	<!-- <xs:simpleType name="CuttingByMachineType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hakkuun koneellisuus-koodisto</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:integer"> </xs:restriction>
	</xs:simpleType> -->

	<!-- <xs:simpleType name="SamplePlotTrackWidthType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Koealalla mitattu uraleveys (metriä), yhden desimaalin tarkkuudella.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="4"/>
			<xs:fractionDigits value="1"/>
		</xs:restriction>
	</xs:simpleType> -->

	<!-- <xs:simpleType name="SamplePlotTrackDepthType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Koealalla mitatut urapainumat (m/30m), yhden desimaalin tarkkuudella.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="4"/>
			<xs:fractionDigits value="1"/>
		</xs:restriction>
	</xs:simpleType> -->

	<!-- <xs:simpleType name="SamplePlotTrackDistanceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Koealalla mitattu uraväli (metriä), yhden desimaalin tarkkuudella.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="4"/>
			<xs:fractionDigits value="1"/>
		</xs:restriction>
	</xs:simpleType> -->

	<!-- <xs:simpleType name="HarvestingSeasonType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Korjuuajankohta. 1=maa sulana, 2=maa jäässä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:integer"> </xs:restriction>
	</xs:simpleType> -->

	<!-- <xs:simpleType name="StubStemCountType">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType> -->

	<!-- <xs:complexType name="SamplePlotTreeSummaryType">
		<xs:sequence>
			<xs:element name="SamplePlotMeanAge" type="co:AgeType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsikön ikä vuosissa</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotStubDiameter"
				type="co:PositiveDecimalMax2IntegralPartMax1FractionalPartType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kantojen keskiläpimitta cm. Niiden puutietojen dk arvojen keskiarvo, joiden puuluokka on 8.  dk arvoltaan tyhjiä rivejä ei huomioida laskennassa. Koealatason (4) dk arvoja laskettaessa huomioidaan vain ne puutietorivit,  joissa on syötetty dk arvo</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotMeanDiameter"
				type="co:PositiveDecimalMax2IntegralPartMax1FractionalPartType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan pohjapinta-alalla painotettu keskiläpimitta (cm). Lasketaan puutietojen läpimitoista, tai tallennetaan suoraan.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotMeanHeight"
				type="co:PositiveDecimalMax2IntegralPartMax1FractionalPartType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan keskipituus, m. Lasketaan puutiedoista, tai tallennetaan suoraan koealatasolle.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotDominantHeight"
				type="co:PositiveDecimalMax2IntegralPartMax1FractionalPartType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan valtapituus, m. Tallennetaan suoraan koealatasolle.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotBasalArea" type="co:BasalAreaType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">10 000 m2*muiden kuin puuluokaltaan arvot 0, 7 tai 8 omaavien puiden pohjapinta-alojen m2 summa/Koealan pinta-ala. Jos koealan puilla ei ole lpm tietoja, jätetään tyhjäksi manuaalista syöttöä varten, eikä laiteta nollaa. Ppa lasketaan tasolta 5 tasolle 4 vain jos jokaisella rivillä, jolle on syötetty lpm on syötetty myös lkm.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotStemCount" type="co:StemCountType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan runkoluku</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotVolume" type="co:VolumeType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan puuston tilavuus</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType> -->

	<xs:simpleType name="Decimal3_1Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Max. 3-numeroinen luku, yhden desimaalin tarkkuudella</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="3"/>
			<xs:fractionDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- <xs:complexType name="StandEvaluationDataType">
		<xs:sequence>
			<xs:element minOccurs="0" name="TargetExtraInfo" type="co:String500Type">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuviokohtainen lisätieto</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType> -->

	<xs:simpleType name="TwoDigitPositiveIntegerType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Max kaksinumeroinen kokonaisluku (0-99)</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="SamplePlotBasicDataType">
		<xs:sequence>
			<xs:element name="SamplePlotEastingCoordinate" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan itäkoordinaatti</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotNorthingCoordinate" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan pohjoiskoordinaatti</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotNumber" type="TwoDigitPositiveIntegerType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan numero</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotSize" type="SamplePlotSizeType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan koko m2</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SamplePlotSizeTreeReduction" type="SamplePlotSizeType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Poistumakoealan säde (oletus on että koealan keskipiste on puustokoealan keskipiste)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotTrackWidth"
				type="co:PositiveDecimalMax2IntegralPartMax1FractionalPartType">
				<xs:annotation>
					<xs:documentation>koealalla mitattu uraleveys m</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotTrackDepth" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Koealalla mitatut urapainumat m/30m</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotTrackDistance" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Koealalla mitattu uraväli, m</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotDitchDepth" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealalla mitattu ojan syvyys</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotDitchWidth" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koelalla mitattu ojan leveys</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TotalAmountOfCultivableSpots"
				type="co:PositiveInteger6digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Viljelykelpoisten muokkausjälkien määrä yhteensä, kpl. Ei muokkausjälkiä = 0 kpl</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="AmountOfSpotsScalpingMounding"
				type="co:PositiveInteger6digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Laikkumättäitä, kpl</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="AmountOfSpotsDitchMounding"
				type="co:PositiveInteger6digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ojamättäitä, kpl</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="AmountOfSpotsTurnOverMounding"
				type="co:PositiveInteger6digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kääntömättäitä, kpl</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="AmountOfSpots" type="co:PositiveInteger6digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Laikkuja, kpl</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SoilPreparationClosestPlaceLength"
				type="co:PositiveInteger6digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähin muokkausjälki, pituus, cm</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SoilPreparationClosestPlaceWidth"
				type="co:PositiveInteger6digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähin muokkausjälki, leveys, cm</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SoilPreparationClosestPlaceHeight"
				type="co:PositiveInteger6digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähin muokkausjälki, korkeus, cm</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SamplePlotCompactSoilType" type="co:CompactSoilTypeType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koelan suppea maalajitieto</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="RestrictionBasedOnStoniness" type="co:YesNoType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kivisyys rajoittanut toimenpiteen tekemistä</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="RestrictionBasedOnLoggingResidues" type="co:YesNoType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hakkuutähteet rajoittaneet toimenpiteen tekemistä</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ClosestSeedlingPlantingDepth"
				type="co:PositiveInteger3digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähin taimi, istutussyvyys, cm</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ClosestSeedlingDistanceFromSpot"
				type="co:PositiveInteger6digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähin taimi, taimen etäisyys (muokkausjäljen reunasta), cm</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ClosestSeedlingPlantingPointCompressed"
				type="co:YesNoType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähin taimi, istutuskohta tiivistetty</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TreeDensityClassBeforeOperation"
				type="co:TreeDensityClassType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puuston tiheysluokka ennen toimenpidettä</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CutDitchLineWidth" type="co:Decimal2FractionDigitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ojalinjan leveys, hakatun ojalinjan leveys, m</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CutRoadLineWidth" type="co:Decimal2FractionDigitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tielinjan leveys, hakatun tielinjan leveys, m</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CuttingAreaForSettlingBasin" type="co:AreaType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Laskeutusaltaan hakkuupinta-ala, ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="timeStamp" type="co:TimeStampType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Koealan mittausajankohta (pvm + kloaika)</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en"/>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="SamplePlotSizeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Koealan koko neliömetreinä (m2)</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:Decimal3And2PositiveType"/>
	</xs:simpleType>

	<xs:complexType name="RegenerationDataType">
		<xs:sequence>
			<xs:element name="CultivatedCropStemCount" type="co:StemCountType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">viljelytaimia kpl/ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="NaturalCropStemCount" type="co:StemCountType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">luonnontaimien rlk kpl/ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CompletingNaturalCropStemCount" type="co:StemCountType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">täydentävien luonnontaimien rlk kpl/ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CultivatedDeadStemCount" type="co:StemCountType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuolleet viljelytaimet, runkoluku kpl/ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="StockingWIthSeedlings" type="xs:integer">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimettumista (1=on, 2=ei)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="GroundManipulationMethod" type="ThreeDigitPositiveIntegerType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Maanpinnan käsittelytapa</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegenerationEnsuring" minOccurs="0"
				type="ThreeDigitPositiveIntegerType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">uudistamisen varmistamistoimenpiteet</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="CultivationMaterial" type="TwoDigitPositiveIntegerType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Viljelymateriaali (koodisto)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlantingWorkQuality" type="xs:integer">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Istutustyön laatu</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SoilModificationEstimate" type="xs:integer">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Maanpinnan käsittelyn arviointi</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ThreeDigitPositiveIntegerType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Max kolminumeroinen kokonaisluku (0-999)</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ControlOverallEvaluationDataType">
		<xs:sequence>
			<xs:element name="AdvertisementDating" type="xs:integer">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsänkäyttöilmoituksen jätön arvostelu (koodisto)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="AreaAndMapEvaluation" type="xs:integer">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pinta-alan ja kartan arvostelu (koodisto)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="OtherEvaluation" type="xs:integer">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muiden ilmoituskohtaisten asioiden arvostelu (koodisto)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TreeDamageOutsideStand" type="xs:integer">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion ulkopuoliset puustovauriot (koodisto)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TerrainDamageOutsideStand" type="xs:integer">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion ulkopuoliset maastovauriot (koodisto)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="FourDigitPositiveIntegerType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Max nelinumeroinen kokonaisluku (0-9999)</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ControlStandBasicDataType">
		<xs:sequence>
			<xs:element name="ControlStandArea" type="co:AreaType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Osan havaittu määrä, hehtaaria</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspectionMethod" type="xs:integer">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tarkastustapa (koodisto)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtraInfo" minOccurs="1" type="co:String500Type">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lisätiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Extra Information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="YoungForestManagementDataType">
		<xs:sequence>
			<xs:element name="HeightClass">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pituusluokka</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemovalClass">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Poistumaluokka</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="CuttingStemCount">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Poistuman runkoluku</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SmallWoodRemovalClass">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pienpuun poistumaluokka</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MooseDamageDataType">
		<xs:sequence>
			<xs:element name="EvaluationCost" type="co:Decimal7And2PositiveType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Arviointikustannukset, euroa</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartEastingCoordinate" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Osan itäkoordinaatit</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartNorthingCoordinate" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Osan pohjoiskoordinaatit</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceOrOtherCompensation" type="co:Decimal7And2PositiveType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vakuutuksen tai muun lainsäädännön nojalla maksettavat korvaukset, euroa</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalCompensation" type="co:Decimal7And2PositiveType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kasvu- ja laatutappiokorvaus + arviointikorvaus (+ viljelykorvaus)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="Compensation" type="co:Decimal7And2PositiveType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kasvu- ja laatutappiokorvaus</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlreadyPaidCompensation" type="co:Decimal7And2PositiveType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aiemmin maksettu kasvu- ja laatutappiokorvaus</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalCompensations" type="co:Decimal7And2PositiveType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">TotalCompensation - AlreadyPaidCompensation</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerInvolvement" type="co:VirtaYesNoType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Maanomistajan/hakijan mukanaolo</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssociationInvolvement" type="co:VirtaYesNoType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Rhy:n/toimijan mukanaolo</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="MoosePercentage" type="co:PercentType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Rhy edustajan käsitys hirvieläinten osuudesta vahinkoon</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="Class1DamageCount" type="co:StemCountType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">1. lk riistavauriot kpl/ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="Class2DamageCount" type="co:StemCountType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">2. lk riistavauriot kpl/ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="Class3DamageCount" type="co:StemCountType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">3. lk riistavauriot kpl/ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="Class4DamageCount" type="co:StemCountType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">4. lk riistavauriot kpl/ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="DamagedSeedlingCount" type="co:StemCountType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Riistavahingon vuoksi laskennallisesti kokonaan tuhoutuneiden puiden runkoluku varttuneemmissa metsissä kpl/ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotDamagedSeedlingCount" type="co:StemCountType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ei riistavaurioita kpl/ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="LargePeelDamage" type="co:StemCountType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Suuri kuorivaurio kpl/ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SmallPeelDamage" type="co:StemCountType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pieni kuorivaurio kpl/ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="NeedForTreatment" type="co:VirtaYesNoType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimikonhoitotyön tarve</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepairPlantingCosts" type="co:Decimal7And2PositiveType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Täydennysviljely- tai uudelleenmetsityskustannukset, euroa/ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ControlDataSpecialFeaturesType">
		<xs:sequence>
			<xs:element name="ControlDataSpecialFeature" type="ControlDataSpecialFeatureType"
				minOccurs="1" maxOccurs="unbounded" nillable="false">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Erityispiirteiden valvontatiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ControlEvaluationsType">
		<xs:sequence maxOccurs="1">
			<xs:element name="ControlEvaluation" type="ControlEvaluationType" maxOccurs="unbounded"
			/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ControlEvaluationType">
		<xs:sequence>
			<xs:element name="EvaluationCode" type="xs:integer"/>
			<xs:element minOccurs="0" name="ReasonCode" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ControlDataForestRoadConstructionType">
		<xs:sequence>
			<xs:element name="AppliedLength" type="Decimal6_2Type" minOccurs="1"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ilmoitettu pituus km. Käytetään vain jos tl kentän arvo on 60, 70 tai 71. LT On oltava yhtä suuri kuin tietueen kipala kenttien arvojen summa.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ControlDataSwampForestManagementType">
		<xs:sequence>
			<xs:element name="DitchMeanDepth" type="xs:string"/>
			<xs:element name="DitchMeanWidth" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DamageDataType">
		<xs:sequence>
			<xs:element name="DamageSource" type="FourDigitPositiveIntegerType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tuhon aiheuttaja (koodisto)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SelfMonitoringBasicDataType">
		<xs:sequence>
			<xs:element minOccurs="0" name="ProjectNo" type="ProjectNoType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hankenumero</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SelfMonitoringType" type="co:SelfMonitoringTypeType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Omavalvonnan tyyppi</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SelfMonitoringDate" type="co:DateType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Omavalvontapäivämäärä</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ProjectNoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Projekti-/hankenumero</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="co:ReferenceType"/>
	</xs:simpleType>
	<xs:complexType name="SelfMonitoringObjectDataType">
		<xs:sequence>
			<xs:element minOccurs="0" name="SelfMonitoringStandArea" type="co:AreaType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Omavalvontakuvion pinta-ala</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="GoalTreeSpecies" type="co:TreeSpeciesType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kohteen tavoitepuulaji</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="GoalStemCount" type="co:StemCountType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kohteen tavoiterunkoluku</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="GoalAmountOfSoilPreparationSpot"
				type="co:PositiveInteger5digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muokkausjälkien tiheys- / määrätavoite, kpl / ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="RealAmountOfSoilPreparationSpot"
				type="co:PositiveInteger5digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muokkausjälkien toteutunut määrä, kpl / ha</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="EstimatedWorkingTimeConsumption"
				type="co:PositiveInteger5digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Arvioitu työajanmenekki, h</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TimeIntervalForMeasuringSamplePlot"
				type="co:PositiveInteger5digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen mittausaikaväli, h</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Notices" type="co:String1000Type">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Omavalvonnan kohteeseen liittyvät huomiot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="WorkSafetyRisks" type="WorkSafetyRisksType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työturvallisuusriskien lista</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SoilPreparationSpotsAreEnough" type="co:YesNoType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muokkausjälkiä on riittävästi</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SelfMonitoringEvaluationsType">
		<xs:sequence>
			<xs:element minOccurs="1" name="SelfMonitoringEvaluation"
				type="SelfMonitoringEvaluationType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SelfMonitoringEvaluationType">
		<xs:sequence>
			<xs:element minOccurs="0" name="EvaluationCode" type="co:EvaluationCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Omavalvonnan arviointi</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="EvaluationText" type="co:String1000Type">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Arvosteluteksti, esim. sanallinen perustelu poikkeamalle työn laadussa (mm. puun määrässä)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="assessorActorId" type="co:IdStringType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Omavalvonnan arvioija (viiteid Actors-listan Actoriin)</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en"/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="assessObjectActorId" type="co:IdStringType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Omavalvonnan arvioinnin kohde (viiteid Actors-listan Actoriin)</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en"/>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WorkSafetyRisksType">
		<xs:sequence>
			<xs:element minOccurs="1" name="WorkSafetyRiskDescription" type="co:String1000Type"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työturvallisuusriskin kuvaus</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SelfMonitoringObjectProtectionOperationsDataType">
		<xs:sequence>
			<xs:element minOccurs="0" name="BorderingWithWaterAreaOrStream" type="co:YesNoType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kohde rajoittuu vesistöön tai puroon</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="LengthOfDitchDiggedDuringSoilPreparation"
				type="co:PositiveInteger6digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Maanmuokkauksen yhteydessä kaivetun ojan määrä / pituus, m</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ObjectProtectionOperations"
				type="ObjectProtectionOperationsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Omavalvontakohteen ympäristön ja vesiensuojelun toimenpiteet</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ObjectProtectionOperationsType">
		<xs:sequence>
			<xs:element minOccurs="1" name="ObjectProtectionOperation"
				type="ObjectProtectionOperationType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Omavalvonnan ympäristön ja vesiensuojelun toimenpidetiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ObjectProtectionOperationType">
		<xs:sequence>
			<xs:element minOccurs="0" name="OperationCode"
				type="co:ObjectProtectionOperationCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Omavalvonnan ympäristön ja vesiensuojelun toimenpiteen koodi</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="OperationDescription" type="co:String1000Type">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Omavalvonnan ympäristön ja vesiensuojelun toimenpiteen selite</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RealEstatesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kiinteistöjen määrittely</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="1" name="RealEstate" type="RealEstateType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi"/>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
