schema/Common_BasicDataType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Common_Basic_DataType.xsd
	Yhteiset perustietotyypit (numero, teksti yms.), joita käytetään 
	useissa	skeemoissa erilaisiin tarpeisiin. 
	Skeema on JHS-170 -suosituksen mukainen.
	 VERSIOKOMMENTIT 1.0 >>> 1.1 
	 Uusi määrittely "YesNoNotKnownType". 
	 Uusi määrittely "CountryCodeType". 
	 Uusi määrittely "LanguageCode1Type". 
	 Uusi määrittely "LanguageCode2Type". 
	 VERSIOKOMMENTIT 1.1 >>> 1.2 
	 Uusia määrittelyjä numerotietoja varten 
	 Uusi määrittely "PositiveDecimalMax5IntegralPartMax1FractionalPartType" 
	 Uusi määrittely "PositiveInteger1digitsType" 
	 Uusi määrittely "PositiveInteger2digitsType" 	
	 VERSIOKOMMENTIT 1.2 >>> 1.3 	
	 Vuosi tyypin ("YearType") minimivuodeksi muutettu 1900 (aiemmin 1970). 
	 Päivämäärä tyypin ("DateType") minimivuodeksi muutettu 1900 (aiemmin 1970). 
	 VERSIOKOMMENTIT 1.3 >>> 1.4 
	 Tyypin TimeStampType minimivuodeksi 1900 (aiemmin 1970) 
	 Tyypin PositiveInteger1digitsType pohjatyypiksi muutettu xs:integer 
	 Tyypin PercentType pohjatyypiksi muutettu xs:integer 
	 Korjattu tyypin PositiveDecimalMax1IntegralPartMax2FractionalPartType kommentteja vastaamaan tyyppimäärittelyä 
	 Lisätty skeema ForestEnumeratives_20130620.xsd 
	  VERSIOKOMMENTIT 1.4 >>> 1.5
	15.8.2014:Fifth Element Oy: muutokset Common_Basic_DataType.xsd tiedostoon
	Yhdistetty Fifth elementin muutokset ja metsävarastandardin V6 paketin tiedostot 
	Skeemat Common.xsd,Common_BasicDataType.xsd,ForestEnumeratives.xsd on 
	yhdeksi namespaceksi: xmlns="http://standardit.tapio.fi/schemas/forestData/common" 	
	ja Common_BasicDataType_20100831.xsd on nimetty Common_BasicDataType.xsd:ksi
	
	VERSIOKOMMENTIT 1.5 >>> 1.6
	15.12.2014 Address, PostalCode, PostOffice, PhoneNumber ja EmailAddress - elementeille lisätty määre minOccurs="0"

	VERSIOKOMMENTIT 1.6 >>> 1.7	
	8.4.2015 Dokumentaatio korjattu PositiveInteger-tyypeille
	
	VERSIOKOMMENTIT 1.7 >>> 1.8
	27.4.2015 Lisätty tyypit: 
	PositiveDecimal_Max8IntegralPart_Max2FractionalPartType,
	PositiveDecimal_Max7IntegralPart_Max2FractionalPartType,
	PositiveDecimal_Max5IntegralPart_Max2FractionalPartType
	
	21.9.2015
	New type definitions:
	- MunicipalityNumberType
	- MunicipalityNameType
	- BankAccountType
	- IBANType
	- BICType
	- BankReferenceNumberType

	27.10.2015 Removed types: CountryCodeType, LanguageCode2Type
	
	3.2.2016
	- New simpletype "IdStringNotEmptyType"
	
	16.5.2016
	- New simpleType "ExtendedQuantityUnitType"
	***************************************************************
-->
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:jhs="http://skeemat.jhs-suositukset.fi/yhteiset/2009/03/04"
	elementFormDefault="unqualified"
	attributeFormDefault="unqualified"
	version="1.8">

	<!-- Imports / Includes -->
	<xs:include schemaLocation="ForestEnumeratives.xsd"/>
	<xs:import namespace="http://skeemat.jhs-suositukset.fi/yhteiset/2009/03/04"
		schemaLocation="JHS170_20090304.xsd"/>

	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="ContactInformation" type="ContactInformationType"/>
	<xs:element name="BankAccount" type="BankAccountType"/>
	<xs:element name="BankReferenceNumber" type="BankReferenceNumberType"/>
	<xs:element name="IBAN" type="IBANType"/>
	<xs:element name="BIC" type="BICType"/>

	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:simpleType name="IdStringType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Merkkijono tunnisteen määrittely</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="IdStringNotEmptyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Merkkijono tunnisteen määrittely. Tyhjää tunnistetta ei sallita.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="IdStringType">
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PositiveIntegerType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Positiivisen kokonaisluvun määrittely.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition for positive integer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NegativeIntegerType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Negatiivisen kokonaisluvun määrittely.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition for negative integer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:maxExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PositiveInteger1digitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Positiivisen yksinumeroisen kokonaisluvun määrittely.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition for positive integer, 1 digit.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PositiveInteger2digitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Positiivisen kaksinumeroisen kokonaisluvun määrittely.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition for positive integer, 2 digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PositiveInteger3digitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Positiivisen kolminumeroisen kokonaisluvun määrittely.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition for positive integer, 3 digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PositiveInteger4digitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Positiivisen nelinumeroisen kokonaisluvun määrittely.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition for positive integer, 4 digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PositiveInteger5digitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Positiivisen viisinumeroisen kokonaisluvun määrittely.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition for positive integer, 5 digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PositiveInteger6digitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Positiivisen kuusinumeroisen kokonaisluvun määrittely.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition for positive integer, 6 digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YesNoNotKnownType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Määrittely kyllä-, ei- ja ei tietoa- arvoille</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition for yes, no and not known value</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="YesNoType NotKnownType"/>
	</xs:simpleType>
	<xs:simpleType name="FeatureCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Alkuperäiset monimuotoisuuskoodit (1-9975) ja myöhemmin lisätyt (10001-20182).</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Original special feature codes (1-9975) and extensions (10001-20182) that were added later.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="OriginalFeatureCodeType FeatureCodeExtensionsType"/>
	</xs:simpleType>
	<xs:simpleType name="ResourceTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Resurssin tyyppi kone tai henkilö</xs:documentation>
			<xs:documentation xml:lang="sv">Resurstyp, maskin eller person</xs:documentation>
			<xs:documentation xml:lang="en">Type of resource.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="PersonResourceType MachineTypeType"/>
	</xs:simpleType>
	<xs:simpleType name="MainWorkCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lohkon päätyölaji</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">MainWorkCode</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="WorkCodeType WorkCodeGroupType"/>
	</xs:simpleType>  
	<xs:simpleType name="OperationTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsävarasanoman työlajit</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">OperationType</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="SilvicultureTypeType" />
	</xs:simpleType>
	<xs:simpleType name="OperationSpecificationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työlajin tarkenne</xs:documentation> <!--Metsävarasanoman (MV1.5) suppea OperationSpecification-koodisto -->
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="SilvicultureExtraQualifierType CommonOperationExtraQualifierType"/>
	</xs:simpleType>
	<xs:simpleType name="ExtendedMainGroupType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Laajennettu pääryhmäkoodisto</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Extended coding for main group type</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="MainGroupType ExtraMainGroupType"/>
	</xs:simpleType>
	<xs:simpleType name="ExtendedQuantityUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tilastoitavan määrän yksikkö, laajennettu koodisto</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Quantity units for assortments (cubic meters etc), extended coding</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="QuantityUnitType StatisticsQuantityUnitType"/>
	</xs:simpleType>
	<xs:simpleType name="WideDevelopmentClassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Laaja kehitysluokkakoodisto</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:union memberTypes="DevelopmentClassType DevelopmentClassExtensionsType"/>
	</xs:simpleType>
	<xs:simpleType name="Decimal2And2Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku kahdella desimaalilla arvovälillä -99.99 ja 99.99</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 2 fraction digit. Minimum value -99.99 an maximum value 99.99.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:maxExclusive value="100"/>
			<xs:minExclusive value="-100"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal2And2PositiveType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku kahdella desimaalilla arvovälillä 0.00 ja 99.99</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 2 fraction digit. Minimum value 0.00 an maximum value 99.99.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:maxExclusive value="100"/>
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal3And2Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku kahdella desimaalilla arvovälillä -999.99 ja 999.99</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 2 fraction digit. Minimum value -999.99 an maximum value 999.99.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:maxExclusive value="1000"/>
			<xs:minExclusive value="-1000"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal3And2PositiveType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku kahdella desimaalilla arvovälillä 0.00 ja 999.99</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 2 fraction digit. Minimum value 0.00 an maximum value 999.99.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:maxExclusive value="1000"/>
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="Decimal3TotalDigitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku maksimissaan 3 numeroa.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 3 total digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal4And2Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku kahdella desimaalilla arvovälillä -9999.99 ja 9999.99</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 2 fraction digit. Minimum value -9999.99 an maximum value 9999.99.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:maxExclusive value="10000"/>
			<xs:minExclusive value="-10000"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal4And2PositiveType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku kahdella desimaalilla arvovälillä 0.00 ja 9999.99</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 2 fraction digit. Minimum value 0.00 an maximum value 9999.99.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:maxExclusive value="10000"/>
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="Decimal4TotalDigitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku maksimissaan 4 numeroa.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 4 total digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="Decimal5TotalDigitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku maksimissaan 5 numeroa.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 5 total digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal7And2Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku kahdella desimaalilla arvovälillä -9999999.99 ja 9999999.99</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 2 fraction digit. Minimum value -9999999.99 an maximum value 9999999.99.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:maxExclusive value="10000000"/>
			<xs:minExclusive value="-10000000"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal7And2PositiveType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku kahdella desimaalilla arvovälillä -0.00 ja 9999999.99</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 2 fraction digit. Minimum value -0.00 an maximum value 9999999.99.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:maxExclusive value="10000000"/>
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal1FractionDigitType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku yhdellä desimaalilla.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 1 fraction digit.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal2FractionDigitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku kahdella desimaalilla.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 2 fraction digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal3FractionDigitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku kolmella desimaalilla.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 3 fraction digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal4FractionDigitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku neljällä desimaalilla.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 4 fraction digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal6TotalDigitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Desimaaliluku maksimissaan 6 numeroa.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decimal number with 6 total digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PositiveDecimalMax1IntegralPartMax2FractionalPartType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Positiivinen desimaaliluku, jonka kokonaislukuosassa maksimissaan 1 numero ja desimaaliosassa maksimissaan 2 numeroa. Kattaa siis arvot 0 - 9,99.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Positive decimal fraction with maximum 1 digit in its integral part and maximum 2 digits in its fractional part. Thus covers values 0 - 9.99.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,1}\.?[0-9]{0,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PositiveDecimalMax2IntegralPartMax1FractionalPartType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Positiivinen desimaaliluku, jonka kokonaislukuosassa maksimissaan 2 numeroa ja desimaaliosassa maksimissaan 1 numero. Kattaa siis arvot 0 - 99,9.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Positive decimal fraction with maximum 2 numbers in its integral part and maximum 1 number in its fractinoal part. Thus covers values 0 - 99,9.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,2}\.?[0-9]{0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PositiveDecimalMax4IntegralPartMax2FractionalPartType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Positiivinen desimaaliluku, jonka kokonaislukuosassa maksimissaan 4 numeroa ja desimaaliosassa maksimissaan 2 numeroa. Kattaa siis arvot 0 - 9999,99.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Positive decimal fraction with maximum 4 numbers in its integral part and maximum 2 numbers in its fractinoal part. Thus covers values 0 - 9999,99.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,4}\.?[0-9]{0,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PositiveDecimalMax5IntegralPartMax1FractionalPartType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Positiivinen desimaaliluku, jonka kokonaislukuosassa maksimissaan 5 numeroa ja desimaaliosassa maksimissaan 1 numero. Kattaa siis arvot 0 - 99999,9.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Positive decimal fraction with maximum 5 numbers in its integral part and maximum 1 numbers in its fractinoal part. Thus covers values 0 - 9999,99.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}\.?[0-9]{0,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PositiveDecimalMax5IntegralPartMax2FractionalPartType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Positiivinen desimaaliluku, jonka kokonaislukuosassa maksimissaan 4 numeroa ja desimaaliosassa maksimissaan 2 numeroa. Kattaa siis arvot 0 - 9999,99.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Positive decimal fraction with maximum 4 numbers in its integral part and maximum 2 numbers in its fractinoal part. Thus covers values 0 - 9999,99.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}\.?[0-9]{0,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeStampType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Aikaleiman tiedot muodossa VVVV-KK-PPTtt:mm:ss, minimivuosi on 1900.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Time stamp, time format YYYY-MM-DDThh:mm:ss with minimum year 1900.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:minInclusive value="1900-01-01T00:00:00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päivämäärä muodossa YYYY-MM-DD, minimivuosi on 1900.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Date, date format YYYY-MM-DD with minimum year 1900.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1900-01-01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MoneyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Rahan määrä desimaalilukuna kahdella desimaalilla.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Money amount (decimal with fraction 2).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Decimal2FractionDigitsType"/>
	</xs:simpleType>
	<xs:simpleType name="PercentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Prosenttiluvun (desimaaliluku) määrittely (0.0 - 100.0 %).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition of percent (decimal) (0.0 - 100.0 %).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PercentWithFraction1Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Prosenttiluvun (desimaaliluku yhdellä desimaalilla) määrittely (0.0 - 100.0 %).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition of percent (decimal with fraction 1) (0.0 - 100.0 %).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
			<xs:fractionDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PercentWithFraction2Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Prosenttiluvun (desimaaliluku kahdella desimaalilla) määrittely (0.00 - 100.00 %).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition of percent (decimal with fraction 2) (0.0 - 100.0 %).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateYYYY-MMOrYYYY-MM-DDType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päivämäärä muodossa VVVV-KK (1.6, "--06-01" / "--06-01Z" UTC / "--06-01+02:00" UTC+02.00) tai VVVV-KK-PP (1.6.2009, "2009-06-01" / "2009-06-01Z" UTC / "2009-06-01+02.00" UTC+02.00).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Date, date format YYYY-MM (1.6, "--06-01" / "--06-01Z" UTC / "--06-01+02:00" UTC+02.00) or YYYY-MM-DD (1.6.2009, "2009-06-01" / "2009-06-01Z" UTC / "2009-06-01+02.00" UTC+02.00).</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:gMonthDay DateType"/>
	</xs:simpleType>
	<xs:simpleType name="DateMmDdYyyyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päivämäärä muodossa pp.kk.vvvv. Esimerkiksi 1.6.2009 tai 01.06.2009.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Date in format dd.mm.yyyy. For example 1.6.2009 or 01.06.2009.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0[1-9]|[12][0-9]|3[01])[.](0[1-9]|1[012])[.](19|20)\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YearType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Vuosi määrittely, minimivuosi 1900.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition of year with minimum year 1900.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:gYear">
			<xs:minInclusive value="1900"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LanguageCode1Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kielikoodi (ISO 639-1), esim. fi, sv, en. SUOSITUS: käytä forest enumeratives type:ä ISO639char2LanguageType.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Language code (ISO 639-1), e.g. fi, sv, en. Highly recomended: use forest enumeratives type ISO639char2LanguageType.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String5Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Merkkijono max 5 merkkiä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String10Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Merkkijono max 10 merkkiä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String20Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Merkkijono max 20 merkkiä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String25Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Merkkijono max 25 merkkiä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String50Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Merkkijono max 50 merkkiä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String100Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Merkkijono max 100 merkkiä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String200Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Merkkijono max 200 merkkiä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String500Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Merkkijono max 500 merkkiä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String1000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Merkkijono max 1000 merkkiä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String1500Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Merkkijono max 1500 merkkiä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String2000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Merkkijono max 2000 merkkiä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String3000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Merkkijono max 3000 merkkiä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ServiceTypesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Palvelukokonaisuudet</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ServiceType" type="ServiceTypeType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yhteystietotyyppi</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="String100Type">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Osoite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="String10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Postinumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostOffice" type="String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Postitoimipaikka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNumber" type="String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puhelin</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailAddress" type="String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Sähköposti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LanguageCode" type="LanguageCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Sähköpostiosoite</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MunicipalityNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuntanumero (1-3 numeroa).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Municipality number (1-3 numbers).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="jhs:KuntaKoodiTyyppi">
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MunicipalityNameType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kunnan nimi maksimissaan 30 merkkiä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Name of municipality.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="jhs:NimiTekstiTyyppi">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	
    <xs:complexType name="BankAccountType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Pankkitili. IBAN+BIC. BIC-koodi muutettu pakolliseksi siirtymäajan jälkeen 05/2012.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="IBAN" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="BIC" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="IBANType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Pankkitili. IBAN-muoto. Myös kotimainen pankkitili oli mahdollinen siirtymäajan aikana.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="14"/>
            <xs:maxLength value="40"/>
            <xs:pattern value="[A-Z0-9]{2}([A-Z0-9])*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BICType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">BIC-koodi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="8"/>
            <xs:maxLength value="11"/>
            <xs:pattern value="[A-Z]{6}[A-Z0-9]{2}([A-Z0-9])*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BankReferenceNumberType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Pankin viitenumero.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
	
	<xs:simpleType name="StatisticsPurchaseModeCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tilastoinnin puukauppamuodon koodit</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">OperationType</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="PurchaseModeType StatisticsPurchaseModeType"/>
	</xs:simpleType>

</xs:schema>
