schema/Envelope.xsd

<!-- edited with XMLSpy v2010 rel. 2 (x64) (http://www.altova.com) by Fifth Element (Fifth Element Oy) -->
<!-- Envelope Schema version Schema version 0.13.0 (24.3.2016) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://standardit.tapio.fi/schemas/forestData/envelope"
           xmlns:header="http://standardit.tapio.fi/schemas/header"
           xmlns:contract="http://standardit.tapio.fi/schemas/forestData/Contract"
           xmlns:companyInformation="http://standardit.tapio.fi/schemas/forestData/CompanyInformation"
           xmlns:orderConfirmation="http://standardit.tapio.fi/schemas/forestData/OrderConfirmation"
           xmlns:workingSiteOperational="http://standardit.tapio.fi/schemas/forestData/WorkingSiteOperational"
           xmlns:resource="http://standardit.tapio.fi/schemas/forestData/Resource"
           xmlns:silvicultureOrder="http://standardit.tapio.fi/schemas/forestData/SilvicultureOrder"
           xmlns:weekCalendar="http://standardit.tapio.fi/schemas/forestData/WeekCalendar"
           xmlns:acknowledge="http://standardit.tapio.fi/schemas/forestData/Acknowledge"
           xmlns:mapSymbol="http://standardit.tapio.fi/schemas/forestData/MapSymbol"
           xmlns:workingSiteStatus="http://standardit.tapio.fi/schemas/forestData/WorkingSiteStatus"
           xmlns:workingSiteTravelNotification="http://standardit.tapio.fi/schemas/forestData/WorkingSiteTravelNotification"
           xmlns:workingSiteInterruption="http://standardit.tapio.fi/schemas/forestData/WorkingSiteInterruption"
           xmlns:workingSiteEndNotification="http://standardit.tapio.fi/schemas/forestData/WorkingSiteEndNotification"
           xmlns:workingSiteFeeBasis="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFeeBasis"
           xmlns:image="http://standardit.tapio.fi/schemas/forestData/Image"
           xmlns:workingSiteWorkTime="http://standardit.tapio.fi/schemas/forestData/WorkingSiteWorkTime"
           xmlns:workingSiteWorkLoad="http://standardit.tapio.fi/schemas/forestData/WorkingSiteWorkLoad"
           xmlns:workingSiteQualityControlPlantManagement="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlPlantManagement"
           xmlns:workingSiteQualityControlSilviculture="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSilviculture"
           xmlns:workingSiteQualityControlSoilConditioning="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSoilConditioning"
           xmlns:resourceSchedule="http://standardit.tapio.fi/schemas/forestData/ResourceSchedule"
           xmlns:qualityAttachment="http://standardit.tapio.fi/schemas/forestData/QualityAttachment"
           xmlns:workingSiteFinalAuditPlantManagement="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditPlantManagement"
           xmlns:workingSiteFinalAuditSilviculture="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditSilviculture"
           xmlns:workingSiteFinalAuditSoilConditioning="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditSoilConditioning"
           xmlns:harvestingOrder="http://standardit.tapio.fi/schemas/forestData/HarvestingOrder"
           xmlns:userInformation="http://standardit.tapio.fi/schemas/forestData/UserInformation"
           xmlns:forwardingEstimate="http://standardit.tapio.fi/schemas/forestData/ForwardingEstimate"
           xmlns:forwardingNotification="http://standardit.tapio.fi/schemas/forestData/ForwardingNotification"
           xmlns:workingSiteForwardedProduction="http://standardit.tapio.fi/schemas/forestData/WorkingSiteForwardedProduction"
           xmlns:workingSiteHarvestedProduction="http://standardit.tapio.fi/schemas/forestData/WorkingSiteHarvestedProduction"
           xmlns:workingSiteQualityControlCutting="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlCutting"
           xmlns:workingSiteForwardingQualityControl="http://standardit.tapio.fi/schemas/forestData/WorkingSiteForwardingQualityControl"
           xmlns:workingSiteHarvestingQualityControl="http://standardit.tapio.fi/schemas/forestData/WorkingSiteHarvestingQualityControl"
           xmlns:workingSiteHarvestingQualityControlManual="http://standardit.tapio.fi/schemas/forestData/WorkingSiteHarvestingQualityControlManual"
           xmlns:workingSiteFinalAuditBioMassForwarding="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditBioMassForwarding"
           xmlns:workingSiteFinalAuditHarvesting="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditHarvesting"
           xmlns:workingSiteFinalAuditStumpForwarding="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditStumpForwarding"
           xmlns:workingSiteFinalAuditStumpLifting="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditStumpLifting"
           xmlns:workingSiteQualityNotification="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityNotification"
           xmlns:workingSiteAccounting="http://standardit.tapio.fi/schemas/forestData/WorkingSiteAccounting"
           xmlns:roadOrDitchObjectUpdate="http://standardit.tapio.fi/schemas/forestData/RoadOrDitchObjectUpdate"
           xmlns:workingSiteFinalAuditDraining="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditDraining"
           xmlns:workingSiteFinalAuditFertilization="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditFertilization"
           xmlns:workingSiteFinalAuditRoadMaking="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditRoadMaking"
           xmlns:workingSiteOperationalUpdate="http://standardit.tapio.fi/schemas/forestData/WorkingSiteOperationalUpdate"
           xmlns:productInstruction="urn:skogforsk:stanford2010"
           targetNamespace="http://standardit.tapio.fi/schemas/forestData/envelope" elementFormDefault="qualified" version="0.3">
	<xs:import namespace="http://standardit.tapio.fi/schemas/header" schemaLocation="Header.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/Contract" schemaLocation="Contract.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/CompanyInformation" schemaLocation="CompanyInformation.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/OrderConfirmation" schemaLocation="OrderConfirmation.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteOperational" schemaLocation="WorkingSiteOperational.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/Resource" schemaLocation="Resource.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/SilvicultureOrder" schemaLocation="SilvicultureOrder.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WeekCalendar" schemaLocation="WeekCalendar.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSilviculture" schemaLocation="WorkingSiteQualityControlSilviculture.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlPlantManagement" schemaLocation="WorkingSiteQualityControlPlantManagement.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteWorkLoad" schemaLocation="WorkingSiteWorkLoad.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteWorkTime" schemaLocation="WorkingSiteWorkTime.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/Image" schemaLocation="Image.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFeeBasis" schemaLocation="WorkingSiteFeeBasis.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteInterruption" schemaLocation="WorkingSiteInterruption.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteEndNotification" schemaLocation="WorkingSiteEndNotification.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteAccounting" schemaLocation="WorkingSiteAccounting.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityNotification" schemaLocation="WorkingSiteQualityNotification.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditStumpLifting" schemaLocation="WorkingSiteFinalAuditStumpLifting.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditStumpForwarding" schemaLocation="WorkingSiteFinalAuditStumpForwarding.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditHarvesting" schemaLocation="WorkingSiteFinalAuditHarvesting.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditBioMassForwarding" schemaLocation="WorkingSiteFinalAuditBioMassForwarding.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteHarvestingQualityControlManual" schemaLocation="WorkingSiteHarvestingQualityControlManual.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteHarvestingQualityControl" schemaLocation="WorkingSiteHarvestingQualityControl.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteForwardingQualityControl" schemaLocation="WorkingSiteForwardingQualityControl.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlCutting" schemaLocation="WorkingSiteQualityControlCutting.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteHarvestedProduction" schemaLocation="WorkingSiteHarvestedProduction.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteForwardedProduction" schemaLocation="WorkingSiteForwardedProduction.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/ForwardingEstimate" schemaLocation="ForwardingEstimate.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/ForwardingNotification" schemaLocation="ForwardingNotification.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/UserInformation" schemaLocation="UserInformation.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/HarvestingOrder" schemaLocation="HarvestingOrder.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditSoilConditioning" schemaLocation="WorkingSiteFinalAuditSoilConditioning.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditSilviculture" schemaLocation="WorkingSiteFinalAuditSilviculture.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditPlantManagement" schemaLocation="WorkingSiteFinalAuditPlantManagement.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/QualityAttachment" schemaLocation="QualityAttachment.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/ResourceSchedule" schemaLocation="ResourceSchedule.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSoilConditioning" schemaLocation="WorkingSiteQualityControlSoilConditioning.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteTravelNotification" schemaLocation="WorkingSiteTravelNotification.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteStatus" schemaLocation="WorkingSiteStatus.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/MapSymbol" schemaLocation="MapSymbol.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/Acknowledge" schemaLocation="Acknowledge.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/RoadOrDitchObjectUpdate" schemaLocation="RoadOrDitchObjectUpdate.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditDraining" schemaLocation="WorkingSiteFinalAuditDraining.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditFertilization" schemaLocation="WorkingSiteFinalAuditFertilization.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditRoadMaking" schemaLocation="WorkingSiteFinalAuditRoadMaking.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteOperationalUpdate" schemaLocation="WorkingSiteOperationalUpdate.xsd"/>
    <!--  <xs:import namespace="urn:skogforsk:stanford2010" schemaLocation="http://www.skogforsk.se/stanford2010/schema/ProductInstruction_V3p0.xsd"/> -->
   <xs:element name="Envelope" type="EnvelopeType"/>
	<xs:complexType name="EnvelopeType">
		<xs:sequence>
			<xs:element name="Header" type="header:HeaderType"/>
			<xs:element name="Message" type="PayloadType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayloadType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tähän kaikkien käytettävien viestityyppien tyyppimäärittelyt</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Contract" type="contract:ContractType"/>
			<xs:element name="CompanyInformation" type="companyInformation:CompanyInformationType"/>
			<xs:element name="OrderConfirmation" type="orderConfirmation:OrderConfirmationType"/>
			<xs:element name="WorkingSiteOperational" type="workingSiteOperational:WorkingSiteOperationalType"/>
			<xs:element name="Resource" type="resource:ResourceType"/>
			<xs:element name="SilvicultureOrder" type="silvicultureOrder:SilvicultureOrderType"/>
			<xs:element name="WeekCalendar" type="weekCalendar:WeekCalendarType"/>
			<xs:element name="Acknowledge" type="acknowledge:AcknowledgeType"/>
            <xs:element name="MapSymbol" type="mapSymbol:MapSymbolType"/>
            <xs:element name="Image" type="image:ImageType"/>
            <xs:element name="ForwardingEstimate" type="forwardingEstimate:ForwardingEstimateType"/>
            <xs:element name="ForwardingNotification" type="forwardingNotification:ForwardingNotificationType"/>
            <xs:element name="UserInformation" type="userInformation:UserInformationType"/>
            <xs:element name="HarvestingOrder" type="harvestingOrder:HarvestingOrderType"/>
            <xs:element name="QualityAttachment" type="qualityAttachment:QualityAttachmentType"/>
            <xs:element name="ResourceSchedule" type="resourceSchedule:ResourceScheduleType"/>
            <xs:element name="WorkingSiteQualityControlSilviculture" type="workingSiteQualityControlSilviculture:WorkingSiteQualityControlSilvicultureType"/>
            <xs:element name="WorkingSiteQualityControlPlantManagement" type="workingSiteQualityControlPlantManagement:WorkingSiteQualityControlPlantManagementType"/>
            <xs:element name="WorkingSiteWorkLoad" type="workingSiteWorkLoad:WorkingSiteWorkLoadType"/>
            <xs:element name="WorkingSiteWorkTime" type="workingSiteWorkTime:WorkingSiteWorkTimeType"/>
            <xs:element name="WorkingSiteFeeBasis" type="workingSiteFeeBasis:WorkingSiteFeeBasisType"/>
            <xs:element name="WorkingSiteInterruption" type="workingSiteInterruption:WorkingSiteInterruptionType"/>
            <xs:element name="WorkingSiteEndNotification" type="workingSiteEndNotification:WorkingSiteEndNotificationType"/>
            <xs:element name="WorkingSiteAccounting" type="workingSiteAccounting:WorkingSiteAccountingType"/>
            <xs:element name="WorkingSiteQualityNotification" type="workingSiteQualityNotification:WorkingSiteQualityNotificationType"/>
            <xs:element name="WorkingSiteFinalAuditStumpLifting" type="workingSiteFinalAuditStumpLifting:WorkingSiteFinalAuditStumpLiftingType"/>
            <xs:element name="WorkingSiteFinalAuditStumpForwarding" type="workingSiteFinalAuditStumpForwarding:WorkingSiteFinalAuditStumpForwardingType"/>
            <xs:element name="WorkingSiteFinalAuditHarvesting" type="workingSiteFinalAuditHarvesting:WorkingSiteFinalAuditHarvestingType"/>
            <xs:element name="WorkingSiteFinalAuditBioMassForwarding" type="workingSiteFinalAuditBioMassForwarding:WorkingSiteFinalAuditBioMassForwardingType"/>
            <xs:element name="WorkingSiteHarvestingQualityControlManual" type="workingSiteHarvestingQualityControlManual:WorkingSiteHarvestingQualityControlManualType"/>
            <xs:element name="WorkingSiteHarvestingQualityControl" type="workingSiteHarvestingQualityControl:WorkingSiteHarvestingQualityControlType"/>
            <xs:element name="WorkingSiteForwardingQualityControl" type="workingSiteForwardingQualityControl:WorkingSiteForwardingQualityControlType"/>
            <xs:element name="WorkingSiteQualityControlCutting" type="workingSiteQualityControlCutting:WorkingSiteQualityControlCuttingType"/>
            <xs:element name="WorkingSiteHarvestedProduction" type="workingSiteHarvestedProduction:WorkingSiteHarvestedProductionType"/>
            <xs:element name="WorkingSiteForwardedProduction" type="workingSiteForwardedProduction:WorkingSiteForwardedProductionType"/>
            <xs:element name="WorkingSiteFinalAuditSoilConditioning" type="workingSiteFinalAuditSoilConditioning:WorkingSiteFinalAuditSoilConditioningType"/>
            <xs:element name="WorkingSiteFinalAuditSilviculture" type="workingSiteFinalAuditSilviculture:WorkingSiteFinalAuditSilvicultureType"/>
            <xs:element name="WorkingSiteFinalAuditPlantManagement" type="workingSiteFinalAuditPlantManagement:WorkingSiteFinalAuditPlantManagementType"/>
            <xs:element name="WorkingSiteQualityControlSoilConditioning" type="workingSiteQualityControlSoilConditioning:WorkingSiteQualityControlSoilConditioningType"/>
            <xs:element name="WorkingSiteTravelNotification" type="workingSiteTravelNotification:WorkingSiteTravelNotificationType"/>
            <xs:element name="WorkingSiteStatus" type="workingSiteStatus:WorkingSiteStatusType"/>
            <xs:element name="RoadOrDitchObjectUpdate" type="roadOrDitchObjectUpdate:RoadOrDitchObjectUpdateType"/>
            <xs:element name="WorkingSiteFinalAuditDraining" type="workingSiteFinalAuditDraining:WorkingSiteFinalAuditDrainingType"/>
            <xs:element name="WorkingSiteFinalAuditFertilization" type="workingSiteFinalAuditFertilization:WorkingSiteFinalAuditFertilizationType"/>
            <xs:element name="WorkingSiteFinalAuditRoadMaking" type="workingSiteFinalAuditRoadMaking:WorkingSiteFinalAuditRoadMakingType"/>
            <xs:element name="WorkingSiteOperationalUpdate" type="workingSiteOperationalUpdate:WorkingSiteOperationalUpdateType"/>
		    <!--  <xs:element ref="productInstruction:ProductInstruction"/> -->
        </xs:choice>
	</xs:complexType>
</xs:schema>
