schema/ForestCentreDecision.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	*****************************************************************************
	Kemera rahoitushakemuksen päätösviesti
	Skeema on JHS-170 -suosituksen mukainen.
	Ensimmäinen versio 1.0
	
	18.9.2015
	- ForestryCentreDecisionType -tyypille lisätty lapsielementti fcc:FinancingActNumber
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V11.02:
	-Muutettu nimiavaruusmäärittely fac: (FinancingActCommon) -> fcc: (ForestCentreCommon)
	
	Muutokset skeemapakettiin V11.05:
	-Elementin DecisionDocument tyyppimäärittely muutettu co:DocumentType -> co:Document4MBType
	
	Muutokset skeemapakettiin V11.08:
	-Skeeman sisältö uusittu kokonaisuudessaan
	
	Muutokset skeemapakettiin V11.09:
	-Skeeman rakennetta jatkojalostettu uusimpaan esimerkkisanomaan pohjautuen
	****************************************************************************
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/ForestCentreDecision"
	xmlns="http://standardit.tapio.fi/schemas/forestData/ForestCentreDecision"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:fcc="http://standardit.tapio.fi/schemas/forestData/ForestCentreCommon"
	xmlns:re="http://standardit.tapio.fi/schemas/forestData/realEstate"
	xmlns:stb="http://standardit.tapio.fi/schemas/forestData/standbase"
	xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
	xmlns:gml="http://www.opengis.net/gml"
	xmlns:ci="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	elementFormDefault="qualified" version="V11.09">

	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/ForestCentreCommon"
		schemaLocation="ForestCentreCommon.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/realEstate"
		schemaLocation="RealEstate.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/standbase"
		schemaLocation="StandBase.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
		schemaLocation="Common_GeometricDataType.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/base/gml.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/contactInformation"
		schemaLocation="ContactInformation.xsd"/>

	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="ForestCentreData" type="ForestCentreControlDataType"/>
	<xs:element name="TimeStamp" type="co:TimeStampType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viestin lähetysajankohta, aikaleima</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Message" type="co:ControlDataMessageType"/>
	<xs:element name="MetadataText" type="co:String1000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarkastustietosanoman metatiedot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ForestCentreDecision" type="ForestCentreDecisionType"/>
	<xs:element name="CaseNumber" type="fcc:FinancingActNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Asianumero. Käytetään myös termiä (hankkeen) Riihi-numero. Tapauskohtaisesti tarkoittaa Riihinumeroa, MKI-nro... Kemera-hakemuksessa vastaava tieto FinancingActNumber.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CaseDate" type="co:DateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Asiapäivämäärä, hakemuspäivämäärä tai vastaava</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecisionNumber" type="co:String100Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätösnumero</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecisionType" type="co:DecisionTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöstyyppikoodisto</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecisionDate" type="co:DateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöspäivämäärä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CustomerReference" type="co:ReferenceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Asiakkaan hankenumero / asiakasviite</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="FinancingActApplicationReference" type="co:ReferenceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kemera-hakemuksen viite, käytetään Kemeraan liittyvissä päätöksissä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CompletionDeclarationReference" type="co:ReferenceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kemera-toteutusilmoituksen viite, käytetään Kemeraan liittyvissä päätöksissä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ForestUseDeclarationReference" type="co:ReferenceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">MKI-viite, käytetään metsänkäyttöilmoitukseen liittyvissä päätöksissä (Päätös poikkeuksen myöntämiseksi määräajasta).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Acceptance" type="co:AcceptanceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätös: Hyväksytty / Hylätty / Osittain hyväksytty</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Acceptance: Accepted / Rejected / Partially accepted</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CaseActions" type="CaseActionsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Asiatoimenpiteet</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CaseAction" type="CaseActionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Asiatoimenpide</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ActionType" type="co:ActionTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpidetyyppi: hakemus | kuuleminen | päätös | maksatus | asiakirjan lähettäminen</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ActionDescription" type="co:String1000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen kuvaus</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ActionDate" type="co:DateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpidepäivämäärä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="OriginalSender" type="DecisionContactInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Alkuperäinen lähettäjä/laatija</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecisionReceivers" type="DecisionReceiversType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöksen vastaanottaja(t)</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecisionReceiver" type="DecisionContactInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöksen vastaanottaja(t)</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Attorney" type="DecisionContactInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Asiamies</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="RealEstates" type="RealEstatesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätökseen liittyvät kiinteistöt</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="RealEstate" type="RealEstateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätökseen liittyvä kiinteistö</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="SubsidyZone" type="co:SubsidyZoneType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kemera tukialue</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Stands" type="StandsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätökseen liittyvät kuviot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Stand" type="StandType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätökseen liittyvä kuvio</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="StandNumber" type="stb:StandNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvionumero</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="StandNumberExtension" type="stb:StandNumberExtensionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvionumero</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="StandReference" type="co:ReferenceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvioviite</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecisionGeometries" type="DecisionGeometriesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kaikki päätöksiin liittyvät geometriatiedot, mukaan lukien kuviot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecisionGeometry" type="DecisionGeometryType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätökseen liittyvä geometriatieto</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ObjectType" type="co:DecisionGeometryObjectType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kohdetyyppi, koodisto</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Works" type="WorksType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työlajit</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Work" type="WorkType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työlaji</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkCode" type="co:ForestCentreWorkCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työlajikoodi</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkDescription" type="co:String1000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työlajin selite</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Subsidies" type="SubsidiesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tuet (Kemera) ja korvaukset (HVI)</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Subsidy" type="SubsidyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="RealEstateId" type="co:IdStringType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CostType" type="co:PositiveInteger5digitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kustannuslajikoodi
				140 Uudelleen metsitys; Ny beskogning
				141 Täydennysviljely; Kompletteringsodling
				142 Raivaus; Röjning
				143 Maanmuokkaus, äestys, laikutus; Markberedning, harv-ning, fläckupptagning
				144 Maanmuokkaus, auraus, mätästys; Markberedning, plogning, högläggning
				145 Viljelymateriaali, mänty; Odlingsmaterial, tall
				146 Viljelymateriaali, kuusi; Odlingsmaterial, gran
				147 Viljelymateriaali, rauduskoivu; Odlingsmaterial, vårtbjörk
				148 Istutus; Plantering
				149 Kylvö; Sådd
				150 Muu työ; Övrigt arbete
				312 Taimikon hoito; Plantskogsvård
				323 Nuoren metsän harvennus + pienpuun korjuu; Gallring av ungskog + hopsamling av klenträd
				324 Nuoren metsän harvennus; Gallring av ungskog
				501 Lannoitteen levitys/ maasta; Spridning av gödsel/från marken
				502 Lannoite; Gödsel
				503 Lannoitteen levitys/ ilmasta; Spridning av gödsel/från luften
				504 Lannoitteen välitys- ja lähikuljetuskustannukset; Kostnader för förmedling och närtransport av gödseln
				602 Perkausojaa; Dikesrensning
				604 Täydennysojitus; Kompletteringsdikning    
				606 Uudisojitus; Nydikning
				607 Piennartasanne (Piennartie); Dikesren (Väg på dikesren)
				609 Vesiensuojelurakenteet; Vattenvårdskonstruktioner
				610 Muu konetyö; Övrigt maskinarbete
				611 Suometsänhoidon pinta-ala; Vård av torvmarksskog, areal
				612 Muut tarvikekustannukset; Övriga materialkostnader
				613 Rummut; Trummor
				614 Vesiensuojelurakenteiden tarvikkeet
				711 Runkotie, uusi tie, perustyöt; Stamväg, ny väg, grundarbeten
				712 Aluetie, uusi tie, perustyöt; Områdesväg, ny väg, grundarbeten
				713 Varsitie, uusi tie, perustyöt; Basväg, ny väg, grundarbeten
				714 Muu työ, uusi tie; Annat arbete, byggande av skogsväg
				721 Runkotie, perusparannus, perustyöt; Stamväg, grundlig förbättring, grundarbeten
				722 Aluetie, perusparannus, perustyöt; Områdesväg, grundlig förbättring, grundarbeten
				723 Varsitie, perusparannus, perustyöt; Basväg, grundlig förbättring, grundarbeten
				724 Muu työ, perusparannus; Annat arbete, förbättring av skogsväg
				731 Runkotie, uusi tie, päällysrakenne; Stamväg, ny väg, överbyggnad 
				732 Aluetie, uusi tie, päällysrakenne; Områdesväg, ny väg, överbyggnad
				733 Varsitie, uusi tie, päällysrakenne; Basväg, ny väg, överbyggnad
				741 Runkotie, perusparannus, päällysrakenne; Stamväg, grundlig förbättring, överbyggnad
				742 Aluetie, perusparannus, päällysrakenne; Områdesväg, grundlig förbättring, överbyggnad
				743 Varsitie, perusparannus, päällysrakenne; Basväg, grundlig förbättring, överbyggnad
				751 Rummut, uusi tie; Trummor, ny väg
				752 Muut tarvikkeet, uusi tie; Övrigt material, ny väg
				753 Perustöiden tarvikkeet, uusi tie
				754 Päällysrakennemateriaali, uusi tie
				761 Rummut, perusparannus; Trummor, grundlig förbättring
				762 Muut tarvikkeet, perusparannus; Övrigt material, grundlig förbättring
				763 Perustöiden tarvikkeet, perusparannus
				764 Päällysrakennemateriaali, perusparannus
				771 Sillan työkustannukset, uusi silta; Arbetskostnader för bro, ny bro
				772 Sillan tarvikekustannus, uusi silta; Materialkostnader för bro, ny bro
				781 Sillan työkustannukset, perusparannus; Arbetskostnader för bro, grundlig förbättring
				782 Sillan tarvikekustannukset, perusparannus; Materialkostnader för bro, grundlig förbättring
				800 Juurikäävän torjunta; Bekämpning av rotticka
				902 Luonnonhoito tarvikkeet; Naturvård, materia
				903 Luonnohoito hallinto; Naturvård, administration
				904 Säästöpuiden poltto; Naturvårdsbränning av sparträd
				905 Laskeutusallas; Sedimenteringsbassäng
				906 Luonnonhoitohankkeen toteutuksen suunnittelu; Planering av verkställande av naturvårdsprojekt
				907 Luonnonhoitohankkeen suunnittelun toteutus; Verkställande av planering av naturvårdsprojekt
				908 Tilan vaikutusala; Fastighetens verkningsområde
				910 Perus- ja Hakkuuarvokorvaus; Ersättning, grund och avverkningsvärde
				911 Suunnittelu (Luonnonhoitohanke tai ympäristötukihanke); Planering av naturvårdsprojekt eller miljöstödsprojekt
				914 Korvauspinta-ala; Ersättningsareal
				915 Tarvikekustannukset; Materialkostnader
				916 Ympäristötukihankkeen hoito- ja kunnossapitosuunnitelman laatiminen; Uppgörande av vård- och underhållsplan för miljöstödsprojekt 
				917 Ympäristötukihankkeen hoito- ja kunnossapitosuunnitelman toteutus; Genomförande av vård- och underhållsplan för miljöstödsprojekt
				919 Omavastuu; Självrisk
				920 Luonnonhoito toteutus, toteutus; Verkställande av naturvårdsprojekt, verkställande
				951 Hankkeen toteutuksesta saatu tulo
				955 Palautus; Återbetalning
				956 Korko; Ränta
				968 Työnjohto; Arbetsledning
				969 Korvaukset; Ersättning
				970 Tietoimitukset, luvat yms; Vägförrättningar, tillstånd m.m.
				975 Ojitustoimitukset; Dikesförrättningar
				978 Hirvivahinkoarviointi; Älgskadevärdering
				979 Kasvu- ja laatutappio; Tillväxt- och kvalitetsförlust
				980 Ravinneanalyysi; Näringsanalys
				992 Luonnohoito ALV; Naturvård, MOMS
				993 Sillan suunnittelukustannus, uusi silta; Planeringskostnad för bro, ny bro 
				996 Sillan suunnittelukustannus, perusparannus; Planeringskostnad för bro, grundlig förbättring 
				997 Suunnittelu; Planering</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CostTypeDescription" type="co:String1000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kustannuslajiselite</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ApplicationAmount" type="co:Decimal7And2PositiveType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tuen haettu määrä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ApplicationAmountUnit" type="co:WorkCodeUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tuen haetun määrän yksikkö</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ApplicationUnitPrice" type="co:Decimal7And2PositiveType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Haetun tuen yksikköhinta, euroa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ApplicationTotalSubsidy" type="co:Decimal7And2PositiveType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Haetun tuen kokonaismäärä, euroa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecidedAmount" type="co:Decimal7And2PositiveType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tuki, päätetty määrä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecidedAmountUnit" type="co:WorkCodeUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tuki, päätetyn määrän yksikkö</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecidedUnitPrice" type="co:Decimal7And2PositiveType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tuen yksikköhinta, euroa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecidedTotalSubsidy" type="co:Decimal7And2PositiveType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätetyn tuen kokonaismäärä, euroa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Reasons" type="ReasonsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Perustelut tarkastustietojen perusteella</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Reason" type="ReasonType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Perustelu tarkastustietojen perusteella</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReasonCode" type="co:String10Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tukiperustelukoodi</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReasonDescription" type="co:String1000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tukiperusteluteksti</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="SubsidyArgumentText" type="co:String2000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tukiperusteluteksti</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="FinancingActData" type="FinancingActDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorksDueDate" type="co:DateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päivämäärä johon mennessä työt saatettava viimeistään loppuun</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CompletionDeclarationDeliveryDueDate" type="co:DateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päivämäärä jolloin toteutusilmoitus on toimitettava viimeistään Metsäkeskukselle</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Justifications" type="JustificationsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Justification" type="co:String2000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätösperustelu tekstinä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="RectificationDemand" type="co:String2000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Oikaisuvaatimusosoitus tekstinä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Rectification demand as text</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkCodeGroup" type="co:ForestCentreWorkCodeGroupType"/>
	<xs:element name="FirstName" type="ci:FirstNameType"/>
	<xs:element name="LastName" type="ci:LastNameType"/>
	<xs:element name="PersonOrganizationName" type="ci:PersonOrganizationNameType"/>

	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->

	<xs:complexType name="ForestCentreControlDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsäkeskuksen tarkastustiedot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Forest Centre control data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TimeStamp"/>
			<xs:element ref="Message" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="MetadataText" minOccurs="0"/>
			<xs:element ref="ForestCentreDecision" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="co:IdStringType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Viestin id</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Message id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="schemaPackageVersion"
			type="co:ForestDataStandardSchemaPackageVersionType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Viesti perustuu skeemapakettiin ...</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Message based on schema package ...</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="ForestCentreDecisionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsäkeskuksen Kemera-päätös</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Forest centre Kemera desicion</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CaseNumber"/>
			<xs:element ref="CaseDate"/>
			<xs:element ref="DecisionNumber"/>
			<xs:element ref="DecisionType"/>
			<xs:element ref="DecisionDate"/>
			<xs:element ref="CustomerReference" minOccurs="0"/>
			<xs:element ref="FinancingActApplicationReference" minOccurs="0"/>
			<xs:element ref="CompletionDeclarationReference" minOccurs="0"/>
			<xs:element ref="ForestUseDeclarationReference" minOccurs="0"/>
			<xs:element ref="Acceptance"/>
			<xs:element ref="CaseActions"/>
			<xs:element ref="OriginalSender"/>
			<xs:element ref="DecisionReceivers"/>
			<xs:element ref="Attorney" minOccurs="0"/>
			<xs:element ref="RealEstates"/>
			<xs:element ref="DecisionGeometries" minOccurs="0"/>
			<xs:element ref="Works"/>
			<xs:element ref="SubsidyArgumentText" minOccurs="0"/>
			<xs:element ref="FinancingActData"/>
			<xs:element ref="Justifications"/>
			<xs:element ref="RectificationDemand"/>
		</xs:sequence>
		<xs:attribute name="id" type="co:IdStringType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Päätöksen id</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Decision id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="CaseActionsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CaseAction" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CaseActionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ActionType"/>
			<xs:element ref="ActionDescription"/>
			<xs:element ref="ActionDate"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DecisionReceiversType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="DecisionReceiver" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RealEstatesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöksen kiinteistöt</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="RealEstate" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RealEstateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöksen kiinteistöt</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="re:BaseRealEstateType2">
				<xs:sequence>
					<xs:element ref="SubsidyZone"/>
					<xs:element ref="Stands" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="StandsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöksen kuviot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Stand" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="StandType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöksen kuvio</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="StandNumber"/>
			<xs:element ref="StandNumberExtension"/>
			<xs:element ref="StandReference" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DecisionGeometriesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kaikki päätöksiin liittyvät geometriatiedot mukaan lukien kuviot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="DecisionGeometry" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DecisionGeometryType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ObjectType"/>
			<xs:element ref="StandReference" minOccurs="0"/>
			<xs:group ref="gdt:PointLineAndPolygonGeometriesGroup"/>
		</xs:sequence>
		<xs:attribute name="id" type="co:IdStringType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Geometrian id</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Geometry id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="WorksType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Work" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WorkType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="WorkCodeGroup"/>
			<xs:element ref="WorkCode"/>
			<!-- <xs:element ref="WorkDescription"/> -->
			<xs:element ref="Subsidies"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SubsidiesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Subsidy" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SubsidyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="RealEstateId"/>
			<xs:element ref="StandReference" minOccurs="0"/>
			<xs:element ref="CostType"/>
			<xs:element ref="CostTypeDescription"/>
			<xs:element ref="ApplicationAmount" minOccurs="0"/>
			<xs:element ref="ApplicationAmountUnit" minOccurs="0"/>
			<xs:element ref="ApplicationUnitPrice" minOccurs="0"/>
			<xs:element ref="ApplicationTotalSubsidy" minOccurs="0"/>
			<xs:element ref="DecidedAmount"/>
			<xs:element ref="DecidedAmountUnit"/>
			<xs:element ref="DecidedUnitPrice"/>
			<xs:element ref="DecidedTotalSubsidy"/>
			<xs:element ref="Reasons" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ReasonsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Reason" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ReasonType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ReasonCode"/>
			<xs:element ref="ReasonDescription"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FinancingActDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="WorksDueDate"/>
			<xs:element ref="CompletionDeclarationDeliveryDueDate"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="JustificationsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Justification" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DecisionContactInformationType">
		<xs:sequence>
			<xs:element ref="FirstName"/>
			<xs:element ref="LastName"/>
			<xs:element ref="PersonOrganizationName"/>
		</xs:sequence>
		<xs:attribute name="id" type="co:IdStringType" use="optional"/>
	</xs:complexType>

</xs:schema>
