schema/ForestCentreCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Metsäkeskussanomien yleiset elementit ja tyypit.
	Skeema on JHS-170 -suosituksen mukainen.
	Ensimmäinen versio 1.0
	18.9.2015
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V11.01:
	-Siirretty tyyppimäärittely AttorneyType tiedostosta FinancingActCommon.xsd tiedostoon ForestCentreCommon.xsd. Siirrytty käyttämään elementtejä PowerOfAttorney ja RightToSpecifyBankAccountsOfPaymentTransactions viittauksella (ref). Viittaus skeematiedostoon FinancingActCommon.xsd.
	
	Muutokset skeemapakettiin V11.02:
	-Skeematiedoston FinancingActCommon.xsd sisältö siirretty tähän skeematiedostoon.
	
	Muutokset skeemapakettiin V11.05:
	-Lisätty uusi elementtimäärittely Document, tyypiltään co:Document4MBType. Viittaus complexType DocumentsType:ssä muutettu käyttämään tätä uutta elementtimäärittelyä. Lisäksi elementin maxOccurs muutettu "n" -> 10
	***************************************************************
-->

<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/ForestCentreCommon"
	xmlns="http://standardit.tapio.fi/schemas/forestData/ForestCentreCommon"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:ci="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	xmlns:stb="http://standardit.tapio.fi/schemas/forestData/standbase"
	xmlns:re="http://standardit.tapio.fi/schemas/forestData/realEstate"
	xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
	xmlns:gml="http://www.opengis.net/gml"
	elementFormDefault="qualified"
	version="V11.05">

	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/contactInformation"
		schemaLocation="ContactInformation.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/standbase"
		schemaLocation="StandBase.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/realEstate"
		schemaLocation="RealEstateBase.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
		schemaLocation="Common_GeometricDataType.xsd"/>
	<xs:import namespace="http://www.w3.org/2005/05/xmlmime"
		schemaLocation="../w3c/2005/xmlmime.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/base/gml.xsd"/>

    <!-- Elementtimääritykset -->
    <!-- Element definitions -->
    <xs:element name="SubsidyApplierId" type="co:IdStringNotEmptyType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Id viittaa id-attribuuttiin henkilölistassa. Kiinteistön omistaja on siis tässä viitattu henkilö / toimija.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="RealEstateId" type="co:IdStringNotEmptyType"/>
    <xs:element name="PayeeId" type="co:IdStringNotEmptyType"/>
    <xs:element name="SubsidyApplierReference" type="SubsidyApplierReferenceType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Tuensaajat (kiintestön omistajat) tai muut maksunsaajat</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="FinancingActApplicationReference" type="co:ReferenceType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Rahoitushakemuksen yksilöivä viite. Hakijan ilmoittama hakemuskohtainen, valtakunnallisesti yksilöivä viite. Hakemusviitteen muodostamissääntö: lähettäjän organisaatiotunnus, vuosi, lähettäjän antama ilmoituksen yksilöivä tunnus. Lähettävän organisaation tunnukset: Metsähallitus=M-H, Metsämannut=M-M, Metsänhoitoyhdistys=MHY, Stora Enso=S-E, Tornator=TOR, UPM-Kymmene=UPM, MetsäGroup=M-G, Metsään.fi = MFI, L&amp;T Biowatti Oy = BWO, Muu organisaatio=MUU. Esim. MHY2015999999999999999999999. Jos siirtotiedostossa käytetään MUU-organisaatiotunnusta, on siitä oltava yhteydessä tiedonsiirtopalvelun ylläpitäjään.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Reference of FinancingActApplication. Applier announces.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="CompletionDeclarationReference" type="co:ReferenceType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Toteutusilmoituksen yksilöivä viite. Ilmoituksen lähettäjän antama ilmoituskohtainen, valtakunnallisesti yksilöivä viite. Ilmoitusviitteen muodostamissääntö: lähettäjän organisaatiotunnus, vuosi, lähettäjän antama ilmoituksen yksilöivä tunnus.  Lähettävän organisaation tunnukset:  Metsähallitus=M-H, Metsämannut=M-M, Metsänhoitoyhdistys=MHY, Stora Enso=S-E, Tornator=TOR, UPM-Kymmene=UPM, MetsäGroup=M-G, Metsään.fi = MFI,  L&amp;T Biowatti Oy = BWO, Muu organisaatio=MUU. Esim. MHY2015999999999999999999999. Jos siirtotiedostossa käytetään MUU-organisaatiotunnusta, on siitä oltava yhteydessä tiedonsiirtopalvelun ylläpitäjään.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Reference of Completion Declaration</xs:documentation>
        </xs:annotation>
    </xs:element>
	<xs:element name="CustomerReference" type="co:ReferenceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Asiakasviite</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="StandReference" type="co:ReferenceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hakemuksen lähettäjän antama kuviokohtainen, valtakunnallisesti yksilöivä viite. Kuvioviitteen muodostamissääntö: lähettäjän organisaatiotunnus, vuosi, lähettäjän antama kuvion yksilöivä tunnus. Lähettävän organisaation tunnukset: Metsähallitus=M-H, Metsämannut=M-M, Metsänhoitoyhdistys=MHY, Stora Enso=S-E, Tornator=TOR, UPM-Kymmene=UPM, MetsäGroup=M-G, Metsään.fi = MFI, L&amp;T Biowatti Oy = BWO, Muu organisaatio=MUU. Esim. MHY2003999999999999999999999. Jos siirtotiedostossa käytetään MUU-organisaatiotunnusta, on siitä oltava yhteydessä tiedonsiirtopalvelun ylläpitäjään.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="FinancingActApplicationTextInformation" type="co:String2000Type">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Hakemuksen lisätiedot</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="FinancingActCompletionDeclarationTextInformation" type="co:String2000Type">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Toteutusilmoituksen lisätiedot</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="UpdatePreviousMessage" type="co:YesNoType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kyllä- / Ei-tieto, jolla ilmoituksen lähettäjä ilmaisee korvaako hän aikaisemman hakemuksen lähettämällä uuden täydellisen hakemuksen vai lähettääkö hän uutta hakemusta. Arvo 0 uudella hakemuksella ja arvo 1 päivittävällä hakemuksella.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="FinancingActNumber" type="FinancingActNumberType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Hankkeen Riihinumero. Perusrahoituspäätöksessä mainittu numero (hankenumero), esim. 11-2016-123456.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="RemovalClass" type="co:RemovalClassType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Poistumaluokka</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="HeightClass" type="co:HeightClassType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Pituusluokka</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="DiameterClass" type="co:DiameterClassType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Läpimittaluokka (pohjapinta-alalla painotettu keskiläpimitta)</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="SmallWoodRemovalClass" type="co:SmallWoodRemovalClassType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Pienpuun poistumaluokka</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="ElectronicNotification" type="co:ElectronicNotificationType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Suostumus sähköiseen tiedonantoon.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="PaymentsDate" type="co:DateType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Maksupäivä</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Arrival date</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ArrivalDate" type="co:DateType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Saapumispäivä</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Arrival date</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="CostType" type="CostTypeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kustannuslajin tiedot</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="CostTypeNumber" type="co:CostTypeNumberType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kustannuslajin numero</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="FertilizationType" type="co:String50Type">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Lannoitustyyppi</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="CompletedWorkAmount" type="AmountType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Toteutetun työn määrä. Pinta-alan tapauksessa kyse on metsäpinta-alasta. Mikäli paikkatieto eli geometria sisältää esim. metsätien, tulee toteutetun pinta-alan käsittää vain metsäpinta-ala.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="PlannedWorkAmount" type="AmountType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Suunniteltu työmäärä. Pinta-alan tapauksessa kyse on metsäpinta-alasta. Mikäli paikkatieto eli geometria sisältää esim. metsätien, tulee toteutetun pinta-alan käsittää vain metsäpinta-ala.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="UnitPrice" type="UnitPriceType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Yksikköhinta</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="EstimatedStartDate" type="co:DateType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Hankkeen arvioitu alkamisaika</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="EstimatedEndDate" type="co:DateType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Hankkeen arvioitu päättymisaika</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="StartDate" type="co:DateType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Hankkeen alkamisaika</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="EndDate" type="co:DateType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Hankkeen päättymisaika</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="SubsidyAmount" type="co:MoneyType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Tuen määrä</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="FinancingActWorkGroup" type="co:FinancingActWorkGroupType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Työlajiryhmä jota hakemus koskee. Eritelty tukilaji määritellään PartsOfProject elementin alla.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="FinancingActWorkCode" type="co:FinancingActWorkCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Työlaji jota hakemus koskee</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="AreaNo" type="co:PositiveInteger4digitsType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Hankeosan numero. Yksittäisen hakemuksen / toteutusilmoituksen hankeosan yksilöivä numero.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="StandNumber" type="stb:StandNumberType"/>
    <xs:element name="StandNumberExtension" type="stb:StandNumberExtensionType"/>
    <xs:element name="Area" type="stb:AreaType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kuvion paikkatiedon / geometrian pinta-ala hehtaareina. Mikäli kuviointi sisältää myös teitä ja linjoja (mm. sähkölinja) eli kuviorajojen sisällä on kyseisiä kohteita, pinta-ala sisältää myös näiden pinta-alan.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="MainGroup" type="co:ExtendedMainGroupType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kuvion pääryhmä.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="SubGroup" type="co:SubGroupType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kuvion alaryhmä.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="FertilityClass" type="co:FertilityClassType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kuvion kasvupaikkaluokka.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="SoilType" type="co:SoilTypeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kuvion maalaji.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="MainTreeSpecies" type="co:TreeSpeciesConciseType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Pääpuulaji</xs:documentation>
            <xs:documentation xml:lang="en">Main tree species</xs:documentation>
            <xs:documentation xml:lang="sv"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="CuttingStemCount" type="CuttingStemCountType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Poistuman runkoluku</xs:documentation>
            <xs:documentation xml:lang="en"/>
            <xs:documentation xml:lang="sv"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="StemCount" type="co:StemCountType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Puuston runkoluku, kpl/ha</xs:documentation>
            <xs:documentation xml:lang="en"/>
            <xs:documentation xml:lang="sv"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="MeanDiameter" type="co:DiameterType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Keskiläpimitta, cm (pohjapinta-alalla painotettu keskiläpimitta)</xs:documentation>
            <xs:documentation xml:lang="en"/>
            <xs:documentation xml:lang="sv"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="MeanHeight" type="co:HeightType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Keskipituus, m</xs:documentation>
            <xs:documentation xml:lang="en"/>
            <xs:documentation xml:lang="sv"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="SmallWoodRemovalVolume" type="co:PositiveInteger4digitsType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Pienpuun poistuman tilavuus m3/ha.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="LocationEstate" type="LocationEstateType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Id-viittaus RealEstate.id -attribuuttiin.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="StandExtraInfo" type="co:String2000Type"/>
    <xs:element name="Date" type="co:DateType"/>
    <xs:element name="Sender" type="ci:ContactInformationType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Hakemuksen lähettäjä / laatija. Sähköpostiosoite (EmailAddress) on yhteydenotto-osoite sähköisessä yhteydenpidossa hakemuksen / toteutusilmoituksen lähettäjään / laatijaan. Käyttötarkoitukset esim. yhteydenotot hakemuksen / toteutusilmoituksen lähettäjään ja päätöksen toimittaminen.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="Attorney" type="AttorneyType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Asiamies ja yhteyshenkilö</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Attorney and contact person</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PowerOfAttorney" type="PowerOfAttorneyType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Asiamiehellä on valtakirja oikeudesta edustaa hakemusasiassa.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="RightToSpecifyBankAccountsOfPaymentTransactions" type="co:YesNoType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Asiamiehellä on oikeus ohjata pankkiliikenne toiselle tilille.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="WorkingRepresentatives" type="WorkingRepresentativesType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Rahoitushakemuksen mukaisten töiden toteutuksesta vastuussa olevat toimijat.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="WorkingRepresentative" type="WorkingRepresentativeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Rahoitushakemuksen mukaisten töiden toteutuksesta vastuussa olevan toimijan tiedot mm. tiedotusta varten.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="SentDate" type="co:DateType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Sanoman lähetyspvm. Myös päivitettävällä sanomalla sanoman uuden sanoman lähetyspvm.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="CopOperationProject" type="co:YesNoType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Hanke toteutetaan eri tuensaajien yhteishankkeena</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="Language" type="co:ISO639char2LanguageType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Hakemuksen kieli, määrää asiointikielen.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="PaymentsReference" type="PaymentsReferenceType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Maksuviite</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="ProjectIsAuthorizedForEstate" type="co:YesNoType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kiinteistön mailla on lupa toteuttaa hanke. Kiinteistö ei osallistu itse hankkeen toteuttamiseen.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="FinancingActRealEstates" type="FinancingActRealEstatesType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Rahoitushakemuksen tuensaaja- ja lupakiinteistöt.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="FinancingActRealEstate" type="FinancingActRealEstateType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Rahoitushakemuksen tuensaaja- tai lupakiinteistö. HUOM! id-attribuuttiin tulee sisällyttää aina yksilöivä id, koska sitä käytetään viiteavaimena toisaalla sanomassa.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="ApplicationActors" type="ApplicationActorsType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Rahoitushakemuksen toimijatiedot: kiinteistönomistajat, tuensaajat ja muut maksunsaajat.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="CompletionDeclarationActors" type="CompletionDeclarationActorsType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Toteutusilmoituksen toimijatiedot: kiinteistönomistajat, tuensaajat ja muut maksunsaajat.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="SubsidyAppliers" type="SubsidyAppliersType"/>
    <xs:element name="BankAccount" type="co:BankAccountType"/>
    <xs:element name="FinancingActCompletionStands" type="FinancingActCompletionStandsType"/>
    <xs:element name="FinancingActCompletionStand" type="FinancingActCompletionStandType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kemera-haun kuvio on yhtenäinen alue (Polygon, ei MultiPolygon). Kemera-kuviolla ei tarvitse olla yhteyttä metsikkökuviointiin mutta Kemera-kuvion tulee sijaita kokonaisuudessaan saman metsänomistajan kiinteistöillä. Kuvionumerointi tulee olla yksilöivä kiinteistön sisällä eli Kemera-kuviolla tulee olla kiinteistöittäin (LocationEstate) yksilöivä kuvionumerointi (StandNumber ja StandNumberExtension -yhdistelmä). Hakemuksen lähettäjän osalta kuvioviitteen (StandReference) tulee olla yksilöivä. Työlajeittain pakollisia tietoja ovat seuraavat kuviotiedot xml-skeemassa esitettyjen pakollisuuksien lisäksi. Taimikon varhaishoito: 1. jäävän puuston määrä (runkoluku), 2. keskipituus, 3. Poistuman suuruusluokka tai poistuman tarkka runkoluku; Nuoren metsän hoito: 1. jäävän puuston määrä (runkoluku), 2. keskiläpimitta, 3. Jäävän puuston pituusluokka tai keskipituus, 4. Poistuman suuruusluokka tai poistuman tarkka runkoluku; Juurikäävän torjunta: 1. Torjunta-alueen pinta-ala, 2. ajankohta, jolloin työ on tehty.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="FinancingActCompletionOtherSubjects" type="FinancingActCompletionOtherSubjectsType"/>
    <xs:element name="FinancingActCompletionGeometries" type="FinancingActCompletionGeometriesType"/>
    <xs:element name="FinancingActCompletionGeometry" type="FinancingActGeometryType"/>
    <xs:element name="FinancingActApplicationStands" type="FinancingActApplicationStandsType"/>
    <xs:element name="FinancingActApplicationStand" type="FinancingActApplicationStandType"/>
    <xs:element name="FinancingActApplicationOtherSubjects" type="FinancingActApplicationOtherSubjectsType"/>
    <xs:element name="FinancingActApplicationGeometries" type="FinancingActApplicationGeometriesType"/>
    <xs:element name="FinancingActApplicationGeometry" type="FinancingActGeometryType"/>
    <xs:element name="FeatureCode" type="co:FeatureCodeType"/>
    <xs:element name="FeatureInfo" type="co:String500Type"/>
    <xs:element name="Documents" type="DocumentsType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Dokumentit. Ei käytössä toistaiseksi. Tietoja ei tallenneta Metsäkeskusjärjestelmään eikä niitä huomioida ilmoituksen käsittelyn yhteydessä.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="CostTypeAndCompletedWorkApplication" type="CostTypeAndCompletedWorkApplicationType"/>
    <xs:element name="CostTypeAndCompletedWorkCompletion" type="CostTypeAndCompletedWorkCompletionType"/>
    <xs:element name="CostTypeAndCompletedWorkApplicationRealEstate" type="CostTypeAndCompletedWorkApplicationRealEstateType"/>
    <xs:element name="CostTypeAndCompletedWorkCompletionRealEstate" type="CostTypeAndCompletedWorkCompletionRealEstateType"/>
    <xs:element name="PayeesAndRealEstates" type="PayeesAndRealEstatesType"/>
    <xs:element name="PayeeAndRealEstate" type="PayeeAndRealEstateType"/>
    <xs:element name="ParticipationPercentage" type="co:PercentType"/>
    <xs:element name="Document" type="co:Document4MBType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Dokumentti</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    
	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:simpleType name="LocationEstateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Sijaintikiinteistön id. Id-viittaus RealEstate.id -attribuuttiin. Puuttuva id ei sallittu.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Id of location real estate. Attribute RealEstate.id. Empty id is not valid.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:IdStringNotEmptyType"/>
	</xs:simpleType>
	
	<xs:simpleType name="PowerOfAttorneyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Valtakirja olemassa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Power of attorney exists</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:YesNoType"/>
	</xs:simpleType>
	
	<xs:complexType name="AttorneyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Asiamiehen / yhteyshenkilön tietojen määrittely</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Definition for information of attorney / contact person</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ci:ContactInformationType">
				<xs:sequence>
					<xs:element ref="PowerOfAttorney" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="RightToSpecifyBankAccountsOfPaymentTransactions" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <xs:complexType name="FinancingActRealEstatesType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kiinteistöjen tiedot.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Real estates data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="FinancingActRealEstate" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FinancingActRealEstateType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kiinteistön tiedot.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Real estate data.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="re:BaseRealEstateType2">
                <xs:sequence>
                    <!-- TOISTAISEKSI PIILOTETTU ELEMENTTI
                    <xs:element ref="ProjectIsAuthorizedForEstate" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Kiinteistön mailla on lupa toteuttaa hanke. Kiinteistö ei osallistu itse hankkeen toteuttamiseen. Mahdollista työlajiryhmillä 60 ja silloin kun kiinteistö ei osallistu hankkeen kustannuksiin / kiinteistö ei osallistu itse hankkeen toteutukseen.</xs:documentation>
                            <xs:documentation xml:lang="sv"/>
                            <xs:documentation xml:lang="en"/>
                        </xs:annotation>
                    </xs:element>
                    -->
                    <xs:element name="SubsidyApplierReferenceList" type="SubsidyApplierReferenceListType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SubsidyApplierReferenceListType">
        <xs:annotation>
            <xs:documentation xml:lang="fi"/>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="SubsidyApplierReference" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SubsidyApplierReferenceType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Tuensaajan (kiintestön omistajat) tai muun maksunsaajan tiedot.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="SubsidyApplierId" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Id-viittaus henkilö-/organisaatiolistan yksittäiseen toimijaan (actor). Viittaus id-attribuuttiin.</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
            <xs:element name="MainApplier" type="co:YesNoType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Jos hakijoita on useampi, niin tässä osoitetun päähakijan yhteystiedoilla lähetetään päätökset ja maksatusilmoitukset.</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
            <xs:element name="ShareOfOwnerShip" type="co:PercentType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Omistusosuus prosentteina. Omistusosuutta ei tarvitse ilmoittaa enää toteutusilmoituksella, jos se on ilmoitettu jo hakemusvaiheessa. Omistusosuuden ilmoittamisen pakollisuudessa pätee seuraava: Jos hakija on rahoituslain 28 §:ssä tarkoitettu tukeen oikeutettu kiinteistön yhteisomistaja, hakemuksessa on ilmoitettava yhteisomistussuhteen peruste ja omistusosuus. Säännös koskee kemera-lain 28 §:ssä säädettyjä tilanteita, joissa vain osa kiinteistön yhteisomistajista ryhtyy toimenpiteeseen ja hakee sille tukea. Tuki myönnetään silloin sitä hakeneille yhteisomistajille. Jos toimenpiteessä ja tukea hakemassa ovat mukana kaikki kiinteistön yhteisomistajat, säännöksiä ei sovelleta. Tuensaajana eivät tällöin ole yksittäiset yhteisomistajat, vaan heidän muodostamansa yhteenliittymä tai jakamaton kuolinpesä.</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
            <xs:element name="OwnerShipType" type="OwnerShipTypeType" minOccurs="1" maxOccurs="1"/>
            <!--
            <xs:element name="AuthorizationOfAttorney" type="AuthorizationOfAttorneyType" minOccurs="0" maxOccurs="1"/>
            -->
            <!--
            <xs:element name="SuppsidyApplierIncomes" type="co:MoneyType" minOccurs="0"
                maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Suometsänhoidon, metsätien tekemisen ja metsäluonnon hoidon tuen hakemuksessa on ilmoitettava arvio toimenpiteen toteuttamisen yhteydessä kohteella tuensaajalle syntyvistä tuloista.</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
            -->
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AuthorizationOfAttorneyType">
        <xs:annotation>
            <xs:documentation xml:lang="fi"/>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Authorization" type="co:YesNoType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Date" type="co:DateType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="AttorneyReceivesPayment" type="co:YesNoType" minOccurs="1"
                maxOccurs="1"/>
            <xs:element name="AdditionalInfo" type="co:String2000Type" minOccurs="1" maxOccurs="1"/>
            <xs:element name="PowerOfAttorneyDocument" type="xmime:base64Binary" minOccurs="0"
                maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OwnerShipTypeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Tuensajien tiedot; Kiinteistön omistajat tai muut maksunsaajat.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="OwnerShipTypeCode" type="co:OwnerShipTypeCodeType" minOccurs="1"
                maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Omistussuhde. Omistussuhteen ilmoittamisen pakollisuudessa pätee seuraava: Jos hakija on rahoituslain 28 §:ssä tarkoitettu tukeen oikeutettu kiinteistön yhteisomistaja, hakemuksessa on ilmoitettava yhteisomistussuhteen peruste ja omistusosuus. Säännös koskee kemera-lain 28 §:ssä säädettyjä tilanteita, joissa vain osa kiinteistön yhteisomistajista ryhtyy toimenpiteeseen ja hakee sille tukea. Tuki myönnetään silloin sitä hakeneille yhteisomistajille. Jos toimenpiteessä ja tukea hakemassa ovat mukana kaikki kiinteistön yhteisomistajat, säännöksiä ei sovelleta. Tuensaajana eivät tällöin ole yksittäiset yhteisomistajat, vaan heidän muodostamansa yhteenliittymä tai jakamaton kuolinpesä.</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdditionalInfo" type="co:String500Type" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ApplicationActorsType">
        <xs:sequence>
            <xs:element name="ApplicationActor" type="ApplicationActorType" minOccurs="1"
                maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Rahoitushakemuksen toimijatieto: kiinteistönomistaja, tuensaaja ja/tai muu maksunsaaja.</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CompletionDeclarationActorsType">
        <xs:sequence>
            <xs:element name="CompletionDeclarationActor" type="PayeeType" minOccurs="1"
                maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Toteutusilmoituksen toimijatieto: kiinteistönomistaja, tuensaaja ja/tai muu maksunsaaja. HUOM! id-attribuuttiin tulee sisällyttää aina yksilöivä id, koska sitä käytetään viiteavaimena toisaalla sanomassa.</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SubsidyAppliersType">
        <xs:sequence>
            <xs:element name="SubsidyApplier" type="PayeeType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ApplicationActorType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kiinteistönomistajan, tuensaajan ja/tai muu maksunsaajan tiedot. HUOM! id-attribuuttiin tulee sisällyttää aina yksilöivä id, koska sitä käytetään viiteavaimena toisaalla sanomassa.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ci:ContactInformationType"> </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PayeeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Maksunsaajan tiedot</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ci:ContactInformationType">
                <xs:sequence>
                    <xs:element ref="BankAccount" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="PaymentsReferenceType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Maksuviite</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:restriction base="xs:string"> </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="FinancingActApplicationStandsType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kemera-haun kuviot.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Stands data in application</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="FinancingActApplicationStand" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancingActApplicationStandType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kemera-haun kuvio on yhtenäinen alue (Polygon, ei MultiPolygon). Kemera-kuviolla ei tarvitse olla yhteyttä metsikkökuviointiin mutta Kemera-kuvion tulee sijaita kokonaisuudessaan saman metsänomistajan kiinteistöillä. Kuvionumerointi tulee olla yksilöivä kiinteistön sisällä eli Kemera-kuviolla tulee olla kiinteistöittäin (LocationEstate) yksilöivä kuvionumerointi (StandNumber ja StandNumberExtension -yhdistelmä). Hakemuksen lähettäjän osalta kuvioviitteen (StandReference) tulee olla yksilöivä.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Stand data in application</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="StandNumber" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="StandNumberExtension" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="StandReference" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="Area" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="MainGroup" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="SubGroup" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="FertilityClass" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="SoilType" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="MeanHeight" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="DiameterClass" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="CostTypeAndCompletedWorkApplication" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="StandExtraInfo" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="gml:polygonProperty" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Kemera hakemuksen kuvion aluegeometria sisäalueineen.</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en">Polygon geometry of stand of financing act application with interior polygons.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="LocationEstate" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Kuvion sijaintikiinteistöksi merkitään se kiinteistö, jonka alueella suurin osa kuvion pinta-alasta sijaitsee. Yksittäisen kuvion suositellaan sijaitsevan samalla kiinteistöllä. Mikäli kuitenkin esim. pinta-alavaatimuksen täyttymiseksi on tarpeen kuvioinnissa ylittää kiinteistön raja (saman omistajan vierekkäiset kiinteistöt) voidaan poikkeustilanteissa kuviointi tehdä useamman kiinteistön alueelle. Id-viittaus RealEstate.id -attribuuttiin.</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="co:IdStringType">
            <xs:annotation>
                <xs:documentation xml:lang="fi">Kuvion id</xs:documentation>
                <xs:documentation xml:lang="sv"/>
                <xs:documentation xml:lang="en">Stand id</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="FinancingActApplicationOtherSubjectsType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Muiden kuin aluemaisten kohteiden tiedot hakemuksella</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="CostTypeAndCompletedWorkApplicationRealEstate" minOccurs="1"
                maxOccurs="1"/>
            <xs:element ref="FinancingActApplicationGeometries" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancingActApplicationGeometriesType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Viiva- ja pistemäisten kohteiden tiedot hakemuksella</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Lines and points data in application</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="FinancingActApplicationGeometry" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FinancingActCompletionStandsType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kuvioiden tiedot toteutusilmoituksella</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Stands data in completion</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="FinancingActCompletionStand" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancingActCompletionStandType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kemera-haun kuvio on yhtenäinen alue (Polygon, ei MultiPolygon). Kemera-kuviolla ei tarvitse olla yhteyttä metsikkökuviointiin mutta Kemera-kuvion tulee sijaita kokonaisuudessaan saman metsänomistajan kiinteistöillä. Kuvionumerointi tulee olla yksilöivä kiinteistön sisällä eli Kemera-kuviolla tulee olla kiinteistöittäin (LocationEstate) yksilöivä kuvionumerointi (StandNumber ja StandNumberExtension -yhdistelmä). Hakemuksen lähettäjän osalta kuvioviitteen (StandReference) tulee olla yksilöivä. Työlajeittain pakollisia tietoja ovat seuraavat kuviotiedot xml-skeemassa esitettyjen pakollisuuksien lisäksi. Taimikon varhaishoito: 1. jäävän puuston määrä (runkoluku), 2. keskipituus, 3. Poistuman suuruusluokka tai poistuman tarkka runkoluku; Nuoren metsän hoito: 1. jäävän puuston määrä (runkoluku), 2. keskiläpimitta, 3. Jäävän puuston pituusluokka tai keskipituus, 4. Poistuman suuruusluokka tai poistuman tarkka runkoluku; Juurikäävän torjunta: 1. Torjunta-alueen pinta-ala, 2. ajankohta, jolloin työ on tehty.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Stand data in completion</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="StandNumber" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="StandNumberExtension" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="StandReference" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="Area" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="MainGroup" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="SubGroup" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="FertilityClass" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="SoilType" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="MainTreeSpecies" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Jäävän puuston pääpuulaji</xs:documentation>
                    <xs:documentation xml:lang="en"/>
                    <xs:documentation xml:lang="sv"/>
                </xs:annotation>
            </xs:element>
            <xs:element ref="StemCount" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Jäävän puuston runkoluku, kpl/ha</xs:documentation>
                    <xs:documentation xml:lang="en"/>
                    <xs:documentation xml:lang="sv"/>
                </xs:annotation>
            </xs:element>
            <xs:element ref="HeightClass" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Jäävän puuston pituusluokka</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
            <xs:element ref="MeanHeight" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Jäävän puuston keskipituus, m</xs:documentation>
                    <xs:documentation xml:lang="en"/>
                    <xs:documentation xml:lang="sv"/>
                </xs:annotation>
            </xs:element>
            <xs:element ref="DiameterClass" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Jäävän puuston läpimittaluokka (pohjapinta-alalla painotettu keskiläpimitta)</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
            <xs:element ref="MeanDiameter" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Jäävän puuston keskiläpimitta, cm (pohjapinta-alalla painotettu keskiläpimitta)</xs:documentation>
                    <xs:documentation xml:lang="en"/>
                    <xs:documentation xml:lang="sv"/>
                </xs:annotation>
            </xs:element>
            <xs:element ref="RemovalClass" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="CuttingStemCount" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="SmallWoodRemovalClass" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="SmallWoodRemovalVolume" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="CostTypeAndCompletedWorkCompletion" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="StandExtraInfo" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="gml:polygonProperty" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Kemera toteutusilmoituksen kuvion aluegeometria sisäalueineen.</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en">Polygon geometry of stand of financing act completion with interior polygons.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="LocationEstate" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Kuvion sijaintikiinteistöksi merkitään se kiinteistö, jonka alueella suurin osa kuvion pinta-alasta sijaitsee. Yksittäisen kuvion suositellaan sijaitsevan samalla kiinteistöllä. Mikäli kuitenkin esim. pinta-alavaatimuksen täyttymiseksi on tarpeen kuvioinnissa ylittää kiinteistön raja (saman omistajan vierekkäiset kiinteistöt) voidaan poikkeustilanteissa kuviointi tehdä useamman kiinteistön alueelle. Id-viittaus RealEstate.id -attribuuttiin.</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="co:IdStringType">
            <xs:annotation>
                <xs:documentation xml:lang="fi">Kuvion id</xs:documentation>
                <xs:documentation xml:lang="sv"/>
                <xs:documentation xml:lang="en">Stand id</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="FinancingActCompletionOtherSubjectsType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Muiden kuin aluemaisten kohteiden tiedot toteutusilmoituksella</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="CostTypeAndCompletedWorkCompletionRealEstate" minOccurs="1"
                maxOccurs="1"/>
            <xs:element ref="FinancingActCompletionGeometries" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancingActCompletionGeometriesType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Viiva- ja pistemäisten kohteiden tiedot toteutusilmoituksella</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Lines and points data in completion</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="FinancingActCompletionGeometry" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FinancingActGeometryType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Yksittäisen viiva- tai pistemäisen kohteen tiedot</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Single line or point data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="FeatureCode" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="FeatureInfo" minOccurs="1" maxOccurs="1"/>
            <xs:group ref="gdt:PointAndLineGeometriesGroup"/>
        </xs:sequence>
        <xs:attribute name="id" type="co:IdStringType">
            <xs:annotation>
                <xs:documentation xml:lang="fi">Kohteen id</xs:documentation>
                <xs:documentation xml:lang="sv"/>
                <xs:documentation xml:lang="en">Geometry id</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="CuttingStemCountType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Poistuman runkoluku. Runkolukuelementin määrittely.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:restriction base="xs:positiveInteger">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="99999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AmountType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Toteutetun tai toteutetavan työn määrä.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="7"/>
            <xs:fractionDigits value="1" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UnitPriceType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Yksikköhinta. Ykshintaelementin määrittely.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="9"/>
            <xs:fractionDigits value="3" fixed="true"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="CostTypeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kustannuslaji</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="CostTypeNumber" minOccurs="1" maxOccurs="1"/>
            <!-- <xs:element ref="FertilizationType" minOccurs="0" maxOccurs="1"/> -->
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="FinancingActNumberType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Hankkeen Riihinumero. Hankenumeron määrittely.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="1[0-9]{1}[-][2][0-9]{3}[-][0-9]{1,}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="DocumentsType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Dokumentit</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Documents</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="Document" minOccurs="1" maxOccurs="10"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WorkingRepresentativesType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Rahoitushakemuksen mukaisten töiden toteutuksesta vastuussa olevat toimijat.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="WorkingRepresentative" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WorkingRepresentativeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Rahoitushakemuksen mukaisten töiden toteutuksesta vastuussa olevan toimijan tiedot mm. tiedotusta varten.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ci:ContactInformationType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CostTypeAndCompletedWorkApplicationType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Rahoitushakemuksen kustannustiedot aluemaisille kohteille (kuviot)</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="CostType" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="PlannedWorkAmount" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="UnitPrice" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="SubsidyAmount" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CostTypeAndCompletedWorkApplicationRealEstateType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Rahoitushakemuksen kustannustiedot kiinteistöittäin muille kuin aluemaisille kohteille (viivat ja pisteet)</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="RealEstateId" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="CostType" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="PlannedWorkAmount" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="UnitPrice" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="SubsidyAmount" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CostTypeAndCompletedWorkCompletionType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Toteutusilmoituksen kustannustiedot aluemaisille kohteille (kuviot)</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="CostType" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="CompletedWorkAmount" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="UnitPrice" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="SubsidyAmount" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CostTypeAndCompletedWorkCompletionRealEstateType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Toteutusilmoituksen kustannustiedot kiinteistöittäin muille kuin aluemaisille kohteille (viivat ja pisteet)</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="RealEstateId" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="CostType" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="CompletedWorkAmount" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="UnitPrice" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="PaymentsReference" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="SubsidyAmount" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PayeesAndRealEstatesType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kiinteistökohtaiset osallistumisprosentit ja maksunsaajat.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="PayeeAndRealEstate" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PayeeAndRealEstateType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kiinteistökohtainen osallistumisprosentti ja maksunsaaja.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="RealEstateId" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="PayeeId" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="ParticipationPercentage" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Kiinteistökohtainen osallistumisprosentti. Ei käytössä kuviokohtaisissa hankkeissa / tuilla</xs:documentation>
                    <xs:documentation xml:lang="en"/>
                    <xs:documentation xml:lang="sv"/>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>