schema/SpecialFeature_20100831.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Kuvion monimuotoisuustietojen elementit ja tyypit. 
	Skeema on JHS-170 -suosituksen mukainen.
	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://standardit.tapio.fi/schemas/forestData/specialFeature/2010/08/31" xmlns="http://standardit.tapio.fi/schemas/forestData/specialFeature/2010/08/31" xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes/2010/08/31" xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common/basicDataTypes/2010/08/31" xmlns:co="http://standardit.tapio.fi/schemas/forestData/common/2010/08/31" xmlns:gml="http://www.opengis.net/gml" xmlns:fe="http://standardit.tapio.fi/schemas/forestData/forestEnumeratives/2013/06/20" elementFormDefault="qualified" version="1.2">
    <!-- VERSIOKOMMENTIT 1.0 >>> 1.1 -->
    <!-- Elementti "co:DataSource" muutettu valinnaiseksi -->
    <!-- VERSIOKOMMENTIT 1.1 >>> 1.2 -->	
	<!-- Monimuotoisuuskoodit siirretty skeemaan "ForestEnumeratives_20130620.xsd". -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes/2010/08/31" schemaLocation="Common_GeometricDataType_20100831.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/basicDataTypes/2010/08/31" schemaLocation="Common_BasicDataType_20100831.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/2010/08/31" schemaLocation="Common_20100831.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/forestEnumeratives/2013/06/20" schemaLocation="ForestEnumeratives_20130620.xsd"/>
	<!-- Elementtimääritykset -->
   	<!-- Element definitions -->
	<xs:element name="Identifiers" type="IdentifiersType"/>
	<xs:element name="Identifier" type="IdentifierType"/>
	<xs:element name="IdentifierType" type="IdentifierTypeType"/>
	<xs:element name="IdentifierValue" type="IdentifierValueType"/>
    <xs:element name="MainFeature" type="MainFeatureType"/>
    <xs:element name="FeatureType" type="FeatureTypeType"/>
    <xs:element name="FeatureCode" type="FeatureCodeType"/>
    <xs:element name="FeatureAdditionalCode" type="FeatureAdditionalCodeType"/>
    <xs:element name="Validity" type="ValidityType"/>
    <xs:element name="StartDate" type="StartDateType"/>
    <xs:element name="EndDate" type="EndDateType"/>
	<xs:element name="Explanation" type="ExplanationType"/>
    <xs:element name="FeatureInfo" type="FeatureInfoType"/>
    <xs:element name="FeatureAdditionalInfo" type="FeatureAdditionalInfoType"/>
    
    <!-- Tyyppimääritykset -->
    <!-- Type definitions -->
    <xs:complexType name="BasicFeatureType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Yksittäisen erityispiirteen tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Single feature data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="co:ChangeState" minOccurs="0"/>
            <xs:element ref="co:ChangeTime" minOccurs="0"/>
            <xs:element ref="Identifiers" minOccurs="0"/>
            <xs:element ref="MainFeature" minOccurs="0"/>
            <xs:choice>
	            <xs:element ref="FeatureType"/>
	            <xs:group ref="FeatureDataGroup"/>
            </xs:choice>
            <xs:element ref="Validity" minOccurs="0"/>
            <xs:element ref="FeatureInfo" minOccurs="0"/>
            <xs:element ref="FeatureAdditionalInfo" minOccurs="0"/>
            <xs:element ref="co:DataSource" minOccurs="0"/>
        </xs:sequence>	
        <xs:attribute name="id" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="fi">Erityispiirteen voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en">Feature can be identified using string id.</xs:documentation>
            </xs:annotation>
        </xs:attribute>	
    </xs:complexType>
    
	<xs:complexType name="SpecialFeatureType">
		<xs:complexContent> 
			<xs:extension base="BasicFeatureType"/> 
		</xs:complexContent> 
	</xs:complexType>
    
   	<xs:complexType name="LocatedSpecialFeatureType">
		<xs:complexContent>
			<xs:extension base="BasicFeatureType">
				<xs:group ref="gdt:AlternativeGeometriesGroup"></xs:group>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
    
	<xs:complexType name="IdentifiersType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kohteen (pisteen, viivan tai alueen) tunnisteet.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Identifiers of object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Identifier" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="IdentifierType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksittäisen kohteen (pisteen, viivan tai alueen) tunniste.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Identifiers of single object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="IdentifierType"/>
			<xs:element ref="IdentifierValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IdentifierTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tunnisteen laji.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Type of identifier.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="co:IdentifierTypeType fe:SpecialFeatureIdentifierExtensionType"/>
	</xs:simpleType>
	<xs:simpleType name="IdentifierValueType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tunnisteen arvo.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Value of identifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:IdentifierValueType"/>
	</xs:simpleType>
    <xs:simpleType name="MainFeatureType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Pääasiallisen erityispiirteen osoittava tieto.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Boolean for the main special feature.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="bdt:YesNoType"/>
    </xs:simpleType>
    <xs:simpleType name="FeatureTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Erityispiirteen tyyppi.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Type of feature.</xs:documentation>
		</xs:annotation>
		<xs:restriction base = "fe:FeatureTypeType"/>
    </xs:simpleType>
    <xs:group name="FeatureDataGroup">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Yksittäisen erityispiirteen tarkat tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Single feature detailed data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="FeatureCode"/>
            <xs:element ref="FeatureAdditionalCode" minOccurs="0"/>
        </xs:sequence>	
    </xs:group>

    <xs:simpleType name="FeatureCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Alkuperäiset monimuotoisuuskoodit (1-9975) ja myöhemmin lisätyt (10001-20182).</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Original special feature codes (1-9975) and extensions (10001-20182) that were added later.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fe:FeatureCodeType"/>
    </xs:simpleType>
    <xs:simpleType name="FeatureAdditionalCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Erityispiirteen lisämääre.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Additional code of feature.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="fe:FeatureAdditionalCodeType"/>
    </xs:simpleType>
    <xs:complexType name="ValidityType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Voimassaolo (alkamis- ja/tai loppumisajankohta).</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Validity (starting and/or ending date).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="StartDate"/>
			<xs:element ref="EndDate"/>
			<xs:element ref="Explanation"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StartDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Alkamisajankohta.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Starting date.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bdt:DateYYYY-MMOrYYYY-MM-DDType"/>
	</xs:simpleType>
	<xs:simpleType name="EndDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Loppumisajankohta.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Ending date.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bdt:DateYYYY-MMOrYYYY-MM-DDType"/>
	</xs:simpleType>
   	<xs:simpleType name="ExplanationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Voimassaoloa tarkentava teksti, esim. voimassa sulan maan aikana.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Information text for explain validity.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
   	<xs:simpleType name="FeatureInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Erityispiirrettä kuvaava teksti. Sijainnillisten kohteiden osalta tämä voi olla esim. kartalla näkyvä teksti.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Information text for feature. E.g. located object, this can be text on map.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
   	<xs:simpleType name="FeatureAdditionalInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Erityispiirrettä kuvaava lisäteksti. Sijainnillisten kohteiden osalta tämä voi olla esim. erikseen näytettävä teksti (ei kartalla näkyvä teksti).</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Additional information text for feature. E.g. located object, this can be separately shown text on map.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MeasurementCertificateTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mittaustodistuksen tyypit.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Different types for measurement certificates: intermediate/final etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fe:MeasurementCertificateTypeType"/>
	</xs:simpleType>
</xs:schema>