schema/Stand_20110214.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Kuvion elementit ja tyypit. 
	Skeema on JHS-170 -suosituksen mukainen.
	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/stand/2011/02/14"
	xmlns="http://standardit.tapio.fi/schemas/forestData/stand/2011/02/14"
	xmlns:stb="http://standardit.tapio.fi/schemas/forestData/standbase/2011/02/14"
	xmlns:sf="http://standardit.tapio.fi/schemas/forestData/specialFeature/2011/02/14"
	xmlns:ts="http://standardit.tapio.fi/schemas/forestData/treeStand/2010/08/31"
	xmlns:op="http://standardit.tapio.fi/schemas/forestData/operation/2010/08/31"
	xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes/2010/08/31"
	xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common/basicDataTypes/2010/08/31"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common/2010/08/31"
	xmlns:gml="http://www.opengis.net/gml"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	
    <!-- VERSIOKOMMENTIT  -->
    <!-- Versio käyttää kuviotietojen perusmäärittelyistä "forestData/standbase/2011/02/14" perittyjä määrittelyjä, jotka vastaavat sisällöltään alkuperäisiä -->
    <!-- Versio käyttää erityispiirretietojen määrittelyä "forestData/specialFeature/2011/02/14" -->
	
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/standbase/2011/02/14"
			    schemaLocation="StandBase_20110214.xsd"/>
	
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/specialFeature/2011/02/14"
				schemaLocation="SpecialFeature_20110214.xsd"/>
	
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/treeStand/2010/08/31"
			    schemaLocation="TreeStand_20100831.xsd"/>
			    
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/operation/2010/08/31"
				schemaLocation="Operation_20100831.xsd"/>
	
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes/2010/08/31"
			    schemaLocation="Common_GeometricDataType_20100831.xsd"/>

	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/basicDataTypes/2010/08/31"
			    schemaLocation="Common_BasicDataType_20100831.xsd"/>

	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/2010/08/31"
				schemaLocation="Common_20100831.xsd"/>
	
	<xs:import namespace="http://www.opengis.net/gml"
			    schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>


	<!-- Elementtimääritykset -->
   	<!-- Element definitions -->
	<xs:element name="Stands" type="StandsType"/>
	<xs:element name="Stand" type="StandType"/>
	<xs:element name="StandBasicData" type="StandBasicDataType"/>
	<xs:element name="CompleteState" type="CompleteStateType"/>
	<xs:element name="Identifiers" type="IdentifiersType"/>
	<xs:element name="StandNumber" type="StandNumberType"/>
	<xs:element name="StandNumberExtension" type="StandNumberExtensionType"/>
	<xs:element name="MainGroup" type="MainGroupType"/>
	<xs:element name="SubGroup" type="SubGroupType"/>
	<xs:element name="FertilityClass" type="FertilityClassType"/>
	<xs:element name="SoilType" type="SoilTypeType"/>
	<xs:element name="DrainageState" type="DrainageStateType"/>
	<xs:element name="DitchingYear" type="DitchingYearType"/>
	<xs:element name="DevelopmentClass" type="DevelopmentClassType"/>
	<xs:element name="StandQuality" type="StandQualityType"/>
	<xs:element name="MainTreeSpecies" type="MainTreeSpeciesType"/>
	<xs:element name="Accessibility" type="AccessibilityType"/>
	<xs:element name="CuttingRestriction" type="CuttingRestrictionType"/>
	<xs:element name="SilvicultureRestriction" type="SilvicultureRestrictionType"/>
	<xs:element name="StandBasicDataDate" type="StandBasicDataDateType"/>
	<xs:element name="StandInfo" type="StandInfoType"/>
	<xs:element name="Area" type="AreaType"/>
	<xs:element name="AreaDecrease" type="AreaDecreaseType"/>
	<xs:element name="SpecialFeatures" type="SpecialFeaturesType"/>
	<xs:element name="SpecialFeature" type="sf:SpecialFeature1Type"/>
	
	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:complexType name="StandsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvioiden tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stands data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Stand" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>	
	</xs:complexType>
	
	<xs:complexType name="StandType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksittäisen kuvion tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Single stand data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="StandBasicData"/>
			<xs:element ref="ts:TreeStandData" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="op:Operations" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="op:PlannedOperationChains" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SpecialFeatures" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Kuvio voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en">Stand can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="StandBasicDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion perustiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stand basic data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:ChangeState" minOccurs="0"/>
			<xs:element ref="co:ChangeTime" minOccurs="0"/>
			<xs:element ref="CompleteState" minOccurs="0"/>
			<xs:element ref="Identifiers" minOccurs="0"/>
			<xs:element ref="StandNumber"/>
			<xs:element ref="StandNumberExtension" minOccurs="0"/>
			<xs:element ref="MainGroup"/>
			<xs:element ref="SubGroup" minOccurs="0"/>
			<xs:element ref="FertilityClass" minOccurs="0"/>
			<xs:element ref="SoilType" minOccurs="0"/>
			<xs:element ref="DrainageState" minOccurs="0"/>
			<xs:element ref="DitchingYear" minOccurs="0"/>
			<xs:element ref="DevelopmentClass" minOccurs="0"/>
			<xs:element ref="StandQuality" minOccurs="0"/>
			<xs:element ref="MainTreeSpecies" minOccurs="0"/>
			<xs:element ref="Accessibility" minOccurs="0"/>
			<xs:element ref="CuttingRestriction" minOccurs="0"/>
            <xs:element ref="SilvicultureRestriction" minOccurs="0"/>
			<xs:element ref="StandBasicDataDate"/>
			<xs:element ref="StandInfo" minOccurs="0"/>
			<xs:element ref="co:DataSource"/>
			<xs:element ref="Area"/>
			<xs:element ref="AreaDecrease" minOccurs="0"/>
            <xs:choice>
				<xs:element ref="gdt:PolygonGeometry"/>
				<xs:element ref="gdt:MultiPolygonGeometry"/>
            </xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="CompleteStateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tiedon valmiustilalla esitetään tietojen sisällön valmiusaste, onko tiedot valmiit/keskeneräiset.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Is it data completed collect or some way incomplete.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bdt:YesNoType"/>
	</xs:simpleType>
	
	<xs:complexType name="IdentifiersType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion tunnisteet.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Identifiers of stand.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stb:IdentifiersType"/>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:simpleType name="StandNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvionumero.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stand number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:StandNumberType"/>
	</xs:simpleType>
	
	<xs:simpleType name="StandNumberExtensionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion alanumero (lisämerkki).</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stand number extension (extra character, normally number).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:StandNumberExtensionType"/>
	</xs:simpleType>
	
	<xs:simpleType name="MainGroupType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Pääryhmä.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Main group.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:MainGroupType"/>
	</xs:simpleType>
	
	<xs:simpleType name="SubGroupType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Alaryhmä.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Sub group.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:SubGroupType"/>
	</xs:simpleType>
	
	<xs:simpleType name="FertilityClassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kasvupaikkaluokka.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Fertility classifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:FertilityClassType"/>
	</xs:simpleType>
	
	<xs:simpleType name="SoilTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Maalaji.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Soil type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:SoilTypeType"/>
	</xs:simpleType>
	
	<xs:simpleType name="DrainageStateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuivatustilanne.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Drainage state.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:DrainageStateType"/>
	</xs:simpleType>
	
	<xs:simpleType name="DitchingYearType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ojitusvuosi.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Ditching year.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:DitchingYearType"></xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DevelopmentClassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kehitysluokka.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Development class.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:DevelopmentClassType"/>
	</xs:simpleType>
	
	<xs:simpleType name="StandQualityType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsikön laatu.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stand quality.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:StandQualityType"/>
	</xs:simpleType>
	
	<xs:simpleType name="MainTreeSpeciesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Pääpuulaji.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Code of main tree species.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:MainTreeSpeciesType"/>
	</xs:simpleType>			
		
	<xs:simpleType name="AccessibilityType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Saavutettavuus</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Accessibility classifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:AccessibilityType"/>
	</xs:simpleType>

	<xs:simpleType name="CuttingRestrictionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hakkuurajoitus.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Cutting restriction.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:CuttingRestrictionType"/>
	</xs:simpleType>

	<xs:simpleType name="SilvicultureRestrictionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänhoidonrajoitus.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Silviculture restriction.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:SilvicultureRestrictionType"/>
	</xs:simpleType>

	<xs:simpleType name="StandBasicDataDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Perustietojen inventointi- / muutosajankohta.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Date of inventory of stand basic data.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:StandBasicDataDateType"/>
	</xs:simpleType>

	<xs:simpleType name="StandInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion vapaamuotoinen teksti.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stand info text.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:StandInfoType"/>
	</xs:simpleType>

	<xs:simpleType name="AreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion kokonaispinta-ala hehtaareina.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Total area of stand, ha. Normally area of polygon geometry.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="stb:AreaType"/>
	</xs:simpleType>
	
	<xs:simpleType name="AreaDecreaseType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion vähennysala hehtaareina. Kuvion metsäpinta-alaa vähentävä ala. Sisältää esim. tiet ja linjaviivat.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Area which decrease total area of stand, ha. E.g. power lines, roads... Area - AreaDecrease = effective forest land area for forestry purposes.</xs:documentation>	
		</xs:annotation>
		<xs:restriction base="stb:AreaDecreaseType"/>
	</xs:simpleType>

    <xs:complexType name="SpecialFeaturesType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kuvion erityispiirteet (mm. monimuotoisuustiedot)</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Special features (e.g. diversity data) of stand.</xs:documentation>
        </xs:annotation>
		<xs:sequence>
            <xs:element ref="SpecialFeature" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>