schema/Stand_20100831.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Kuvion elementit ja tyypit. 
	Skeema on JHS-170 -suosituksen mukainen.
	
	 VERSIOKOMMENTIT 1.0 >>> 1.1 
	 Otettu käyttöön nimiavaruus "stb", jossa määritelty kuviotyypin käyttämiä yleisiä tyyppejä. 
	 "realEstateId" ja "parcelId" -attribuutit lisätty kuvioelementille "Stand". 
	 Elementti "co:DataSource" muutettu valinnaiseksi 
	 VERSIOKOMMENTIT 1.0 >>> 1.1 	
	 Lisätty elementit "ThinningYear", "CuttingRestrictionEnds" ja "SilvicultureRestrictionEnds". 	
	 VERSIOKOMMENTIT 1.1 >>> 1.2 	
	 "DevelopmentClassType" siirretty omaan skeemaansa ("ForestEnumeratives_20130620.xsd") 		
	 Metsänhoitotyön rajoitus ("StandBasicDataType"-määrittelyssä) on nyt vaihtoehtoisesti joko 
	 "SilvicultureRestrictionGroup" tai "SilvicultureRestrictions" 	
	 
	 VERSIOKOMMENTIT 1.2 >> 1.3
	15.8.2014 
	- Skeemat Common.xsd,Common_BasicDataType.xsd,ForestEnumeratives.xsd on 
	yhdeksi namespaceksi: xmlns="http://standardit.tapio.fi/schemas/forestData/common" 

   	Tässä skeemassa otettu käyttöön uusi common nimiavaruus 
	
	GeometricDataType Nimiavaruus ja tiedosto uudelleen nimetty ja otettu käyttöön tässä:
	 Common_GeometricDataType_20100831.xsd -> Common_GeometricDataType.xsd
	 "http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes/2010/08/31"->
	 "http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/stand/2010/08/31"
	xmlns="http://standardit.tapio.fi/schemas/forestData/stand/2010/08/31"
	xmlns:ts="http://standardit.tapio.fi/schemas/forestData/treeStand/2010/08/31"
	xmlns:op="http://standardit.tapio.fi/schemas/forestData/operation/2010/08/31"
	xmlns:sf="http://standardit.tapio.fi/schemas/forestData/specialFeature/2010/08/31"
	xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:jhs="http://skeemat.jhs-suositukset.fi/yhteiset/2009/03/04"
	xmlns:gml="http://www.opengis.net/gml"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.3">
	
	<!-- 	xmlns:fe="http://standardit.tapio.fi/schemas/forestData/forestEnumeratives/2013/06/20"
	xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes/2010/08/31"
	xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common/basicDataTypes/2010/08/31"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common/2010/08/31" -->

	
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/treeStand/2010/08/31" schemaLocation="TreeStand_20100831.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/operation/2010/08/31" schemaLocation="Operation_20100831.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/specialFeature/2010/08/31" schemaLocation="SpecialFeature_20100831.xsd"/>
<!--	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/forestEnumeratives/2013/06/20" schemaLocation="ForestEnumeratives_20130620.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/basicDataTypes/2010/08/31" schemaLocation="Common_BasicDataType_20100831.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/2010/08/31" schemaLocation="Common_20100831.xsd"/> -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes" schemaLocation="Common_GeometricDataType.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common.xsd"/>
	<xs:import namespace="http://skeemat.jhs-suositukset.fi/yhteiset/2009/03/04" schemaLocation="JHS170_20090304.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>

   	<!-- Element definitions -->
	<xs:element name="Stands" type="StandsType"/>
	<xs:element name="Stand" type="StandType"/>
	<xs:element name="StandBasicData" type="StandBasicDataType"/>
	<xs:element name="CompleteState" type="CompleteStateType"/>
	<xs:element name="Identifiers" type="IdentifiersType"/>
	<xs:element name="Identifier" type="co:IdentifierType"/>
	<xs:element name="StandNumber" type="StandNumberType"/>
	<xs:element name="StandNumberExtension" type="StandNumberExtensionType"/>
	<xs:element name="MainGroup" type="co:MainGroupType"/>
	<xs:element name="SubGroup" type="co:SubGroupType"/>
	<xs:element name="FertilityClass" type="FertilityClassType"/>
	<xs:element name="SoilType" type="SoilTypeType"/>
	<xs:element name="DrainageState" type="DrainageStateType"/>
	<xs:element name="DitchingYear" type="DitchingYearType"/>
	<xs:element name="ThinningYear" type="co:YearType"/>	
	<xs:element name="DevelopmentClass" type="co:DevelopmentClassType"/>
	<xs:element name="StandQuality" type="StandQualityType"/>
	<xs:element name="MainTreeSpecies" type="MainTreeSpeciesType"/>
	<xs:element name="Accessibility" type="AccessibilityType"/>
	<xs:element name="CuttingRestriction" type="CuttingRestrictionType"/>
	<xs:element name="CuttingRestrictionEnds" type="co:DateType"/>
	<xs:element name="SilvicultureRestrictionDetails" type="SilvicultureRestrictionDetailsType"/>
	<xs:element name="SilvicultureRestrictions" type="SilvicultureRestrictionsType"/>	
	<xs:element name="SilvicultureRestriction" type="co:SilvicultureRestrictionType"/>
	<xs:element name="SilvicultureRestrictionEnds" type="co:DateType"/> 	
	<xs:element name="StandBasicDataDate" type="StandBasicDataDateType"/>
	<xs:element name="StandInfo" type="StandInfoType"/>
	<xs:element name="Area" type="AreaType"/>
	<xs:element name="AreaDecrease" type="AreaDecreaseType"/>
	<xs:element name="SpecialFeatures" type="SpecialFeaturesType"/>
	<xs:element name="SpecialFeature" type="sf:SpecialFeatureType"/>
	<xs:element name="GrowthPlaceDataSource" type="co:DataSourceType"/>
	<!--<xs:element name="SilvicultureRestrictionMainGroup" type="SilvicultureRestrictionMainGroupType"/>
	<xs:element name="SilvicultureRestrictionGroup" type="SilvicultureRestrictionGroupType"/> -->

	
	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:complexType name="StandsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvioiden tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stands data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Stand" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>	
	</xs:complexType>
	<xs:complexType name="StandType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksittäisen kuvion tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Single stand data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="StandBasicData"/>
			<xs:element ref="ts:TreeStandData" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="op:Operations" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="op:PlannedOperationChains" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SpecialFeatures" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Kuvio voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en">Stand can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="realEstateId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Viiteavain kiinteistöön.</xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en">Foreign key to real estate.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="parcelId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Viiteavain palstaan.</xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en">Foreign key to parcel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StandBasicDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion perustiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stand basic data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:ChangeState" minOccurs="0"/>
			<xs:element ref="co:ChangeTime" minOccurs="0"/>
			<xs:element ref="CompleteState" minOccurs="0"/>
			<xs:element ref="Identifiers" minOccurs="0"/>
			<xs:element ref="StandNumber"/>
			<xs:element ref="StandNumberExtension" minOccurs="0"/>
			<xs:element ref="MainGroup"/>
			<xs:element ref="SubGroup" minOccurs="0"/>
			<xs:element ref="FertilityClass" minOccurs="0"/>
			<xs:element ref="SoilType" minOccurs="0"/>
			<xs:element ref="DrainageState" minOccurs="0"/>
			<xs:element ref="DitchingYear" minOccurs="0"/>
			<xs:element ref="ThinningYear" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Viimeisimmän harvennuksen ajankohta.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>			
			</xs:element>			
			<xs:element ref="DevelopmentClass" minOccurs="0"/>
			<xs:element ref="StandQuality" minOccurs="0"/>
			<xs:element ref="MainTreeSpecies" minOccurs="0"/>
			<xs:element ref="Accessibility" minOccurs="0"/>
			<xs:element ref="CuttingRestriction" minOccurs="0"/>
			<xs:element ref="CuttingRestrictionEnds" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hakkuun rajoituksen päättymispäivä.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>			
			</xs:element>
			<xs:group ref="SilvicultureRestrictionMainGroup" minOccurs="0" maxOccurs="1"/>			
			<xs:element ref="StandBasicDataDate"/>
			<xs:element ref="StandInfo" minOccurs="0"/>
			<xs:element ref="co:DataSource" minOccurs="0"/>
			<xs:element ref="GrowthPlaceDataSource" minOccurs="0"/>
			<xs:element ref="Area"/>
			<xs:element ref="AreaDecrease" minOccurs="0"/>
            <xs:choice>
				<xs:element ref="gdt:PolygonGeometry"/>
				<xs:element ref="gdt:MultiPolygonGeometry"/>
            </xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CompleteStateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tiedon valmiustilalla esitetään tietojen sisällön valmiusaste, onko tiedot valmiit/keskeneräiset.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Is it data completed collect or some way incomplete.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:YesNoType"/>
	</xs:simpleType>
	<xs:complexType name="IdentifiersType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion tunnisteet.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Identifiers of stand.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Identifier" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StandNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvionumero.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stand number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StandNumberExtensionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion alanumero (lisämerkki).</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stand number extension (extra character, normally number).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FertilityClassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kasvupaikkaluokka.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Fertility classifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:FertilityClassType"/>
	</xs:simpleType>
	<xs:simpleType name="SoilTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Maalaji.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Soil type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:SoilTypeType"/>
	</xs:simpleType>
	<xs:simpleType name="DrainageStateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuivatustilanne.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Drainage state.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:DrainageStateType"/>
	</xs:simpleType>
	<xs:simpleType name="DitchingYearType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ojitusvuosi.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Ditching year.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:YearType"></xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StandQualityType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsikön laatu.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stand quality.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:StandQualityType"/>
	</xs:simpleType>
	<xs:simpleType name="MainTreeSpeciesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Pääpuulaji.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Code of main tree species.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:TreeSpeciesType"/>
	</xs:simpleType>			
	<xs:simpleType name="AccessibilityType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Saavutettavuus</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Accessibility classifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:AccessibilityType"/>
	</xs:simpleType>
	<xs:simpleType name="CuttingRestrictionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hakkuurajoitus.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Cutting restriction.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:CuttingRestrictionType"/>
	</xs:simpleType>
	<xs:group name="SilvicultureRestrictionMainGroup">
		<xs:annotation>
			<xs:documentation xml:lang="fi"></xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="SilvicultureRestrictionGroup" minOccurs="0"  maxOccurs="1"/>
			<xs:element ref="SilvicultureRestrictions" minOccurs="0" maxOccurs="1"/>			
		</xs:sequence>	
	</xs:group>
	<xs:group name="SilvicultureRestrictionGroup">
        <xs:annotation>
            <xs:documentation xml:lang="fi"></xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element ref="SilvicultureRestriction" minOccurs="0"/>
			<xs:element ref="SilvicultureRestrictionEnds" minOccurs="0" maxOccurs="1"/>			
        </xs:sequence>	
    </xs:group>
	<xs:complexType name="SilvicultureRestrictionsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"></xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="SilvicultureRestrictionDetails" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="SilvicultureRestrictionDetailsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänhoidonrajoitus.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Silviculture restriction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="SilvicultureRestrictionGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StandBasicDataDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Perustietojen inventointi- / muutosajankohta.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Date of inventory of stand basic data.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:DateType"/>
	</xs:simpleType>
	<xs:simpleType name="StandInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion vapaamuotoinen teksti.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stand info text.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="AreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion kokonaispinta-ala hehtaareina.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Total area of stand, ha. Normally area of polygon geometry.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:Decimal4FractionDigitsType"/>
	</xs:simpleType>
	<xs:simpleType name="AreaDecreaseType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion vähennysala hehtaareina. Kuvion metsäpinta-alaa vähentävä ala. Sisältää esim. tiet ja linjaviivat.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Area which decrease total area of stand, ha. E.g. power lines, roads... Area - AreaDecrease = effective forest land area for forestry purposes.</xs:documentation>	
		</xs:annotation>
		<xs:restriction base="co:Decimal4FractionDigitsType"/>
	</xs:simpleType>
    <xs:complexType name="SpecialFeaturesType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kuvion erityispiirteet (mm. monimuotoisuustiedot)</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Special features (e.g. diversity data) of stand.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="SpecialFeature" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>	
    </xs:complexType>
</xs:schema>