schema/StemDistributionStratum_20100831.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Puustotiedon ajankohdan runkolukusarjan ositteiden elementit ja tyypit. 
	Skeema on JHS-170 -suosituksen mukainen.
	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://standardit.tapio.fi/schemas/forestData/stemDistributionStratum/2010/08/31" 
    xmlns="http://standardit.tapio.fi/schemas/forestData/stemDistributionStratum/2010/08/31" 
    xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common/basicDataTypes/2010/08/31"
    xmlns:co="http://standardit.tapio.fi/schemas/forestData/common/2010/08/31"
    elementFormDefault="qualified"
    version="1.0">
    
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/basicDataTypes/2010/08/31"
				schemaLocation="Common_BasicDataType_20100831.xsd"/>
    
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/2010/08/31"
				schemaLocation="Common_20100831.xsd"/>
    
	<!-- Elementtimääritykset -->
   	<!-- Element definitions -->
    <xs:element name="StemDistributionStrata" type="StemDistributionStrataType"/>
    <xs:element name="StemDistributionStratum" type="StemDistributionStratumType"/>
    <xs:element name="StratumNumber" type="StratumNumberType"/>
    <xs:element name="TreeSpecies" type="TreeSpeciesType"/>
    <xs:element name="Storey" type="StoreyType"/>
    <xs:element name="Age" type="AgeType"/>
	<xs:element name="BasalArea" type="BasalAreaType"/>
	<xs:element name="Weibull" type="WeibullType"/>
	<xs:element name="Shape" type="ShapeType"/>
	<xs:element name="Scale" type="ScaleType"/>
	<xs:element name="Location" type="LocationType"/>
	<xs:element name="JohnsonSB" type="JohnsonSBType"/>
	<xs:element name="ShapeGamma" type="ShapeGammaType"/>
	<xs:element name="ShapeDelta" type="ShapeDeltaType"/>
	<xs:element name="Normal" type="NormalType"/>
	<xs:element name="Mean" type="MeanType"/>
	<xs:element name="Variance" type="VarianceType"/>
	<xs:element name="Beta" type="BetaType"/>
	<xs:element name="ShapeAlfa" type="ShapeAlfaType"/>
	<xs:element name="ShapeBeta" type="ShapeBetaType"/>
	<xs:element name="Minimum" type="MinimumType"/>
	<xs:element name="Maximum" type="MaximumType"/>	
	<xs:element name="Gamma" type="GammaType"/>
	<xs:element name="CumulativePointDistribution" type="CumulativePointDistributionType"/>
	<xs:element name="CumulativePoint" type="CumulativePointType"/>
	<xs:element name="Diameter" type="DiameterType"/>
	<xs:element name="CumulativeMass" type="CumulativeMassType"/>
	
    <!-- Tyyppimääritykset -->
    <!-- Type definitions -->
    <xs:complexType name="StemDistributionStrataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Runkolukusarjan ositteet.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Strata of stem distribution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="StemDistributionStratum" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>	

	<xs:complexType name="StemDistributionStratumType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Runkolukusarjaositteen tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Data of stem distribution stratum.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:ChangeState" minOccurs="0"/>
			<xs:element ref="co:ChangeTime" minOccurs="0"/>
			<xs:element ref="StratumNumber" minOccurs="0"/>
			<xs:element ref="TreeSpecies"/>
			<xs:element ref="Storey" minOccurs="0"/>
			<xs:element ref="Age" minOccurs="0"/>
			<xs:element ref="BasalArea"/>
			<xs:choice>
				<xs:element ref="Weibull"/>
				<xs:element ref="JohnsonSB"/>
				<xs:element ref="Normal"/>
				<xs:element ref="Beta"/>
				<xs:element ref="Gamma"/>
				<xs:element ref="CumulativePointDistribution"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Runkolukusarjaosite voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä</xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en">Stem distribution stratum can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>	
	</xs:complexType>

	<xs:simpleType name="StratumNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen numero.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Number (identifier) of stratum.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
    
    <xs:simpleType name="TreeSpeciesType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Puulajikoodi.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Code of tree species.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="co:TreeSpeciesType"/>
    </xs:simpleType>

	<xs:simpleType name="StoreyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen jakso.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Storey of stratum.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:StoreyType"/>
	</xs:simpleType>

	<xs:simpleType name="AgeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen ikä, v.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Age of stratum, year.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:AgeType"/>
	</xs:simpleType>

	<xs:simpleType name="BasalAreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen pohjapinta-ala, m2/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Basal area, m2/ha.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:BasalAreaType"/>
	</xs:simpleType>
	
	<xs:complexType name="WeibullType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Weibull-todennäköisyysjakauman parametrit.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameters of Weibull distribution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Shape"/>
			<xs:element ref="Scale"/>
			<xs:element ref="Location" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="ShapeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Muoto-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter shape.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	
	<xs:simpleType name="ScaleType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Skaala-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter scale.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	
	<xs:simpleType name="LocationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Sijainti-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter location.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>

	<xs:complexType name="JohnsonSBType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Johnson SB-todennäköisyysjakauman parametrit.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameters of Johnson SB distribution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ShapeGamma"/>
			<xs:element ref="ShapeDelta"/>
			<xs:element ref="Scale"/>
			<xs:element ref="Location"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="ShapeGammaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">MuotoGamma-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter ShapeGamma.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	
	<xs:simpleType name="ShapeDeltaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">MuotoDelta-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter ShapeDelta.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	
	<xs:complexType name="NormalType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Normaali-todennäköisyysjakauman parametrit.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameters of Normal distribution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Mean"/>
			<xs:element ref="Variance"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="MeanType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Keskiarvo-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter mean.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>

	<xs:simpleType name="VarianceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Varianssi-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter variance.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>

	<xs:complexType name="BetaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Beta-todennäköisyysjakauman parametrit.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameters of Beta distribution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ShapeAlfa"/>
			<xs:element ref="ShapeBeta"/>
			<xs:element ref="Minimum"/>
			<xs:element ref="Maximum"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ShapeAlfaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">MuotoAlfa-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter ShapeAlfa.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>

	<xs:simpleType name="ShapeBetaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">MuotoBeta-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter ShapeBeta.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>

	<xs:simpleType name="MinimumType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Minimi-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter minimum.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>

	<xs:simpleType name="MaximumType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Maksimi-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter maximum.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>

	<xs:complexType name="GammaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Gamma-todennäköisyysjakauman parametrit.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameters of Gamma distribution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Shape"/>
			<xs:element ref="Scale"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CumulativePointDistributionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvopisteinä määritelty todennäköisyysjakauma.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Distribution defined using cumulative points.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CumulativePoint" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CumulativePointType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kumulatiivisen todennäköisyysmassajakauman arvopiste.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Point of cumulative point distribution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Diameter"/>
			<xs:element ref="CumulativeMass"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="DiameterType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Läpimitta-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter diameter.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	
	<xs:simpleType name="CumulativeMassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kumulatiivinen massa -parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter cumulative mass.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>

</xs:schema>