schema/StemDistribution_20100831.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Puustotiedon ajankohdan runkolukusarjan elementit ja tyypit. 
	Skeema on JHS-170 -suosituksen mukainen.
	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://standardit.tapio.fi/schemas/forestData/stemDistribution/2010/08/31" 
    xmlns="http://standardit.tapio.fi/schemas/forestData/stemDistribution/2010/08/31" 
    xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common/basicDataTypes/2010/08/31"
    xmlns:co="http://standardit.tapio.fi/schemas/forestData/common/2010/08/31"
    elementFormDefault="qualified"
    version="1.0">
    
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/basicDataTypes/2010/08/31"
		        schemaLocation="Common_BasicDataType_20100831.xsd"/>
    
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/2010/08/31"
				schemaLocation="Common_20100831.xsd"/>
    
	<!-- Elementtimääritykset -->
   	<!-- Element definitions -->
    <xs:element name="StemDistribution" type="StemDistributionType"/>
    <xs:element name="Tree" type="TreeType"/>
    <xs:element name="TreeNumber" type="TreeNumberType"/>
    <xs:element name="StratumNumber" type="StratumNumberType"/>
    <xs:element name="TreeSpecies" type="TreeSpeciesType"/>
    <xs:element name="TreeClass" type="TreeClassType"/>
    <xs:element name="Storey" type="StoreyType"/>
    <xs:element name="Age" type="AgeType"/>
    <xs:element name="Count" type="CountType"/>
    <xs:element name="Diameter" type="DiameterType"/>    
    <xs:element name="Height" type="HeightType"/>
    <xs:element name="Volume" type="VolumeType"/>
    <xs:element name="SawLogPercent" type="SawLogPercentType"/>
    <xs:element name="SawLogVolume" type="SawLogVolumeType"/>
    <xs:element name="PulpWoodVolume" type="PulpWoodVolumeType"/>
    
    <!-- Tyyppimääritykset -->
    <!-- Type definitions -->
    <xs:complexType name="StemDistributionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Runkolukusarja.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Stem distribution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Tree" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TreeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puun tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Data of tree.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:ChangeState" minOccurs="0"/>
			<xs:element ref="co:ChangeTime" minOccurs="0"/>
			<xs:element ref="TreeNumber"/>
			<xs:element ref="StratumNumber" minOccurs="0"/>
			<xs:element ref="TreeSpecies"/>
			<xs:element ref="TreeClass" minOccurs="0"/>
			<xs:element ref="Storey" minOccurs="0"/>
			<xs:element ref="Age" minOccurs="0"/>
			<xs:element ref="Count"/>
			<xs:element ref="Diameter" minOccurs="0"/>
			<xs:element ref="Height" minOccurs="0"/>
			<xs:element ref="Volume" minOccurs="0"/>
			<xs:element ref="SawLogPercent" minOccurs="0"/>
			<xs:element ref="SawLogVolume" minOccurs="0"/>
			<xs:element ref="PulpWoodVolume" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Puu voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä</xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en">Tree can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>	
	</xs:complexType>	

	<xs:simpleType name="TreeNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puun numero.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Number of tree.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="StratumNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puun osite numero.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Number of stratum of tree</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
    
    <xs:simpleType name="TreeSpeciesType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Puulajikoodi.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Code of tree species.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="co:TreeSpeciesType"/>
    </xs:simpleType>

    <xs:simpleType name="TreeClassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puuluokka / -luokittelija.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Tree classifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base = "xs:string">
			<xs:enumeration value = "0">
				<xs:annotation>
					<xs:documentation xml:lang = "fi">Puu on kehityskelvoton.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "1">
				<xs:annotation>
					<xs:documentation xml:lang = "fi">Puu on normaali.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "2">
				<xs:annotation>
					<xs:documentation xml:lang = "fi">Puu on juurivaurioitunut.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "3">
				<xs:annotation>
					<xs:documentation xml:lang = "fi">Puu on runkovaurioitunut.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "4">
				<xs:annotation>
					<xs:documentation xml:lang = "fi">Puu on viljelytaimi.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "5">
				<xs:annotation>
					<xs:documentation xml:lang = "fi">Puu on luonnontaimi.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "6">
				<xs:annotation>
					<xs:documentation xml:lang = "fi">Puu on täydentävä taimi.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "7">
				<xs:annotation>
					<xs:documentation xml:lang = "fi">Puu on kuollut / kelvoton viljelytaimi.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "8">
				<xs:annotation>
					<xs:documentation xml:lang = "fi">Puu on kanto.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "9">
				<xs:annotation>
					<xs:documentation xml:lang = "fi">Puu on siemenpuu.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="StoreyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puun jakso.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Storey of tree.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:StoreyType"/>
	</xs:simpleType>
	
	<xs:simpleType name="AgeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puun ikä, v.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Age of tree, year.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:AgeType"/>
	</xs:simpleType>

	<xs:simpleType name="CountType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puiden lukumäärä, kpl.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Number of trees which tree represent.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DiameterType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puun läpimitta, cm.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Diameter of tree, cm.</xs:documentation>
		</xs:annotation>
	    <xs:restriction base="co:DiameterType"/>
	</xs:simpleType>

	<xs:simpleType name="HeightType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puun pituus, m.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Height of tree, m.</xs:documentation>
		</xs:annotation>
	    <xs:union memberTypes="co:HeightType bdt:EmptyStringType"/>
	</xs:simpleType>

	<xs:simpleType name="VolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puun tilavuus, m3/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Volume of tree, m3/ha.</xs:documentation>
		</xs:annotation>
	    <xs:restriction base="co:VolumeType"/>
	</xs:simpleType>
	
	<xs:simpleType name="SawLogPercentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puun tukkiosuus %.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Percent of saw log of tree, %.</xs:documentation>
		</xs:annotation>
	    <xs:restriction base="co:SawLogPercentType"/>
	</xs:simpleType>

	<xs:simpleType name="SawLogVolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puun tukkitilavuus, m3/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Volume of saw log of tree, m3/ha.</xs:documentation>
		</xs:annotation>
	    <xs:restriction base="co:SawLogVolumeType"/>
	</xs:simpleType>

	<xs:simpleType name="PulpWoodVolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puun kuitutilavuus, m3/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Volume of pulp wood of tree, m3/ha.</xs:documentation>
		</xs:annotation>
	    <xs:restriction base="co:PulpWoodVolumeType"/>
	</xs:simpleType>

</xs:schema>