schema/TreeStand.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Kuvion puustotietojen elementit ja tyypit. 
	Skeema on JHS-170 -suosituksen mukainen.

	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/treeStand"
	xmlns="http://standardit.tapio.fi/schemas/forestData/treeStand"
	xmlns:tst="http://standardit.tapio.fi/schemas/forestData/treeStratum"
	xmlns:sd="http://standardit.tapio.fi/schemas/forestData/stemDistribution"
	xmlns:sds="http://standardit.tapio.fi/schemas/forestData/stemDistributionStratum"
	xmlns:dts="http://standardit.tapio.fi/schemas/forestData/deadTreeStrata"
	xmlns:tss="http://standardit.tapio.fi/schemas/forestData/treeStandSummary"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:jhs="http://skeemat.jhs-suositukset.fi/yhteiset/2009/03/04" elementFormDefault="qualified"
	version="1.2">

	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/treeStratum"
		schemaLocation="TreeStratum.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/stemDistribution"
		schemaLocation="StemDistribution.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/stemDistributionStratum"
		schemaLocation="StemDistributionStratum.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/deadTreeStrata"
		schemaLocation="DeadTreeStratum.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/treeStandSummary"
		schemaLocation="TreeStandSummary.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://skeemat.jhs-suositukset.fi/yhteiset/2009/03/04"
		schemaLocation="JHS170_20090304.xsd"/>

	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="TreeStandData" type="TreeStandDataType"/>
	<xs:element name="TreeStandDataDate" type="TreeStandDataDateType"/>
	<xs:element name="AlternativeIdentifier" type="AlternativeIdentifierType"/>

	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:simpleType name="AlternativeIdentifierType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Suunnitelmavaihtoehdon tunniste. Erottaa eri suunnitelmavaihtoehtojen TreeStandSummary-elementit.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="TreeStandDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion puustotiedot tyypeittäin ja ajankohdittain.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stand data grouped by type and moment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TreeStandDataDate" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TreeStandDataDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion osoitetun tyyppinen (inventointi/laskenta/ennuste) puusto ajankohtana pvm.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Some moment data of tree stand specified by date and type.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="AlternativeIdentifier" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="tst:TreeStrata" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="dts:DeadTreeStrata" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="tss:TreeStandSummary" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="sd:StemDistribution" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="sds:StemDistributionStrata" minOccurs="0" maxOccurs="1"/>
			<xs:element minOccurs="0" name="OperationTreeReduction"
				type="OperationTreeReductionType"/>
			<xs:element minOccurs="0" name="SeedlingData" type="SeedlingDataType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimitiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ControlStandTreeStandSummary"
				type="ControlStandTreeStandSummaryType"/>
		</xs:sequence>
		<xs:attribute name="type" type="TreeStandDataMomentType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Ajankohdan tyyppi</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Type of moment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="date" type="co:DateType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Ajankohdan pvm. Inventointi-, laskenta- tai ennustepvm.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Date of moment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="TreeStandDataMomentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Laskenta- ja ennustetyyppi eri koodeina koska ainakin aiemmin metsäkeskuksissa on käytetty tulevaisuuden puuston esittämisessä molempia. Laskentatyyppisessä tiedot on esitetty puusto-ositetarkkuudella ja ennustetyyppisessä on ollut pelkkä yhteenveto. Näiden kahden tyypin soveltamisesta voivat tiedonsiirtosovellukset päättää keskenään.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:TreeStandDataMomentType"/>
	</xs:simpleType>
	<xs:complexType name="OperationTreeReductionType">
		<xs:sequence>
			<xs:element name="StubStemCount" type="co:PositiveInteger6digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hakatun harvennushakkuun kantojan määrä. Kpl/ha Laskentasääntö: 10 000 m2*Puuluokkaan 8 kuuluvien puiden lkm/Koealojen pinta-alojen summa m2 (jos hta on 2 tai 3, niin s/k. kpl/ha kenttään Virtaan siirretään tallentimelta tämän kentän arvo)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="StubMeanDiameter"
				type="co:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kantojen keskiläpimitta cm. Suurin mahdollinen arvo on on 99,9. Laskentasääntö: Koealakohtaisten dk arvojen keskiarvo.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SeedlingDataType">
		<xs:sequence>
			<xs:element minOccurs="1" name="SeedlingStratum" type="SeedlingStratumType"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimiosite</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SeedlingStratumType">
		<xs:sequence>
			<xs:element minOccurs="0" name="TreeSpecies" type="co:TreeSpeciesType"/>
			<xs:element minOccurs="0" name="SeedlingBeginningCode"
				type="co:SeedlingBeginningCodeType"/>
			<xs:element minOccurs="0" name="Amount" type="co:PositiveInteger6digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimien lukumäärä,  kpl</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="AmountInSpot" type="co:PositiveInteger6digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimien määrä muokkausjäljessä (kpl)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="AmountOutsideSpot" type="co:PositiveInteger6digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimien määrä muualla kuin muokkausjäljessä, kpl</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="AmountUnit" type="co:AmountUnitType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ControlStandTreeStandSummaryType">
		<xs:sequence>
			<xs:element name="StemCount" type="co:StemCountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkoluku kpl/ha. Laskentasääntö: 10 000 m2*muiden kuin puuluokaltaan arvot 0, 7, 8 tai 9 omaavien puiden lkm tietojen summa/Koealojen pinta-alojen summa m2 (huomioidaan siis myös puutason lkm tiedot, joissa plk on tyhjä) Hirvivahinkolaskennoissa TIH arvo.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="PineDecimal" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Männyn osuus kymmenyksinä</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpruceDecimal" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuusen osuus kymmenyksinä</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirchDecimal" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koivujen osuus kymmenyksinä</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeedStemCount" type="co:PositiveInteger6digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hakatun uudistushakkuun siemenpuiden määrä kpl/ha. Laskentasääntö: 10 000 m2*Puuluokkaan 9 kuuluvien puiden lkm/Koealojen pinta-alojen summa m2 (jos hta on muu kuin 2 tai 3, niin s/k. kpl/ha kenttään Virtaan siirretään tallentimelta tämän kentän arvo).</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasalArea" type="co:BasalAreaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">pohjapinta-ala (mahtuu peräti 6 merkkiä, mutta maastotallentimelle tila 3 viimeiselle numerolle) Laskentasääntö: 10 000 m2*muiden kuin puuluokaltaan arvot 0, 7 tai 8 omaavien puiden pohjapinta-alojen m2 summa/Koealojen pinta-alojen summa m2. Yksittäisen puun pohjapinta-ala lasketaan kaavalla  πr2 jossa r=lpm/2. Pyöristetään kokonaisluvuksi. Osatasolle lasketaan koealojen keskiarvona. Voidaan syöttää myös numeroarvona relaskooppia käytettäessä.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanDiameter"
				type="co:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">pohjapinta-alalla painotettu keskiläpimitta cm. Suurin mahdollinen arvo on 99,9. Laskentasääntö: muiden kuin puuluokaltaan arvot 0, 7 tai 8 omaavien puiden läpimittojen neliöiden summa jaettuna niiden kuutioiden summalla.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanAge" type="co:AgeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsikön ikä vuosissa</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="DominantHeight"
				type="co:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Valtapituus metriä, osan koealojen valtapituuksien keskiarvo. Voidaan tallentaa myös suoraan osatasolle.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="AverageHeight"
				type="co:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskipituus metriä, osan koealojen keskipituuksien keskiarvo. Voidaan tallentaa myös suoraan osatasolle.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
