schema/WorkingSiteTrade_CallForOfferWorkingSite_20110214.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Tarjouspyynnön kohteen / työmaan elementit ja tyypit.
	Skeema on JHS-170 -suosituksen mukainen.
	
	 VERSIOKOMMENTIT 1.0 >>> 1.1 
	 Tyypin "CertificationSystemType" koodistoon lisätty arvo 3 ("Ei tietoa") 
	 Useita tyyppimäärittelyjä siirretty skeemaan "WorkingSiteTrade_Common_20110214.xsd" 
	 Lisätty tyyppi "CallForOfferWorkingSiteSilvicultureInfoType" 
	
	VERSIOKOMMENTIT 1.1 >> 1.2
	15.8.2014 
	- Skeemat Common.xsd,Common_BasicDataType.xsd,ForestEnumeratives.xsd on 
	yhdeksi nimiavaruudeksi: xmlns="http://standardit.tapio.fi/schemas/forestData/common" 
	
	- ContactInformation_20110214.xsd -> ContactInformation.xsd
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/contactInformation/2011/02/14"
	-> 	targetNamespace="http://standardit.tapio.fi/schemas/forestData/contactInformation
	
	VERSIOKOMMENTIT 1.2 >> 1.3	
	26.5.2015 Sertifiointitieto lisätty leimikkotasolle
	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/workingsitetrade/callforofferworkingsite/2011/02/14"
	xmlns="http://standardit.tapio.fi/schemas/workingsitetrade/callforofferworkingsite/2011/02/14"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:wtco="http://standardit.tapio.fi/schemas/workingsitetrade/common/2011/02/14"
	xmlns:ci="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	xmlns:wsst="http://standardit.tapio.fi/schemas/workingsitetrade/stand/2011/02/14"
	xmlns:pr="http://standardit.tapio.fi/schemas/workingsitetrade/product"	
	elementFormDefault="qualified"
	attributeFormDefault="qualified"
	version="1.3">
	
	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/stand/2011/02/14"
				schemaLocation="WorkingSiteTrade_Stand_20110214.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/contactInformation"
				schemaLocation="ContactInformation.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/common/2011/02/14"
				schemaLocation="WorkingSiteTrade_Common_20110214.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
				schemaLocation="Common.xsd"/>			
	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/product"
				schemaLocation="WorkingSiteTrade_Product.xsd"/>				

	<!-- Elementtimääritykset -->
   	<!-- Element definitions -->
   	<xs:element name="WorkingSite" type="WorkingSiteType"/>
   	<xs:element name="IncludeInOffer" type="IncludeInOfferType"/>
   	<xs:element name="Sellers" type="wtco:SellersType"/>
   	<xs:element name="VATInfo" type="wtco:VATInfoType"/>
   	<xs:element name="VATStatus" type="wtco:VATStatusType"/>
   	<xs:element name="VATRegistrationDate" type="wtco:VATRegistrationDateType"/>
   	<xs:element name="CertificationSystems" type="wtco:CertificationSystemsType"/>
   	<xs:element name="CertificationSystem" type="wtco:CertificationSystemType"/>
   	<xs:element name="RealEstate" type="wtco:RealEstateType"/>
   	<xs:element name="WorkingSiteGeometries" type="wtco:WorkingSiteGeometriesType"/>
	<xs:element name="WorkingSiteName" type="wtco:WorkingSiteNameType"/>
	<xs:element name="WorkingSiteText" type="WorkingSiteTextType"/>
	<xs:element name="RoadUsingRight" type="wtco:RoadUsingRightType"/>
	<xs:element name="CallForOfferWorkingSiteWoodTradeInfo" type="wtco:CallForOfferWorkingSiteWoodTradeInfoType"/>
	<xs:element name="CallForOfferWorkingSiteSilvicultureInfo" type="CallForOfferWorkingSiteSilvicultureInfoType"/>
	<xs:element name="SellerRepresentativePerson" type="wtco:SellerRepresentativePersonType"/>
	<xs:element name="SilviculturalOperations" type="SilviculturalOperationsType"/>
	<xs:element name="SilviculturalOperation" type="SilviculturalOperationType"/>
	<xs:element name="Products" type="pr:ProductsType"/>
	
	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:complexType name="WorkingSiteType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksittäisen työkohteen tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Single working site data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:TimeStamp">
				<xs:annotation>
					<xs:documentation xml:lang="fi">VANHA NIMI = Timestamp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingSiteName">
				<xs:annotation>
					<xs:documentation xml:lang="fi">VANHA NIMI = Stand1Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="IncludeInOffer">
				<xs:annotation>
					<xs:documentation xml:lang="fi">VANHA NIMI = MustBeIncludedInOffer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SellerRepresentativePerson"/>
			<xs:element ref="Sellers">
				<xs:annotation>
					<xs:documentation xml:lang="fi">VANHA NIMI = RealPropertyOwner ja yksikkörakenne</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="VATInfo"/>
			<xs:element ref="RealEstate">
				<xs:annotation>
					<xs:documentation xml:lang="fi">VANHA NIMI = RealProperty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingSiteText" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">VANHA NIMI = StandText</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="RoadUsingRight" minOccurs="0"/>
			<xs:element ref="CallForOfferWorkingSiteWoodTradeInfo" minOccurs="0"/>
			<xs:element ref="wsst:Stands" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Leimikon kuvioiden tiedot. Hankinta- ja käteiskaupoissa ei sisällytetä mukaan.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="wtco:CertificationSystems" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Leimikon sertifiointitieto.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:element>				
			<xs:element ref="WorkingSiteGeometries" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">VANHA NIMI = StandGeometries.</xs:documentation>
					<xs:documentation xml:lang="fi">Leimikon sijantialueen paikkatieto. Hakkuuseen ja lähikuljetukseen vaikuttavat kohteet. Pistemäisiä, viivamaisia ja aluemaisia kohteita.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Points, lines and polygons that have some mening for felling and forwarding. Eg. diversity objects.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="CallForOfferWorkingSiteSilvicultureInfo" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="parentId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Viiteavain pääsanoman avaintietoon (tarjouspyynnön tunniste).</xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en">Surrogate reference key for call for offer.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Tarjouspyynnön työmaa yksilöidään tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="en">Working site of call for offer can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="IncludeInOfferType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kertoo tuleeko tämä leimikko sisällyttää tarjoukseen (0 = ei pakollinen, 1 = sisällytettävä)</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Indicates whether this stand must be included in offer or not (0= not necessary, 1= must be)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:YesNoType"/>
	</xs:simpleType>

	<xs:simpleType name="WorkingSiteTextType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Myyjän työmaakohtainen ostajalle toimitettava teksti (huomautusteksti).</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="CallForOfferWorkingSiteSilvicultureInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksittäisen metsänhoitotyön tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Single treatment data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="SilviculturalOperations"/>
			<xs:element ref="Products" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>		
	
	<xs:complexType name="SilviculturalOperationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänhoitotyö.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Metsänhoitotyön yksilöivä id.</xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en">Silviculture ID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>	
	
	<xs:complexType name="SilviculturalOperationsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänhoitotöiden luettelo.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="SilviculturalOperation" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>