schema/WorkingSiteWorkLoad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 (x64) (http://www.altova.com) by Fifth Element Oy (Fifth Element Oy) -->
<!-- WorkingSiteWorkLoad Schema version Schema version 0.13.0 (24.3.2016) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://standardit.tapio.fi/schemas/forestData/WorkingSiteWorkLoad"
           xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common"
           targetNamespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteWorkLoad"
           elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.3">
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common_BasicDataType.xsd"/>
	<xs:element name="WorkingSiteWorkLoad" type="WorkingSiteWorkLoadType">
		<xs:annotation>
			<xs:documentation>Työmääräilmoitus</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="WorkingSiteWorkLoadType">
		<xs:sequence>
			<xs:element name="ServiceBuyerId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan tunnus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSiteId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandNumber" type="bdt:String10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon kuvion numero. Metsänparannuksessa voidaan jättää pois
						esim. lannoituksessa.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkLoadId" type="xs:unsignedLong">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työmääräilmoituksen yksilöivä id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Accepted" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Yrittäjä on hyväksynyt työmääräilmoituksen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Resurssin tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käyttäjätunnus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCode" type="bdt:WorkCodeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlaji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCodeQualifier1" type="bdt:WorkCodeQualifierType1" minOccurs="0"  maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajin lisämääre, Menetelmä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCodeQualifier2" type="bdt:WorkCodeQualifierType2" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajin lisämääre,Käsittelytapa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCodeQualifier3" type="bdt:WorkCodeQualifierType3" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajin lisämääre,Käsittelynvoimakkuus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCodeQualifier4" type="bdt:WorkCodeQualifierType4" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajin lisämääre,Käsittelymenetelmä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCodeQualifier5" type="bdt:WorkCodeQualifierType5" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajin lisämääre,Lisätyöt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkLoad1" type="bdt:Decimal2FractionDigitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työmäärä1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkLoad1Unit" type="bdt:WorkCodeUnitType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työmäärän1 yksikkö</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkLoad2" type="bdt:Decimal2FractionDigitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työmäärä2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkLoad2Unit" type="bdt:WorkCodeUnitType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työmäärän2 yksikkö</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkLoadInvoiced" type="bdt:Decimal2FractionDigitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Laskutettava työmäärä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkLoadUnitInvoiced" type="bdt:WorkCodeUnitType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Laskutettava yksikkö</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Materials" type="MaterialsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeeBasis" type="FeeBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperusteet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandFinished" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvio päättyy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InfoText" type="bdt:String1000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lisätiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MaterialsType">
		<xs:sequence>
			<xs:element name="Material" type="MaterialType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaali</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MaterialType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mariaali</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MaterialCode" type="bdt:MaterialCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaali</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaterialVolume" type="bdt:Decimal2FractionDigitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalimäärä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaterialUnit" type="bdt:MaterialUnitType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalin yksikkö</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaterialSupplier" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalin toimittaja</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaterialProducer" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalin alkuperä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaterialShipment" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalierä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreezingDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pakastuspäivä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagingDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pakkauspäivä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnfreezingDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Otettu sulamaan</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeeBasisType">
		<xs:sequence>
			<xs:element name="FeeBase" type="FeeBasisDataType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeeBasisDataType">
		<xs:sequence>
			<xs:element name="FeeId" type="bdt:String10Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperusteen id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeeListId" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperustelistan id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeeYesNo" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperuste kyllä/ei –tieto (jos peruste kyllä/ei –tyyppinen)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeeValue" type="bdt:String10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperuste määrä (jos peruste määrä-tyyppinen)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeeAssortment" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperusteen lisätieto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Infotext" type="bdt:String1000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lisätieto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NeedToCheck" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperusteilla tarkistustarve</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
