schema/WorkingSiteTrade_Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	******************************************************************
	Yhteiset tyypit, joita käytetään useissa eri skeemoissa.
	Skeema on JHS-170 -suosituksen mukainen.
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V11.06:
	-Lisätty uusi complexType-määrittely CuttingPlannerType (korjuusuunnittelijan tiedot), extensionBase=ci:ContactInformationType
	*******************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/workingsitetrade/common"
	xmlns="http://standardit.tapio.fi/schemas/workingsitetrade/common"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
	xmlns:ci="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	xmlns:sf="http://standardit.tapio.fi/schemas/forestData/specialFeature"
	xmlns:re="http://standardit.tapio.fi/schemas/forestData/realEstate"
	xmlns:as="http://standardit.tapio.fi/schemas/workingsitetrade/assortment"
	elementFormDefault="qualified" version="V11.06">

	<!-- Imports / Includes -->
	<xs:import namespace="http://www.w3.org/2005/05/xmlmime"
		schemaLocation="../w3c/2005/xmlmime.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/contactInformation"
		schemaLocation="ContactInformation.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/specialFeature"
		schemaLocation="SpecialFeature.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/realEstate"
		schemaLocation="RealEstate.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/assortment"
		schemaLocation="WorkingSiteTrade_Assortment.xsd"/>

	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="PurchaseMode" type="PurchaseModeType"/>
	<xs:element name="Documents" type="DocumentsType"/>
	<xs:element name="Document" type="co:DocumentType"/>
	<xs:element name="DocumentClass" type="DocumentClassType"/>
	<xs:element name="DocumentDescription" type="DocumentDescriptionType"/>
	<xs:element name="FileBinary" type="xmime:base64Binary"/>
	<xs:element name="UsedPricingMethods" type="UsedPricingMethodsType"/>
	<xs:element name="UsedPricingMethod" type="UsedPricingMethodType"/>
	<xs:element name="IncludePaymentPlan" type="IncludePaymentPlanType"/>
	<xs:element name="IncludeForestFundPayment" type="IncludeForestFundPaymentType"/>
	<xs:element name="WorkingSiteGeometry" type="sf:LocatedSpecialFeature2Type"/>
	<xs:element name="ForestUseDeclarationResponsible" type="co:ForestUseDeclarationResponsibleType"/>
	<xs:element name="FellingRightValidityDate" type="FellingRightValidityDateType"/>
	<xs:element name="SupplyPoint" type="SupplyPointType"/>
	<xs:element name="Cuttings" type="CuttingsType"/>
	<xs:element name="Cutting" type="CuttingType"/>
	<xs:element name="VATStatus" type="VATStatusType"/>
	<xs:element name="VATRegistrationDate" type="VATRegistrationDateType"/>
	<xs:element name="CertificationSystems" type="CertificationSystemsType"/>
	<xs:element name="CertificationSystem" type="CertificationSystemType"/>
	<xs:element name="Seller" type="SellerType"/>

	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:simpleType name="PurchaseModeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puukauppamuodon koodit.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Modes for wood purchase.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:PurchaseModeType"/>
	</xs:simpleType>
	
	<xs:simpleType name="MessageTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Sanoman tyyppi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Message type. Used at least to identify businessAcceptance message's target.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:MessageTypeType"/>
	</xs:simpleType>
	
	<xs:complexType name="DocumentsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Dokumentit.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Documents.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Document" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="DocumentClassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Dokumenttiluokka / -tyyppi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Document class / type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:DocumentClassType"/>
	</xs:simpleType>
	
	<xs:simpleType name="DocumentDescriptionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Dokumentin sisällön kuvaus.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Document description.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CallForOfferBusinessSenderRoleType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarjouspyynnön lähettäjän rooli.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Role of business sender of call for offer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:CallForOfferBusinessSenderRoleType"/>
	</xs:simpleType>
	
	<xs:complexType name="CallForOfferBusinessSenderType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarjouspyynnön jättäjän yhteystiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Business person who generated call for offer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ci:ContactInformationType">
				<xs:attribute name="role" type="CallForOfferBusinessSenderRoleType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="fi">Henkilö/organisaation rooli.</xs:documentation>
						<xs:documentation xml:lang="sv"/>
						<xs:documentation xml:lang="en">Role of person/organization.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:simpleType name="CallForOfferTextType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarjouspyynnön teksti.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1500"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="IncludePaymentPlanType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toive puukaupan maksusuunnitelman sisällyttämisestä tarjoukseen.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Request to include payment plan of wood trade in offer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:YesNoType"/>
	</xs:simpleType>
	
	<xs:simpleType name="IncludeForestFundPaymentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puukauppaan sisältyy metsäsäätiöavustus.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Wood trade includes forest fund payment.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:YesNoNotKnownType"/>
	</xs:simpleType>
	
	<xs:complexType name="UsedPricingMethodsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toiveet käytettävästä hinnoittelumenetelmästä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Requests for used pricing method.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="UsedPricingMethod" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="UsedPricingMethodType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toive käytettävästä hinnoittelumenetelmästä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Request for used pricing method.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:UsedPricingMethodType"/>
	</xs:simpleType>
	
	<xs:complexType name="CallForOfferWoodTradeInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puukaupan tarjouspyynnön tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Wood purchase call for offer data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="PurchaseMode"/>
			<xs:element ref="IncludePaymentPlan" minOccurs="0"/>
			<xs:element ref="IncludeForestFundPayment"/>
			<xs:element ref="UsedPricingMethods" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="WorkingSiteGeometriesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Leimikon sijantialueen paikkatieto. Hakkuuseen ja lähikuljetukseen vaikuttavat kohteet. Pistemäisiä, viivamaisia ja aluemaisia kohteita.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Points, lines and polygons that have some mening for felling and forwarding. Eg. diversity objects.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="WorkingSiteGeometry" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- <xs:simpleType name="ForestUseDeclarationResponsibleType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänkäyttöilmoituksen tekijä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:ForestUseDeclarationResponsibleType"/>
		</xs:simpleType> -->
	
	<xs:simpleType name="FellingRightValidityDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Pvm, johon asti hakkuuoikeus voimassa.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:DateType"/>
	</xs:simpleType>
	
	<xs:simpleType name="SupplyPointType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Varastopaikka olemassa / selvitetty</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:YesNoNotKnownType"/>
	</xs:simpleType>
	
	<xs:complexType name="CuttingType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Leimikon myytäväksi tarjottava hakkuu.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Hakkuun yksilöivä id.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">id which identified cutting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="CuttingsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Leimikon myytäväksi tarjottavat hakkuut.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Cutting" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CallForOfferWorkingSiteWoodTradeInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksittäisen leimikon tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Single stand data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ForestUseDeclarationResponsible" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="FellingRightValidityDate" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SupplyPoint" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="as:AssortmentClasses" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Leimikon puutavaralajiluokittaiset yhteenvetotiedot puutavaralajien määristä.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<!-- LISTA TARJOLLA OLEVISTA HAKKUISTA (HAKKUUID:T) -->
			<xs:element ref="Cuttings" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Documents" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="RoadUsingRightType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tieoikeus olemassa / selvitetty</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:YesNoNotKnownType"/>
	</xs:simpleType>
	
	<xs:simpleType name="CertificationSystemType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Sertifiointijärjestelmät.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Certification systems.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:CertificationSystemType"/>
	</xs:simpleType>
	
	<xs:complexType name="CertificationSystemsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Voimassa olevat sertifiointijärjestelmät.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Valid certification systems.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CertificationSystem" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RealEstateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työmaan sijaintikiinteistön tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Real property where working site is located.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="re:BaseRealEstateType">
				<xs:sequence>
					<xs:element ref="CertificationSystems" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:simpleType name="VATRegistrationDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvonlisäverovelvollisuuden rekisteröimispäivämäärä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:DateType"/>
	</xs:simpleType>
	
	<xs:simpleType name="VATStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvonlisäverovelvollisuus.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:VATStatusType"/>
	</xs:simpleType>
	
	<xs:complexType name="VATInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvonlisäverotustiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="VATStatus"/>
			<xs:element ref="VATRegistrationDate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="SellerGroupType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Myyjäryhmäkoodi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:SellerGroupType"/>
	</xs:simpleType>
	
	<xs:complexType name="SellerType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työmaan myyjän (kiinteistön omistajan/haltijan) tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Person who sell working site (owns or controls real estate).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ci:ContactInformationType"/>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="SellersType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työmaan myyjät (kiinteistön omistajat/haltijat).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Persons who sell working site (owns or controls real estate).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Seller" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="subsidyPossibility" type="co:YesNoNotKnownType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Myyjän (Kemera-)tukikelpoisuus.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en"/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sellerGroup" type="SellerGroupType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Myyjäryhmä.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en"/>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="SellerRepresentativePersonType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Myyjän edustaja leimikkoon liittyvissä käytännön kysymyksissä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Person who should be contacted in practical issues/questions.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ci:ContactInformationType"/>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="CuttingPlannerType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Korjuusuunnittelijan tiedot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Cutting planner information</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ci:ContactInformationType"/>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:simpleType name="WorkingSiteNameType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työmaan yksilöivä tai tunnistamista helpottava nimi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Some short and not numeric name for working site.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>
