schema/WorkingSiteQualityControlPlantManagement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlPlantManagement" xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common" xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes" targetNamespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlPlantManagement" elementFormDefault="qualified" attributeFormDefault="unqualified" version="V10.05">
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common_BasicDataType.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes" schemaLocation="Common_GeometricDataType.xsd"/>
	<xs:element name="WorkingSiteQualityControlPlantManagement" type="WorkingSiteQualityControlPlantManagementType"/>
	<xs:complexType name="WorkingSiteQualityControlPlantManagementType">
		<xs:sequence>
			<xs:element name="ServiceBuyerId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSiteId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Images" type="bdt:PositiveInteger2digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Valokuvien lukumäärä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotSummaries" type="SamplePlotSummariesType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen summatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlots" type="SamplePlotsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SamplePlotSummariesType">
		<xs:sequence>
			<xs:element name="SamplePlotSummary" type="SamplePlotSummaryType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen mittaajatyyppikohtaiset summatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SamplePlotSummaryType">
		<xs:sequence>
			<xs:element name="StandNumber" type="bdt:String10Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotMeasurementSummary" type="SamplePlotMeasurementSummaryType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen mittaajatyyppikohtaiset summatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SamplePlotMeasurementSummaryType">
		<xs:sequence>
			<xs:element name="MeasurerType" type="bdt:MeasurerTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaajatyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReductionCountSummary" type="bdt:PositiveInteger5digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Poistuman runkoluku keskiarvo/ha</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReductionAvgDiameterSummary" type="bdt:Decimal2FractionDigitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Poistuman kannon keski lpm keskiarvo (mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandAvgDiameterSummary"
						type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">puuston keskiläpimitta (mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandAvgHeightSummary" type="bdt:Decimal1FractionDigitType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">puuston keskipituus (cm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandAvgAgeSummary" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">puuston keski-ikä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandAvgStemCountSummary" type="bdt:PositiveInteger5digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puuston keskitiheys (runkoluku)/ha</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TreeSummaries" type="SamplePlotTreesSummaryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulajikohtaiset mittaustiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SamplePlotTreesSummaryType">
		<xs:sequence>
			<xs:element name="TreeSummary" type="TreeSummaryType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulajikohtaiset mittaustiedot (1..n)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TreeSummaryType">
		<xs:sequence>
			<xs:element name="TreeSpecies" type="bdt:TreeSpeciesType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulaji </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgeSummary" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ikä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCountSummary" type="bdt:PositiveInteger5digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkoluku/ha</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanHeightSummary" type="bdt:Decimal1FractionDigitType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskipituus (cm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanDiameterSummary" type="bdt:PositiveInteger3digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskiläpimitta (mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SamplePlotsType">
		<xs:sequence>
			<xs:element name="SamplePlot" type="SamplePlotType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SamplePlotType">
		<xs:sequence>
			<xs:element name="SamplePlotNumber" type="bdt:PositiveIntegerType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealanumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandNumber" type="bdt:String10Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Resurssi ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureDate" type="bdt:DateType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittausaika</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Measurable" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko mitattavissa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Measurer" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaaja</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasurerType" type="bdt:MeasurerTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaajatyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeometryReal" type="gdt:PointGeometryType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan sijainti, geometria_mitattu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeometryRequired" type="gdt:PointGeometryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan MJ:stä saatu sijainti, geometria_vaadittu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Radius" type="bdt:Decimal2FractionDigitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan säde (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isGPSlocation" type="bdt:YesNoType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Gps</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RadiusReduction" type="bdt:Decimal2FractionDigitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Poistuman koealan säde (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Storey" type="bdt:StoreyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puustojakso</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReductionCount" type="bdt:PositiveInteger2digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Poistuman runkoluku</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReductionAvgDiameter" type="bdt:Decimal2FractionDigitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Poistuman kannon keski lpm (mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Trees" type="SamplePlotTreesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulajikohtaiset mittaustiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SamplePlotTreesType">
		<xs:sequence>
			<xs:element name="Trees" type="TreeType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulajikohtaiset mittaustiedot (1..n)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TreeType">
		<xs:sequence>
			<xs:element name="TreeSpecies" type="bdt:TreeSpeciesType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulaji </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Age" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ikä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCount" type="bdt:PositiveInteger2digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkoluku</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanHeight" type="bdt:Decimal1FractionDigitType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskipituus (cm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanDiameter" type="bdt:PositiveInteger3digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskiläpimitta (mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
