schema/WorkingSiteFinalAuditCutting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 (x64) (http://www.altova.com) by Fifth Element Oy (Fifth Element Oy) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common"
           xmlns="http://standardit.tapio.fi/schemas/forestData/workingSiteFinalAuditCutting"
           targetNamespace="http://standardit.tapio.fi/schemas/forestData/workingSiteFinalAuditCutting"
           elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.3">
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common_BasicDataType.xsd"/>
	<xs:element name="WorkingSiteFinalAuditCutting" type="WorkingSiteFinalAuditCuttingType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Korjuun loppuarviointi/laadunseuranta</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="WorkingSiteFinalAuditCuttingType">
		<xs:sequence>
			<xs:element name="ServiceBuyerId" type="ServiceBuyerIdType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSiteId" type="WorkingSiteIdType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HarvesterId" type="ResourceIdType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Yrittäjän tunniste (alv-tunnus)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForwarderId" type="ResourceIdType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Resurssin tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurchaseContractId" type="PurchaseContractIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsänhoitotilauksen sopimusnumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCodeGroup" type="bdt:WorkCodeGroupType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajiryhmän koodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCode" type="bdt:WorkCodeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajin koodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Audit" type="AuditionType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Arvioinnin tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InfoText" type="InfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lisätiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Images" type="ImagesType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Valokuvien lkm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Audits" type="AuditsType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ServiceBuyerIdType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WorkingSiteIdType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PurchaseContractIdType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ostosopimusnumero</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResourceIdType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Resurssi ID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Pinta-ala</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bdt:Decimal2FractionDigitsType"/>
	</xs:simpleType>
	<xs:simpleType name="WorkingTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työskentelyn ajankohta</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bdt:DateType"/>
	</xs:simpleType>
	<xs:simpleType name="FinalAuditDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvioinnin ajankohta</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bdt:TimeStampType"/>
	</xs:simpleType>
	<xs:simpleType name="FinalAuditerType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvoitsijan nimi</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FinalAuditRequiredType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Onko loppuarvionti vaadittu MJ:stä</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bdt:YesNoType"/>
	</xs:simpleType>
	<xs:complexType name="AuditionType">
		<xs:sequence>
			<xs:element name="FinalAuditType" type="FinalAuditTypeType" minOccurs="0"/>
			<xs:element name="FinalAuditerType" type="FinalAuditerTypeType" minOccurs="1"/>
			<xs:element name="FinalAuditer" type="FinalAuditerType" minOccurs="1"/>
			<xs:element name="FinalAuditDate" type="FinalAuditDateType" minOccurs="1"/>
			<xs:element name="FinalAuditRequired" type="FinalAuditRequiredType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="FinalAuditTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Loppuarvioinnin tyyppi (laaja/suppea)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Suppea</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Laaja</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FinalAuditerTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Loppuarvioinnin tekijän tyyppi</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työntekijä/kuljettaja</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Yrittäjä</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimihenkilö</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AuditsType">
		<xs:sequence>
			<xs:element name="SaveTreesLeft" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko säästöpuita jätetty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SaveTreesLeftText" type="AuditInfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko säästöpuita jätetty selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasEnvironmentalObjects" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko havaittu uusia luontokohteita</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasEnvironmentalObjectsText" type="AuditInfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko havaittu uusia luontokohteita selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasFoundNewEnvironmentalObjects" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko havaittu uusia luontokohteita</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewEnvironmentalObjectsText" type="AuditInfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko havaittu uusia luontokohteita selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmentalObjectsNoticed" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko ympäristö ja muinaismuistokohteet huomioitu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmentalObjectsNoticedText" type="AuditInfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko ympäristö ja muinaismuistokohteet huomioitu selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LimitsToWaterSystem" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Rajoittuuko vesistöön</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LimitsToWaterSystemText" type="AuditInfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Rajoittuuko vesistöön selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaterSystemProtection" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Suojakaista vesistöön huomioitu koneellisessa istutuksessa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaterSystemProtectionText" type="AuditInfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Suojakaista vesistöön huomioitu koneellisessa istutuksessa selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSafetyNoticed" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työturvallisuusasiat huomioitu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSafetyNoticedText" type="AuditInfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työturvallisuusasiat huomioitu selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingInstructionsSufficient" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työohje ja maastomerkinnät riittävät</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingInstructionsSufficientText" type="AuditInfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työohje ja maastomerkinnät riittävät selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StumpTreatment" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko kantokäsittelyn peittävyys riittävä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StumpTreatmentText" type="AuditInfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko kantokäsittelyn peittävyys riittävä selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HighStumps" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko korkeita kantoja</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HighStumpsText" type="AuditInfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko korkeita kantoja selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Storage" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko varastopaikka ohjeistuksen mukainen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageText" type="AuditInfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko varastopaikka ohjeistuksen mukainen selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RoadDamages" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aiheutuiko tiestövaurioita</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RoadDamagesText" type="AuditInfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aiheutuiko tiestövaurioita selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreClearing" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ennakkoraivaus ohjeen mukainen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreClearingText" type="AuditInfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ennakkoraivaus ohjeen mukainen selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TreeDamages" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aiheutuiko puustovaurioita</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TreeDamagesText" type="AuditInfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aiheutuiko puustovaurioita selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehiclePathPressures" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aiheutuiko ajourapainaumia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehiclePathPressuresText" type="AuditInfoTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aiheutuiko ajourapainaumia selite</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AuditInfoTextType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Seliteteksti arvioinnille</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InfoTextType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Loppuarvioinnin lisätiedot</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImagesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Valokuvien lukumäärä</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bdt:PositiveInteger2digitsType"/>
	</xs:simpleType>
</xs:schema>
