schema/WorkingSiteTrade_CallForOffer_20110214.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Työmaiden tarjouspyynnön elementit ja tyypit.
	Skeema on JHS-170 -suosituksen mukainen.
	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/workingsitetrade/callforoffer/2011/02/14"
	xmlns="http://standardit.tapio.fi/schemas/workingsitetrade/callforoffer/2011/02/14"
	xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common/basicDataTypes/2010/08/31"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common/2010/08/31"
	xmlns:wtco="http://standardit.tapio.fi/schemas/workingsitetrade/common/2011/02/14"
	xmlns:ci="http://standardit.tapio.fi/schemas/forestData/contactInformation/2011/02/14"
	xmlns:ws="http://standardit.tapio.fi/schemas/workingsitetrade/workingsite/2011/02/14"
	elementFormDefault="qualified"
	attributeFormDefault="qualified"
	version="1.0">

	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/workingsite/2011/02/14"
				schemaLocation="WorkingSiteTrade_WorkingSite_20110214.xsd"/>

	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/contactInformation/2011/02/14"
				schemaLocation="ContactInformation_20110214.xsd"/>
	
	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/common/2011/02/14"
				schemaLocation="WorkingSiteTrade_Common_20110214.xsd"/>

	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/2010/08/31"
				schemaLocation="Common_20100831.xsd"/>

	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/basicDataTypes/2010/08/31"
			    schemaLocation="Common_BasicDataType_20100831.xsd"/>

	<!-- Elementtimääritykset -->
   	<!-- Element definitions -->
	<xs:element name="CallForOffer" type="CallForOfferType"/>
	<xs:element name="CallForOfferWoodTradeInfo" type="CallForOfferWoodTradeInfoType"/>
	<xs:element name="PurchaseMode" type="PurchaseModeType"/>
	<xs:element name="AdditionalCode" type="AdditionalCodeType"/>
	<xs:element name="Publicity" type="PublicityType"/>
	<xs:element name="CallForOfferBusinessSender" type="CallForOfferBusinessSenderType"/>
	<xs:element name="TechnicalContactPerson" type="TechnicalContactPersonType"/>
	<xs:element name="CallForOfferDate" type="CallForOfferDateType"/>
	<xs:element name="OfferExpirationDate" type="OfferExpirationDateType"/>
	<xs:element name="IncludePaymentPlan" type="IncludePaymentPlanType"/>
	<xs:element name="IncludeForestFundPayment" type="IncludeForestFundPaymentType"/>
	<xs:element name="UsedPricingMethods" type="UsedPricingMethodsType"/>
	<xs:element name="UsedPricingMethod" type="UsedPricingMethodType"/>
	<xs:element name="CallForOfferText" type="CallForOfferTextType"/>
	
	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:complexType name="CallForOfferType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarjouspyynnön tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Call for offer data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:TimeStamp">
				<xs:annotation>
					<xs:documentation xml:lang="fi">VANHA NIMI = Timestamp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AdditionalCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">VANHA NIMI = AdditionalModeCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="CallForOfferBusinessSender"/>
			<xs:element ref="TechnicalContactPerson" minOccurs="0"/>
			<xs:element ref="CallForOfferDate"/>
			<xs:element ref="OfferExpirationDate"/>
			<xs:element ref="CallForOfferText" minOccurs="0"/>
			<xs:element ref="CallForOfferWoodTradeInfo" minOccurs="0"/>
			<!--  Vaihtoehtona metsähoitorakenne -->
			<xs:element ref="ws:CallForOfferWorkingSites">
				<xs:annotation>
					<xs:documentation xml:lang="fi">VANHA NIMI = Stands</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="wtco:Documents" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Tarjouspyyntö yksilöidään tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en">Call for offer can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="CallForOfferWoodTradeInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puukaupan tarjouspyynnön tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Wood purchase call for offer data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="PurchaseMode"/>
			<xs:element ref="IncludePaymentPlan" minOccurs="0"/>
			<xs:element ref="IncludeForestFundPayment"/>
			<xs:element ref="UsedPricingMethods" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="PurchaseModeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lopullisen puukaupan kauppamuoto.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Mode for planned purchase (stumpage, roadside etc).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="wtco:PurchaseModeType"/>
	</xs:simpleType>
	
	<xs:simpleType name="AdditionalCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Koodi määrittelee tarkemmin kaupanteko tapaa. Käytännöt ja sisällöt tiedonsiirto-osapuolien vapaasti sovittavissa.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Additional code for eg. accommodate purchase mode. Practices and contents are freely agreed of data transfer partners.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="PublicityType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarjouspyynnön julkisuus.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Publicity of call for offer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base = "xs:string">
			<xs:enumeration value = "1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Julkinen kaikille</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "2">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Julkinen kohderyhryhmälle</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="CallForOfferBusinessSenderType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarjouspyynnön jättäjän yhteystiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Business person who generated call for offer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ci:ContactInformationType">
				<xs:attribute name="role" type="CallForOfferBusinessSenderRoleType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="fi">Henkilö/organisaation rooli.</xs:documentation>
						<xs:documentation xml:lang="sv"></xs:documentation>
						<xs:documentation xml:lang="en">Role of person/organization.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension> 
		</xs:complexContent>
	</xs:complexType>
	
	<xs:simpleType name = "CallForOfferBusinessSenderRoleType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarjouspyynnön lähettäjän rooli.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Role of business sender of call for offer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base = "xs:string">
			<xs:enumeration value = "1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsänomistaja</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "2">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Avustaja puukaupassa</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "3">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Valtakirjan omistaja</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="TechnicalContactPersonType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Teknisistä asioista vastaavan henkilön yhteystiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Technical person, used for solving and informing if technical problems occurs.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ci:ContactInformationType"/> 
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="CallForOfferDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarjouspyynnön jättöpvm.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Date when call for offer has been generated and sent to recipients (business point of view).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bdt:DateType"/>
	</xs:simpleType>
	
	<xs:simpleType name="OfferExpirationDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarjouksen viimeinen jättöpvm.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Last day for recipient to sent offer back.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bdt:DateType"/>
	</xs:simpleType>
	
	<xs:simpleType name="IncludePaymentPlanType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toive puukaupan maksusuunnitelman sisällyttämisestä tarjoukseen.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Request to include payment plan of wood trade in offer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bdt:YesNoType"/>
	</xs:simpleType>
	
	<xs:simpleType name="IncludeForestFundPaymentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puukauppaan sisältyy metsäsäätiöavustus.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Wood trade includes forest fund payment.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bdt:YesNoType"/>
	</xs:simpleType>
	
	<xs:complexType name="UsedPricingMethodsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toiveet käytettävästä hinnoittelumenetelmästä.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Requests for used pricing method.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="UsedPricingMethod" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="UsedPricingMethodType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toive käytettävästä hinnoittelumenetelmästä.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Request for used pricing method.</xs:documentation>
		</xs:annotation>
		<xs:restriction base = "xs:string">
			<xs:enumeration value = "1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kaikki</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "2">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tavaralajihinnoittelu</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "3">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Rungonosahinnoittelu</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "4">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkohinnoittelu</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "5">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Sekahinnoittelu</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value = "6">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pinta-alahinnoittelu</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CallForOfferTextType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarjouspyynnön teksti.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>