schema/WorkingSiteQualityControlCutting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 (x64) (http://www.altova.com) by Fifth Element Oy (Fifth Element Oy) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlCutting" xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common" xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes" targetNamespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlCutting" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common_BasicDataType.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes" schemaLocation="Common_GeometricDataType.xsd"/>
	<xs:element name="WorkingSiteQualityControlCutting" type="WorkingSiteQualityControlCuttingType"/>
	<xs:complexType name="WorkingSiteQualityControlCuttingType">
		<xs:sequence>
			<xs:element name="ServiceBuyerId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSiteId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandId" type="bdt:String10Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon kuvion numero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Resurssin ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QualityControlDate" type="bdt:DateType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Resurssin ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlots" type="SamplePlotsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SamplePlotsType">
		<xs:sequence>
			<xs:element name="SamplePlot" type="SamplePlotType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherTreeSpeciesType">
		<xs:sequence>
			<xs:element name="OtherTreeSpecies" type="OtherTreeSpeciesDataType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherTreeSpeciesDataType">
		<xs:sequence>
			<xs:element name="TreeSpecies" type="bdt:TreeSpeciesType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muu puulaji (pl. mä, ku, rko, hko)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCountOtherTreeSpecies" type="bdt:PositiveInteger2digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkoluku muu puulaji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasalAreaOtherTreeSpecies" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pohjapinta-ala muu puulaji</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SamplePlotType">
		<xs:sequence>
			<xs:element name="SamplePlotNumber" type="bdt:PositiveInteger3digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan numero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureDate" type="bdt:TimeStampType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaus pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Measurer" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaaja</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasurerType" type="bdt:MeasurerTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaajatyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geometry" type="gdt:PointGeometryType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan sijainti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isGPSlocation" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko sijainti mitattu GPS:llä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="District" type="bdt:ThinningDistrictType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Alue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Radius" type="bdt:Decimal2FractionDigitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan säde</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManipulationMethod" type="bdt:WorkCodeQualifierType2" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käsittelytapa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForestType" type="bdt:FertilityClassType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsätyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCountPine" type="bdt:PositiveInteger2digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkoluku mänty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCountSpruce" type="bdt:PositiveInteger2digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkoluku kuusi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCountHardWood" type="bdt:PositiveInteger2digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkoluku hieskoivu + muu lehtipuu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCountSilverBirch" type="bdt:PositiveInteger2digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkoluku rauduskoivu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanHeight" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskipituus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasalAreaPine" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pohjapinta-ala mänty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasalAreaSpruce" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pohjapinta-ala kuusi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasalAreaHardWood" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pohjapinta-ala hieskoivu + muu lehtipuu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasalAreaSilverBirch" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pohjapinta-ala rauduskoivu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Storey" type="bdt:StoreyType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Jakso</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiameterMax" type="bdt:PositiveInteger3digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Läpimitta 2. suurin</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiameterMin" type="bdt:PositiveInteger3digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Läpimitta 2. pienin</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanDiameter" type="bdt:PositiveInteger3digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskiläpimitta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCountTarget" type="bdt:PositiveInteger2digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tavoitepuusto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehiclePathDistance" type="bdt:PositiveDecimalMax4IntegralPartMax2FractionalPartType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ajouraväli (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehiclePathWidth" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ajouraleveys (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ThinningTooExcessive" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko hakattu liikaa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ThinningTooExcessiveCount" type="bdt:PositiveInteger2digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko havaittu uusia luontokohteita selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClearCutting" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko avohakkuu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherTreeSpecies" type="OtherTreeSpeciesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulajikohtaiset mittaustiedot (0..n)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
